<template>
  <div>
    <b-row
      ><b-col>
        <b-table
          striped
          hover
          :items="processedData"
          :fields="options.fields"
          :filter="options.filter"
          small
          :per-page="perPage"
          :current-page="currentPage"
          class="table-text"
          thClass="table-header"
        ></b-table> </b-col
    ></b-row>
    <b-row>
      <b-col cols="6" class="chart-table-pagination" v-if="paginate">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
          :hide-goto-end-buttons="true"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import ChartHelper from "@/mixins/ChartHelper";
import CsvHelper from "@/mixins/CsvHelper";
import _ from "lodash";

export default {
  created() {
    if (this.provider) {
      this.asyncData = true;
    }
  },
  data() {
    return {
      currentPage: 1,
      asyncData: false
    };
  },
  mixins: [ChartHelper, CsvHelper],
  props: {
    chartdata: {
      type: Object,
      default: null
    },
    options: {
      type: Object,
      default: null
    },
    id: String,
    provider: {
      // Data function for async tables
      type: Function
    }
  },
  computed: {
    processedData() {
      if (this.asyncData) {
        // async type
        return this.provider;
      } else {
        return this.chartdata.datasets ? this.chartdata.datasets[0].points : [];
      }
    },
    rows() {
      return 100;
    },
    totalRows() {
      if (!this.asyncData)
        return this.chartdata.datasets ? this.chartdata.datasets[0].points.length : 0;
      else return 100;
    },
    perPage() {
      return this.options.perPage ? this.options.perPage : 10;
    },
    paginate() {
      return this.totalRows < this.perPage ? false : true;
    }
  }
};
</script>

<style lang="scss" scoped>
.table-text {
  font-size: 11px;
  color: grey;
}
.table-header {
  font-size: 11px;
  color: black;
}

.page-item.active {
  color: white;
  background-color: black;
}
</style>

<style lang="scss">
.rowgroup {
  color: white;
  background: black;
}
.chart-table-pagination {
  color: white;

  .page-item button {
    color: grey;
    background-color: white;
    font-size: 10px;
    border-collapse: white;
  }

  .page-item.active button {
    color: white;
    background-color: grey;
  }
}

// .chart-table-pagination li {
//   color: #70db93;
//   background-color: black;
// }
</style>
