<template>
  <div>
    TODO
  </div>
</template>
<script>
import ChartHelper from "@/mixins/ChartHelper";

export default {
  mixins: [ChartHelper],
  props: {
    chartdata: {
      type: Object,
      default: null
    },
    options: {
      type: Object,
      default: null
    },
    id: String
  },
  mounted() {}
};
</script>
