<template>
  <div>
    <div v-if="type == 'grey'" class="big-number-grey align-bottom">{{ value }}</div>
    <div v-else class="big-number align-bottom">{{ value }}</div>
  </div>
</template>

<script>
export default {
  name: "BigNumber",
  props: ["value", "type"],
  components: {},
  created: function() {
    //console.log("VLUA", Math.round(this.value));
  },
  data: function() {
    return {};
  },
  methods: {}
};
</script>

<style scoped>
.big-number {
  font-size: 62px;
  color: white;
  bottom: 0px;
}

.big-number-grey {
  font-size: 42px;
  color: grey;
  bottom: 0px;
}
</style>
