<template>
    <b-container class="w-100">
        <b-row class="text-center mb-2 align-items-end">
            <b-col cols="12">
                <span class="significant">{{formatNumber(value)}} / {{formatNumber(max)}}</span>
            </b-col>
        </b-row>
        <b-row class>
            <b-col cols="12">
                <b-progress
                    :value="value"
                    :max="max"
                    class="mb-1 big-slider"
                    height="1rem"
                    :show-progress="false"
                ></b-progress>
            </b-col>
        </b-row>
        <b-row class="mt-0 pt-0">
            <b-col cols="6" class="text-left">
                <span class="sub-titles align-top">{{labelLeft}}</span>
            </b-col>
            <b-col cols="6" class="text-right">
                <span class="sub-titles align-top">{{labelRight}}</span>
            </b-col>
        </b-row>
    </b-container>
</template>


<script>
import { formatNumber } from "@/lib/utils";

export default {
    name: "BigSlider",
    props: {
        value: {},
        max: {},
        labelLeft: Number,
        labelRight: Number
    },
    components: {},
    created: function() {},
    data: function() {
        return {};
    },
    methods: {
        formatNumber(i) {
            return formatNumber(i);
        }
    }
};
</script>

<style>
</style>
