<script>
import Cojasclib from "cojasclib";
import { Bubble } from "vue-chartjs";
//import { chartist } from "cojasclib/lib/chartUtils";

export default {
    name: "Bubble",
    extends: Bubble,
    props: ["options"],
    components: {},
    created: function() {},
    mounted() {
        this.chart = new Cojasclib.Chart(this.graphOptions);
        this.prepareData();
    },
    data: function() {
        return {
            chart: null,
            serie: null,
            chartDataResponses: null,
            serieOptions: {},
            // Defult optione
            graphOptions: {
                graphType: "3D",
                defaultFontColor: "#428aa5",
                defaultFontSize: 10,
                legendDisplay: true,
                xDisplay: true,
                xDisplayGrid: true,
                yDisplay: true,
                yDisplayGrid: false,
                scales: {
                    yAxes: [
                        {
                            gridLines: {
                                display: false,
                                color: "#428aa5"
                            },
                            ticks: {
                                fontColor: "#428aa5",
                                fontSize: "10"
                            }
                        }
                    ],
                    xAxes: [
                        {
                            gridLines: {
                                display: true,
                                color: "#428aa5"
                            },
                            ticks: {
                                fontColor: "#428aa5",
                                fontSize: "10"
                            }
                        }
                    ]
                },
                legend: {
                    position: "bottom",
                    fullWidth: false,
                    labels: {
                        fontColor: "#428aa5",
                        padding: 10,
                        fontSize: 11,
                        boxWidth: 10
                    }
                }
            }
        };
    },
    methods: {
        prepareData() {
            this.chart.prepareData(this.options);
            this.chart.render("chartjs").then(data => {
                console.log(data[0]);
                this.chartDataResponses = data[0];
                this.renderChart(this.chartDataResponses, data[1]);
            });
        }
    }
};
</script>

<style scoped></style>
