<template>
  <widget-container
    :subtitle="driver"
    :nav="['csv']"
    :widgetId="driver + 'global'"
    :id="driver + 'global'"
    :isClear="true"
    :tooltip="tooltip"
  >
    <b-overlay
      :show="!visible"
      rounded
      opacity="0.0"
      spinner-small
      spinner-variant="info"
      class="d-inline-block"
    >
      <chart-table
        :options="driverRanking.renderOptions"
        :id="id"
        :chartdata="this.chartData"
        class="full wg-small"
      ></chart-table>
    </b-overlay>
  </widget-container>
</template>

<script>
import WidgetContainer from "@/components/WidgetContainer";
import ChartTable from "@/components/charts/generic/ChartTable";
import ChartHelper from "@/mixins/ChartHelper";
import CsvHelper from "@/mixins/CsvHelper";
import Neo4jHelper from "@/mixins/Neo4jHelper";
import { rankingDriver } from "@/api/neo4j/university";

export default {
  components: {
    WidgetContainer,
    ChartTable
  },
  props: {
    year: {
      type: Number
    },
    driver: {
      type: String
    }
  },
  mixins: [ChartHelper, CsvHelper, Neo4jHelper],
  mounted() {
    this.driverRanking.dataFunctionArgs.parameters.driver = this.driver;
    this.fetchData(this.driverRanking.defaultFilter, this.driverRanking);
  },
  data() {
    return {
      chartData: {},
      tooltip: "",
      options: {},
      visible: true,
      component: {},
      prefix: "",
      id: "",
      driverRanking: {
        dataFunction: rankingDriver,
        postProcess: "simple",
        serieName: "% of votes",
        engine: "neo4j",
        allSerie: false,
        dataFunctionArgs: {
          parameters: {
            year: this.year,
            driver: ""
          }
        },
        renderOptions: {
          addRank: true,
          plugin: "table",
          perPage: 15,
          fields: [
            {
              key: "r",
              label: "Rank"
            },
            {
              key: "x",
              label: "University"
            },
            {
              key: "y",
              label: "Country"
            }
          ]
        }
      }
    };
  }
};
</script>

<style lang="scss" scoped>
.wg-small {
  width: 480px !important;
}
</style>
