<template>
  <div :class="['container', size == 'large' ? 'geurs-generic-large' : 'geurs-generic']">
    <component
      v-bind:is="component"
      ref="chart"
      v-if="visible"
      :chartdata="chartData"
      :options="options"
      :width="options.width ? options.width : 600"
      :height="options.height ? options.height : 350"
      :id="id"
      :title="options.title"
    />
  </div>
</template>

<script>
export default {
  props: {
    chartData: {
      type: Object
    },
    options: {
      type: Object,
      default: () => {}
    },
    visible: {
      type: Boolean,
      default: false
    },
    component: {
      type: Object
    },
    id: {
      type: String
    },
    subscriberPrefix: {
      type: String,
      default: ""
    },
    title: {
      type: String,
      default: ""
    },
    size: {
      type: String,
      default: "small"
    }
  },
  data() {
    return {
      loaded: false
    };
  },
  mounted() {},
  methods: {}
};
</script>

<style lang="scss" scoped>
.geurs-generic {
  min-height: 300px;
  width: 600px;
}

.geurs-generic-large {
  min-height: 300px;
  max-width: 800px;
}
</style>
