<script>
import Cojasclib from "cojasclib";
import { Line } from "vue-chartjs";
//import { chartist } from "cojasclib/lib/chartUtils";

export default {
    name: "Lines",
    extends: Line,
    props: ["title", "options"],
    components: {},
    created: function() {},
    mounted() {
        this.chart = new Cojasclib.Chart(this.graphOptions);
        this.prepareData();
    },
    watch: {
        options(newValue) {
            this.options = newValue; // Ajax method
            this.chart = new Cojasclib.Chart(this.graphOptions);
            this.prepareData();
        }
    },
    data: function() {
        return {
            chart: null,
            serie: null,
            chartDataResponses: null,
            serieOptions: {},
            // Defult optione
            graphOptions: {
                defaultFontColor: "grey",
                legendDisplay: true,
                xDisplay: true,
                xDisplayGrid: false,
                yDisplay: true,
                legend: {
                    position: "top",
                    fullWidth: false,
                    labels: {
                        fontColor: "grey",
                        padding: 20,
                        fontSize: 11,
                        boxWidth: 10
                    }
                }
            }
        };
    },
    methods: {
        prepareData() {
            // If data is in standard format (see README)
            this.chart.prepareData(this.options);
            this.chart.render("chartjs").then(data => {
                this.chartDataResponses = data[0];
                this.renderChart(this.chartDataResponses, data[1]);
            });
        }
    }
};
</script>

<style scoped></style>
