<template>
  <div>
    <b-row class="pl-5 pr-5 mb-4">
      <b-col>Filters</b-col>
    </b-row>
    <b-row class="pl-5 pr-5 mb-2" v-for="(n, index) in filtersNumber" :key="index">
      <b-col class="text-right" cols="2"
        ><span class="group-title">Group {{ n }}</span></b-col
      >
      <b-col>
        <common-filter
          :subscribed="`${subscriberPrefix}_##_${index}_` + 'COUNTRY'"
          placeholder="Select country"
          type="COUNTRY"
        />
      </b-col>
      <b-col>
        <common-filter
          :subscribed="`${subscriberPrefix}_##_${index}_` + 'ROLE'"
          placeholder="Select role"
          type="ROLE"
        />
      </b-col>
      <b-col>
        <common-filter
          :subscribed="`${subscriberPrefix}_##_${index}_` + 'SECTOR'"
          placeholder="Select industry"
          type="SECTOR"
        />
      </b-col>
      <b-col>
        <common-filter
          :subscribed="`${subscriberPrefix}_##_${index}_` + 'DEPARTMENT'"
          placeholder="Selected department"
          type="DEPARTMENT"
        />
      </b-col>
    </b-row>
    <b-row class="pt-4">
      <b-col>
        <widget-container :title="title" :subtitle="subtitle" :isClear="true">
          <geurs-generic
            :chartData="chartData"
            :component="HorizontalBarChart"
            :visible="visible"
            :options="graphOptions"
          ></geurs-generic>
        </widget-container>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { getPercentageDataQuestion } from "@/api/neo4j/statistics";
import ChartHelper from "@/mixins/ChartHelper";
import Connector from "@/mixins/Connector";
import Neo4jHelper from "@/mixins/Neo4jHelper";
import CsvHelper from "@/mixins/CsvHelper";
import HorizontalBarChart from "@/components/charts/generic/HorizontalBarChart";
import GeursGeneric from "@/components/charts/GeursGeneric";
import CommonFilter from "@/components/common/CommonFilter";
import WidgetContainer from "@/components/WidgetContainer";
import _ from "lodash";

export default {
  async mounted() {
    // Fetch or define default value for graph (coming from graphs)
    let val = _.get(this, `$store.state.cache[${this.subscriberPrefix}]`)
      ? _.get(this, `$store.state.cache[${this.subscriberPrefix}]`)
      : {};
    this.fetchData("", this.graph1Args);
    this.fetchArgs = this.graph1Args;
    this.subscribeAll(this.subscriberPrefix, this.filtersNumber);
  },
  components: {
    //Filters
    GeursGeneric,
    CommonFilter,
    WidgetContainer
  },
  mixins: [ChartHelper, Neo4jHelper, CsvHelper, Connector],
  props: {
    subscriberPrefix: {
      type: String,
      required: true
    },
    filtersNumber: {
      type: Number,
      default: 0
    },
    title: {},
    subtitle: {},
    questionId: {},
    year: {}
  },
  data() {
    return {
      chartData: {},
      HorizontalBarChart,
      values: {},
      visible: false
    };
  },
  computed: {
    graph1Args() {
      return {
        dataFunction: getPercentageDataQuestion, // Function used to fetch the data directly from DB
        subscriberPrefix: this.subscriberPrefix, // Unique identifier for connector system
        postProcess: "multiFilterAverage2", // this.processGraph1, // Function used to process the data returned by the dataFunction. chartsHelper contains some, otherwise define inside the compoennt
        allSerie: true,
        interchange: true,
        filtersNumber: this.filtersNumber,
        serieName: "Graph type", // Label for serie
        dataFunctionArgs: {
          debug: false,
          questionId: this.questionId,
          year: this.year
        },
        renderOptions: {
          height: 300,
          sort: true,
          lengthXMax: 30,
          stacked: true,
          legend: {
            display: false
          }
        }
      };
    }
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.group-title {
  color: grey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
</style>
