<script>
import Cojasclib from "cojasclib";
import { Doughnut } from "vue-chartjs";
//import _ from "lodash";
//import { chartist } from "cojasclib/lib/chartUtils";

export default {
  name: "Pie",
  extends: Doughnut,
  props: {
    serieName: String,
    options: Object,
    percent: {
      type: Boolean,
      default: true
    }
  },
  components: {},
  created: function() {},
  mounted() {
    this.chart = new Cojasclib.Chart(this.graphOptions);
    this.prepareData();
  },
  data: function() {
    return {
      chart: null,
      serie: null,
      chartDataResponses: null,
      serieOptions: {},
      // Defult optione
      graphOptions: {
        defaultFontColor: "white",
        legendDisplay: true,
        xDisplay: false,
        xDisplayGrid: false,
        yDisplay: false,
        percent: this.percent,
        maintainAspectRatio: false,
        tooltips: {
          mode: "label",
          callbacks: {
            label: function(tooltipItem, data) {
              return data["datasets"][0]["data"][tooltipItem["index"]] + "%";
            }
          }
        },
        legend: {
          position: "right",
          fullWidth: true,
          labels: {
            fontColor: "white",
            padding: 10,
            fontSize: 12,
            boxWidth: 10
          }
        },
        borderWidth: 0,
        responsive: true,
        hoverBorderWidth: 0,
        elements: {
          arc: {
            borderWidth: 0
          }
        }
      }
    };
  },
  methods: {
    prepareData() {
      // If the sum of values is not 100, we calculate percentage
      this.chart.prepareData(this.options);
      this.chart.render("chartjs").then(data => {
        this.chartDataResponses = data[0];
        // console.log(options);
        this.renderChart(this.chartDataResponses, data[1]);
      });
    }
  }
};
</script>

<style scoped>
/* canvas {
  width: 350px !important;
  height: 230px !important;
} */
</style>
