<script>
import Cojasclib from "cojasclib";
import { Radar } from "vue-chartjs";
//import { chartist } from "cojasclib/lib/chartUtils";

export default {
    name: "Radar",
    extends: Radar,
    props: ["title", "options"],
    components: {},
    created: function() {},
    mounted() {
        this.chart = new Cojasclib.Chart(this.graphOptions);
        this.prepareData();
    },
    watch: {
        options(newValue) {
            this.options = newValue; // Ajax method
            this.chart = new Cojasclib.Chart(this.graphOptions);
            this.prepareData();
        }
    },
    data: function() {
        return {
            chart: null,
            serie: null,
            chartDataResponses: null,
            serieOptions: {},
            // Defult optione
            graphOptions: {
                defaultFontColor: "white",
                legendDisplay: true,
                xDisplay: false,
                xDisplayGrid: false,
                yDisplay: false,
                borderColor: "white",
                pointRadius: 3,
                legend: {
                    position: "bottom",
                    fullWidth: false,
                    labels: {
                        fontColor: "#428aa5",
                        padding: 5,
                        fontSize: 11,
                        boxWidth: 10
                    }
                },
                scale: {
                    gridLines: {
                        color: "grey"
                    },
                    ticks: {
                        stepSize: 5,
                        showLabelBackdrop: false,
                        backdropColor: "white",
                        backdropPaddingX: 10
                    },
                    pointLabels: {
                        display: true,
                        fontColor: "#428aa5"
                    }
                }
            }
        };
    },
    methods: {
        prepareData() {
            // If data is in standard format (see README)
            this.chart.prepareData(this.options);
            this.chart.render("chartjs").then(data => {
                console.log("Demo", data);
                this.chartDataResponses = data[0];
                this.renderChart(this.chartDataResponses, data[1]);
            });
        }
    }
};
</script>

<style scoped></style>
