<template>
  <div class="container">
    <line-chart
      ref="chart"
      v-if="loaded"
      :chartdata="chartdata"
      :options="options"
      :width="600"
      :height="350"
      :id="id"
    />
  </div>
</template>

<script>
import LineChart from "@/components/charts/generic/LineChart.vue";
// import { rankings } from "@/api/university";
import { rankings } from "@/api/neo4j/university";
import Cojasclib from "cojasclib";
import graphUtils from "@/lib/graphUtils";
import CsvHelper from "@/mixins/CsvHelper";
import Connector from "@/mixins/Connector";
import { serify } from "@/lib/neo4jUtils";
// import _ from "lodash";

export default {
  name: "RankComparator",
  props: ["subscribed", "defaultValues", "widgetId"],
  components: { LineChart },
  mixins: [CsvHelper, Connector],
  created: async function() {
    this.connectorSubscribe(this.subscribed, async data => this.prepareData(data));
  },
  mounted: async function() {
    // We take care of default values
    await this.prepareData(this.defaultValues);
  },
  data: () => ({
    loaded: false,
    gu: new graphUtils(),
    chartdata: null,
    options: {},
    id: "rankComparator",
    graphOptions: {
      defaultFontColor: "white",
      spanGaps: false,
      extrapolateMissingData: false,
      steppedLine: "middle",
      showLines: true,
      legendDisplay: true,
      xDisplay: true,
      xDisplayGrid: false,
      yDisplay: true,
      legend: {
        position: "bottom",
        fullWidth: true,
        labels: {
          fontColor: "white",
          padding: 20,
          fontSize: 11,
          boxWidth: 10
        }
      },
      scales: {
        yAxes: [
          {
            ticks: {
              min: 1,
              reverse: true
            }
          }
        ]
      },
      elements: {
        line: {
          tension: 0,
          fill: false
        }
      },
      width: 600
    }
  }),
  computed: {
    // use a computed property to get the value from the store
  },

  methods: {
    async prepareData(args) {
      try {
        this.loaded = false;
        // we get also the data for lines
        // fetch the variables from Vuex
        this.chart = new Cojasclib.Chart(this.graphOptions);
        let result = args.map(a => a.id);
        let res = await rankings(result);
        res = serify(res, "display_name");
        res.data = this.gu.adaptColors(res.data);
        this.chart.prepareData(res, {
          sort: "alpha",
          direction: "DESC"
        });
        //this.arrangeData(res.data);

        let data = await this.chart.render("chartjs", { sort: true });
        // let csvData = await this.chart.render("csvPlugin");
        // console.log(csvData);
        this.chartdata = data[0];
        this.options = data[1];

        this.loaded = true;
        //this.chartdata = _.values(series);
      } catch (e) {
        console.log(e);
      }
    }
  }
};
</script>

<style scoped></style>
