<template>
  <fact-popup>
    <template v-slot:comment>
      <div>
        These universities are the closest to "{{
          $store.state.parameters.defaultUniversity.label
        }}" in terms of voters region of origin:
        <ul class="pt-2">
          <li v-for="(v, i) in univs" :key="'voted' + i">
            {{ v.display_name }}
          </li>
        </ul>
      </div>
      <p>
        <b-button pill size="sm" class="emphasis-button" @click="viewRanking"
          >View universities ranking</b-button
        >
      </p>
    </template>
    <template v-slot:body>
      <Radar-chart
        v-if="loaded"
        :options="options"
        :chartdata="chartData"
        :width="700"
        id="similRegion"
      ></Radar-chart>
    </template>
  </fact-popup>
</template>

<script>
import RadarChart from "@/components/charts/generic/RadarChart";
import FactPopup from "@/components/common/FactPopup";
import { similarRegion } from "@/api/university";
import Cojasclib from "cojasclib";
import _ from "lodash";
import { changeProperties } from "@/lib/utils";
import Connector from "@/mixins/Connector";
import graphUtils from "@/lib/graphUtils";

export default {
  props: {
    subscribed: {
      type: String,
      default: ""
    },
    defaultvalues: {
      type: Array
    },
    univid: String,
    height: Number,
    width: Number
  },
  components: {
    RadarChart,
    FactPopup
  },
  mixins: [Connector],
  mounted() {
    this.chart = new Cojasclib.Chart(this.graphOptions);
    this.prepareData(this.univid);
  },
  // created() {
  //     this.$root.$on(this.subscribed, async data => {
  //         this.chart = new Cojasclib.Chart(this.graphOptions);
  //         await this.prepareData(data);
  //     });
  // },
  data() {
    return {
      key: "value",
      univs: [],
      gu: new graphUtils(),
      loaded: false,
      chartData: null,
      // Defult optione
      graphOptions: {
        defaultFontColor: "white",
        legendDisplay: true,
        xDisplay: false,
        xDisplayGrid: false,
        yDisplay: false,
        borderColor: "white",
        pointRadius: 3,
        legend: {
          position: "bottom",
          fullWidth: false,
          labels: {
            fontColor: "white",
            padding: 5,
            fontSize: 11,
            boxWidth: 10
          }
        },
        scale: {
          gridLines: {
            color: "grey"
          },
          ticks: {
            stepSize: 10,
            showLabelBackdrop: false,
            backdropColor: "white",
            backdropPaddingX: 10
          },
          pointLabels: {
            display: true,
            fontColor: "#428aa5"
          }
        }
      }
    };
  },
  methods: {
    async prepareData(univ) {
      this.loaded = false;
      let res = await similarRegion(univ);
      // If data is in standard format (see README)
      let datasets = this.adaptrecords(res);
      this.univs = _.uniqBy(res, "univid");
      //this
      this.chart.prepareData(datasets);
      this.gu.setColors(this.chart);
      this.chart.render("chartjs").then(data => {
        this.chartData = data[0];
        this.options = data[1];
        this.loaded = true;
      });
    },
    // When Bacend returns a list of records, this is useful
    adaptrecords(records) {
      let res = {};
      let ret = [];
      let n = 0;
      records.forEach(record => {
        res[record.univid] = res[record.univid] ? res[record.univid] : {};
        res[record.univid].name = record.display_name;

        res[record.univid].data = res[record.univid].data ? res[record.univid].data : [];
        res[record.univid].data.push({
          x: record.REGION,
          y: record.value
        });
      });
      for (let key in res) {
        ret.push(res[key]);
      }
      return { data: ret };
    },
    viewRanking() {
      // Cloase popup
      // Emit RankingUniversities event
      let vals = changeProperties(this.univs, {
        id: "univid",
        label: "display_name"
      });
      this.connectorPublish("RankingUniversities", vals);
      this.$root.$emit("closeInfoModal");
      this.$root.$emit("scrollToRank");
    }
  }
};
</script>

<style lang="scss" scoped></style>
