<template>
  <div>
    <b-row class="ml-3 pt-2 w-100 pr-0 chart-height">
      <b-col cols="4" class="pr-0 mr-0">
        <b-row>
          <b-col>
            <widget-container>
              <filters
                :groupSingle="true"
                :filters="{ countrySingle: true }"
                :subscriberPrefix="prefix"
              ></filters>
            </widget-container>
          </b-col>
        </b-row>
        <b-row class="ml-0 w-100 pt-2 pr-0">
          <b-col class="pr-0 mr-0 w-100">
            <slot name="belowFilter" v-bind:chartData="visible"> </slot>
          </b-col>
        </b-row>
      </b-col>
      <b-col :class="firstItem.class" cols="8">
        <widget-container
          :title="title"
          :subtitle="firstItem.subtitle"
          :nav="['csv']"
          :widgetId="firstItem.id"
          :id="firstItem.id"
          :isClear="true"
          :tooltip="firstItem.tooltip"
        >
          <!-- <b-overlay
            :show="true"
            rounded
            opacity="0.0"
            spinner-small
            spinner-variant="info"
            class="d-inline-block"
          > -->
          <chart-table
            :options="fetchArgs.renderOptions"
            :id="firstItem.id"
            :chartdata="chartData[firstItem.subtitle]"
            class="full wg-large "
          ></chart-table>
          <!-- </b-overlay> -->
        </widget-container>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <widget-container :nav="false" widgetId="SixTable" id="SixTable" :isClear="true">
          <b-row class="ml-0 w-100 h-100 pr-0 chart-height">
            <b-col v-for="item in items" :key="item.id" :class="[item.class, 'pt-5']" cols="6">
              <widget-container
                :subtitle="item.subtitle"
                :nav="['csv']"
                :widgetId="item.id"
                :id="item.id"
                :isClear="true"
                :tooltip="item.tooltip"
              >
                <b-overlay
                  :show="!visible[item.subtitle]"
                  rounded
                  opacity="0.0"
                  spinner-small
                  spinner-variant="info"
                  class="d-inline-block"
                >
                  <chart-table
                    :options="fetchArgs.renderOptions"
                    :id="item.id"
                    :chartdata="chartData[item.subtitle]"
                    class="full wg-small"
                  ></chart-table>
                </b-overlay>
              </widget-container>
            </b-col>
          </b-row>
        </widget-container> </b-col
    ></b-row>
  </div>
</template>

<script>
import WidgetContainer from "@/components/WidgetContainer";
import ChartTable from "@/components/charts/generic/ChartTable";
import ChartHelper from "@/mixins/ChartHelper";
import Filters from "@/components/common/Filters";
import Neo4jHelper from "@/mixins/Neo4jHelper";
import Connector from "@/mixins/Connector";
import CsvHelper from "@/mixins/CsvHelper";
import { getLocalDriverRanking } from "@/api/neo4j/statistics";
import Cojasclib from "cojasclib";
import { percent } from "@/lib/utils";
import _ from "lodash";

export default {
  components: {
    WidgetContainer,
    ChartTable,
    Filters
  },
  mounted: async function() {
    let val = !_.get(this, "$store.state.cache.countrysixCOUNTRY")
      ? { label: "France", id: "FR" }
      : _.get(this, "$store.state.cache.countrysixCOUNTRY");
    this.postProcess(val, this.fetchArgs);
    this.connectorSubscribe("countrysixCOUNTRY", async data => {
      this.postProcess(data, this.fetchArgs);
    });
  },
  mixins: [Connector, ChartHelper, Neo4jHelper, CsvHelper],
  props: {
    title: {
      type: String
    },
    subtitle: {
      type: String
    },
    id: {
      type: String
    },
    tooltip: {
      type: String
    }
  },
  data() {
    return {
      prefix: "countrysix",
      firstItem: {
        chartData: this.chartData, //his.chartData.filter(o => o.driver == "Academic performance"),
        subtitle: "Academic performance",
        id: "test1",
        class: "wg-large"
      },
      items: [
        {
          chartData: {},
          subtitle: "Specialisation",
          id: "test2",
          class: "wg-small"
        },
        {
          chartData: {},
          subtitle: "Graduate skills",
          id: "test3",
          class: "wg-small"
        },
        {
          chartData: {},
          subtitle: "Focus on work expertise",
          id: "test4",
          class: "wg-small"
        },
        {
          chartData: {},
          subtitle: "Digital performance",
          id: "test5",
          class: "wg-small"
        },
        {
          chartData: {},
          subtitle: "Internationality",
          id: "test6",
          class: "wg-small"
        }
      ],

      chartData: {
        "Academic performance": {},
        Specialisation: {},
        Internationality: {},
        "Graduate skills": {},
        "Focus on work expertise": {},
        "Digital performance": {}
      },
      options: {},
      visible: {
        "Academic performance": false,
        Specialisation: false,
        Internationality: false,
        "Graduate skills": false,
        "Focus on work expertise": false,
        "Digital performance": false
      },
      component: {},
      fetchArgs: {
        dataFunction: getLocalDriverRanking,
        postProcess: this.postProcess,
        serieName: "% of votes",
        engine: "neo4j",
        allSerie: false,
        dataFunctionArgs: {
          marker: "natRanking",
          parameters: {
            year: 2020,
            filter: ""
          }
        },
        renderOptions: {
          addRank: true,
          sortOrdinates: {
            order: "numeric",
            direction: "DESC"
          },
          plugin: "table",
          perPage: 15,
          fields: [
            {
              key: "r",
              label: "Rank"
            },
            {
              key: "x",
              label: "University"
            },
            {
              key: "y",
              label: "%"
            }
          ]
        }
      }
    };
  },
  methods: {
    async postProcess(filter, options) {
      let parameters = {
        country: filter.id,
        year: 2020
      };
      let data = await options.dataFunction({
        ...options.dataFunctionArgs,
        filter: parameters
      });
      const res = _.groupBy(data, n => n.driver);
      const self = this;
      _.forEach(res, async function(values, key) {
        let chart = new Cojasclib.Chart(options.graphOptions);
        let serie = self.makeSerie(key, data);
        chart.setSerie(serie);
        //this.render(options.renderOptions);
        await chart.render("table", options.renderOptions).then(data => {
          self.chartData[key] = data[0];
          // Here we pass parameters from renderOptions directly to chart component
          self.visible[key] = true;
        });
      });

      // We group by driver
    },
    makeSerie(name, data) {
      data = data.filter(o => o.driver == name);
      // calculate percent
      let total = _.sumBy(data, "y");
      data.map(p => {
        p.x = p._id;
        p.y = percent(p.y, total, 2) + " %";
        return p;
      });
      let serie = new Cojasclib.Serie({
        name: name,
        data
        // options: {
        //   backgroundColor,
        //   ...more,
        //   ...this.serieOptions
        // }
      });
      return serie;
    }
  }
};
</script>

<style lang="scss" scoped>
.chart-height {
  min-height: 480px;
}

.wg-large {
  width: 600px !important;
}

.wg-small {
  width: 480px !important;
}
</style>
