<template>
  <div class="container d-flex justify-content-center">
    <Radar-chart
      v-if="loaded"
      :options="options"
      :chartdata="chartData"
      :width="width"
      :id="id"
    ></Radar-chart>
  </div>
</template>

<script>
import RadarChart from "@/components/charts/generic/RadarChart";
import { votesBySkills } from "@/api/university";
import { radarData } from "@/samples/datasets";
import Cojasclib from "cojasclib";
import CsvHelper from "@/mixins/CsvHelper";
import Connector from "@/mixins/Connector";
import graphUtils from "@/lib/graphUtils";

export default {
  props: {
    subscribed: {
      type: String,
      default: ""
    },
    defaultvalues: {
      type: Array
    },
    height: Number,
    width: Number,
    widgetId: String
  },
  components: {
    RadarChart
  },
  mixins: [CsvHelper, Connector],
  mounted() {
    this.prepareData(this.defaultvalues);
  },
  created: async function() {
    this.connectorSubscribe(this.subscribed, async data => this.prepareData(data));
  },
  data() {
    return {
      key: "value",
      radarData,
      univs: [],
      gu: new graphUtils(),
      loaded: false,
      chartData: null,
      id: "skillsRadar",
      // Defult optione
      graphOptions: {
        defaultFontColor: "white",
        legendDisplay: true,
        xDisplay: false,
        xDisplayGrid: false,
        yDisplay: false,
        pointRadius: 3,
        legend: {
          position: "bottom",
          fullWidth: false,
          labels: {
            fontColor: "white",
            padding: 5,
            fontSize: 11,
            boxWidth: 10
          }
        },
        scale: {
          gridLines: {
            color: "grey"
          },
          ticks: {
            stepSize: 10,
            showLabelBackdrop: false,
            backdropColor: "white",
            backdropPaddingX: 10
          },
          pointLabels: {
            display: true,
            fontColor: "#428aa5"
          }
        }
      }
    };
  },
  methods: {
    async prepareData(univ) {
      this.chart = new Cojasclib.Chart(this.graphOptions);
      this.loaded = false;
      let res = await votesBySkills(univ);
      // If data is in standard format (see README)
      let datasets = this.adaptrecords(res);
      this.chart.prepareData(datasets);
      this.gu.setColors(this.chart);
      this.chart.render("chartjs").then(data => {
        this.chartData = data[0];
        this.options = data[1];
        this.loaded = true;
      });
      if (this.widgetId) {
        await this.prepareCSV();
      }
    },
    // When Backend returns a list of records, this is useful
    adaptrecords(records) {
      let res = {};
      let ret = [];
      let n = 0;
      records.forEach(record => {
        res[record.univid] = res[record.univid] ? res[record.univid] : {};
        res[record.univid].name = record.display_name;
        res[record.univid].data = res[record.univid].data ? res[record.univid].data : [];
        res[record.univid].data.push({
          x: record.response,
          y: record.value
        });
      });
      for (let key in res) {
        ret.push(res[key]);
      }
      return { data: ret };
    }
  }
};
</script>

<style lang="scss" scoped></style>
