<template>
  <div>
    <b-row class="pl-5 pr-5">
      <b-col>Filters</b-col>
    </b-row>
    <b-row class="pl-5 pr-5">
      <b-col>
        <common-filter
          :subscribed="subscriberPrefix + 'COUNTRY'"
          placeholder="Select country"
          type="COUNTRY"
        />
      </b-col>
      <b-col>
        <common-filter
          :subscribed="subscriberPrefix + 'ROLE'"
          placeholder="Select role"
          type="ROLE"
        />
      </b-col>
      <b-col>
        <common-filter
          :subscribed="subscriberPrefix + 'SECTOR'"
          placeholder="Select industry"
          type="SECTOR"
        />
      </b-col>
      <b-col>
        <common-filter
          :subscribed="subscriberPrefix + 'DEPARTMENT'"
          placeholder="Selected department"
          type="DEPARTMENT"
        />
      </b-col>
    </b-row>
    <b-row class="pt-4">
      <b-col>
        <widget-container
          title="Here are a few statements regarding the possible impact of the Corona crisis on Higher Education and recruitment. Please tell us whether you agree."
          subtitle="Ordered by Rank"
          :isClear="true"
        >
          <geurs-generic
            :chartData="chartData"
            :component="HorizontalBarChart"
            :visible="visible"
            :options="graphOptions"
            size="large"
          ></geurs-generic>
        </widget-container>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { getGeneralResponse } from "@/api/neo4j/statistics";
import ChartHelper from "@/mixins/ChartHelper";
import graphUtils from "@/lib/graphUtils";
import Connector from "@/mixins/Connector";
import Neo4jHelper from "@/mixins/Neo4jHelper";
import CsvHelper from "@/mixins/CsvHelper";
import HorizontalBarChart from "@/components/charts/generic/HorizontalBarChart";
import GeursGeneric from "@/components/charts/GeursGeneric";
import CommonFilter from "@/components/common/CommonFilter";
import WidgetContainer from "@/components/WidgetContainer";
import _ from "lodash";

export default {
  async mounted() {
    // Fetch or define default value for graph (coming from graphs)
    let val = _.get(this, `$store.state.cache[${this.subscriberPrefix}]`)
      ? _.get(this, `$store.state.cache[${this.subscriberPrefix}]`)
      : {};
    this.fetchData(val, this.graph1Args);
    this.fetchArgs = this.graph1Args;
    this.subscribeToFilters(this.subscriberPrefix);
  },
  components: {
    //Filters
    GeursGeneric,
    CommonFilter,
    WidgetContainer
  },
  mixins: [ChartHelper, Neo4jHelper, CsvHelper, Connector],
  props: {
    subscriberPrefix: {
      type: String,
      required: true
    },
    year: {}
  },
  data() {
    return {
      gu: new graphUtils(),
      parameters: {
        year: this.year,
        pattern: "Q4F_[0-9]*"
      },
      chartData: {},
      HorizontalBarChart,
      values: {},
      visible: false,
      seriesOrder: {
        "I totally disagree  1": 1,
        "2": 2,
        "3": 3,
        "4": 4,
        "5": 5,
        "6": 6,
        "7": 7,
        "8": 8,
        "9": 9,
        "I fully agree  10": 10
      }
    };
  },
  computed: {
    graph1Args() {
      return {
        dataFunction: getGeneralResponse, // Function used to fetch the data directly from DB
        subscriberPrefix: this.subscriberPrefix, // Unique identifier for connector system
        postProcess: this.processGraph1, // Function used to process the data returned by the dataFunction. chartsHelper contains some, otherwise define inside the compoennt
        serieName: "Graph type", // Label for serie
        renderOptions: {
          // Options passed directly to cojasclib chart object
          // See Cojasclib documentation
          legend: {
            display: false
          },
          stacked: true,
          lengthXMax: 40
        }
      };
    }
  },
  methods: {
    async processGraph1(selectionFilter, options) {
      let res = await options.dataFunction({
        parameters: this.parameters,
        filter: selectionFilter
      });

      // transform data
      res = this.cleanX(res);
      var values = { ...this.adaptResponses(res) };
      console.log("values", values);
      this.graph1Args.renderOptions.yLabels = this.getOrder(res);
      // Sort series order
      let seriesOrder = this.sortByValues(this.seriesOrder);
      let n = 0;
      seriesOrder.forEach(key => {
        let palette = [...Array(values[key].length + 1).fill(this.gu.largePalette[n++])];
        this._addSerie(key, values[key], palette);
      });

      await this.render(this.graph1Args.renderOptions);
      //   console.log("chartData", this.chart);
    },
    adaptResponses(vals) {
      let res = _.groupBy(vals, "serie");
      //   console.log(res);
      return res;
    },
    getOrder(vals) {
      // Calculate total by _id
      let order = {};
      let ranks = _.groupBy(vals, "_id");
      _.forEach(ranks, (value, key) => {
        order[key] = _.sumBy(value, o => o.y * this.seriesOrder[o.serie]);
      });
      _.sortBy(order, o => {
        return o;
      });
      //_.sumBy(vals, o => o.total);
      return Object.keys(order);
    },
    cleanX(vals) {
      return vals.map(d => {
        d._id = d._id.split("-")[1].trim();
        return d;
      });
    },
    sortByValues(o) {
      let res = Object.keys(o).sort(function(a, b) {
        return o[a] - o[b];
      });
      return res;
    }
  }
};
</script>

<style lang="scss" scoped></style>
