<template>
  <div>
    <b-container fluid="lg">
      <b-row class="p-0 m-0">
        <b-col>
          <complete-chart
            subtitle="For answer: Partnerships related to the curriculum"
            title="Helpful cooperations"
            tooltip=""
            id="Q4B_1"
            :chartComponent="HorizontalBarChart"
            :fetchArgs="graphArgs('Q4B_1')"
            :chartOptions="{ height: 500, width: 900 }"
            :defaultHeight="false"
          ></complete-chart>
        </b-col>
        <b-col>
          <complete-chart
            subtitle="For answer: Research partnerships"
            tooltip=""
            id="Q4B_2"
            :chartComponent="HorizontalBarChart"
            :fetchArgs="graphArgs('Q4B_2')"
            :chartOptions="{ height: 400, width: 900 }"
            :defaultHeight="false"
          ></complete-chart>
        </b-col>
        <b-col>
          <complete-chart
            subtitle="For answer: Student support programs"
            tooltip=""
            id="Q4B_3"
            :chartComponent="HorizontalBarChart"
            :fetchArgs="graphArgs('Q4B_3')"
            :chartOptions="{ height: 400, width: 900 }"
            :defaultHeight="false"
          ></complete-chart>
        </b-col>
        <b-col>
          <complete-chart
            subtitle="For answer: Training-on-the-job partnerships"
            tooltip=""
            id="Q4B_4"
            :chartComponent="HorizontalBarChart"
            :fetchArgs="graphArgs('Q4B_4')"
            :chartOptions="{ height: 400, width: 900 }"
            :defaultHeight="false"
          ></complete-chart>
        </b-col>
        <b-col>
          <complete-chart
            subtitle="For answer: Collaboration in Entrepreneurship areas"
            tooltip=""
            id="Q4B_5"
            :chartComponent="HorizontalBarChart"
            :fetchArgs="graphArgs('Q4B_5')"
            :chartOptions="{ height: 400, width: 900 }"
            :defaultHeight="false"
          ></complete-chart>
        </b-col>
        <b-col>
          <complete-chart
            subtitle="For answer: Employer branding and recruiting partnerships"
            tooltip=""
            id="Q4B_6"
            :chartComponent="HorizontalBarChart"
            :fetchArgs="graphArgs('Q4B_6')"
            :chartOptions="{ height: 400, width: 900 }"
            :defaultHeight="false"
          ></complete-chart>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import CompleteChart from "@/components/common/CompleteChart";
import HorizontalBarChart from "@/components/charts/generic/HorizontalBarChart";
import { getPercentageDataQuestion } from "@/api/neo4j/statistics";
export default {
  components: {
    CompleteChart
  },
  mounted() {},
  data() {
    return {
      HorizontalBarChart,
      addFilters: {
        Q4B_1: `
            (an.value =~ 'Business soft skills teaching'
            OR an.value =~ 'Co-develop.*'
            OR an.value =~ 'Delivering speciality.*'
            OR an.value =~ 'Participation in University.*'
            OR an.value =~ 'Students Capstone.*'
            )
            `,
        Q4B_2: `
            (an.value =~ 'Funding of.*'
            OR an.value =~ 'Joint Applied Research.*'
            )
            `,
        Q4B_3: `
            (an.value =~ 'Mentoring'
            OR an.value =~ '.*Students scholarships.*'
            OR an.value =~ 'Students sponsorship'
            )
            `,
        Q4B_4: `
            (an.value =~ 'Apprenticeship.*'
            OR an.value =~ 'Practical workshops.*'
            OR an.value =~ 'Students Work Placement.*'
            OR an.value =~ 'Project-based workshops.*'
            )
            `,
        Q4B_5: `
            (an.value =~ 'Competition sponsored.*'
            OR an.value =~ 'Fab labs.*'
            OR an.value =~ 'Start-up.*'
            )
            `,
        Q4B_6: `
            (an.value =~ 'Career fairs.*'
            OR an.value =~ 'Employment of graduates'
            OR an.value =~ 'Alumni-related.*'
            OR an.value =~ 'Event sponsorship.*'
            )
            `
      }
    };
  },
  methods: {
    graphArgs(id) {
      let args = {
        dataFunction: getPercentageDataQuestion,
        postProcess: "simple",
        id: id,
        serieName: "% of answers",
        subscriberPrefix: id,
        //filtersNumber: 1,
        //formatY: true,
        dataFunctionArgs: {
          debug: false,
          questionId: "Q4B",
          year: 2020,
          addFilter: this.addFilters[id],
          orderBy: "y DESC"
        },
        renderOptions: {
          height: "200",
          sort: false,
          lengthXMax: 30
        }
      };
      return args;
    }
  }
};
</script>

<style lang="scss" scoped></style>
