<script>
import Cojasclib from "cojasclib";
import { Bar } from "vue-chartjs";
//import { chartist } from "cojasclib/lib/chartUtils";

export default {
    name: "VerticalColumns",
    extends: Bar,
    props: ["serieName", "options", "width", "height"],
    components: {},
    created: function() {},
    mounted() {
        this.chart = new Cojasclib.Chart(this.graphOptions);
        this.prepareData();
    },
    data: function() {
        return {
            chart: null,
            serie: null,
            chartDataResponses: null,
            serieOptions: {},
            // Defult optione
            graphOptions: {
                defaultFontColor: "white",
                legendDisplay: false,
                xDisplay: true,
                xDisplayGrid: false,
                yDisplay: false,
                responsive: false,
                reverse: false,
                ticksMinimum: 120,
                tooltips: {
                    enabled: false
                }
            }
        };
    },
    methods: {
        prepareData() {
            this.chart.prepareData(this.options);
            this.chart.render("chartjs").then(data => {
                this.chartDataResponses = data[0];
                this.renderChart(this.chartDataResponses, data[1]);
            });
        }
    }
};
</script>

<style scoped></style>
