<template>
  <div class="container d-flex justify-content-center">
    <pie-chart
      ref="chart"
      v-if="loaded"
      :chartdata="chartdata"
      :options="options"
      :width="width"
      :id="id"
    />
  </div>
</template>

<script>
import PieChart from "@/components/charts/generic/PieChart.vue";
import { votesDistribution } from "@/api/neo4j/university";
import Cojasclib from "cojasclib";
import graphUtils from "@/lib/graphUtils";
import { limitData } from "@/lib/utils";
import CsvHelper from "@/mixins/CsvHelper";
import Connector from "@/mixins/Connector";
import _ from "lodash";

export default {
  name: "VotesDistribution",
  props: ["subscribed", "defaultValues", "height", "width"],
  components: { PieChart },
  mixins: [CsvHelper, Connector],
  // created: async function() {
  //     this.$root.$on(this.subscribed, async data => {
  //         await this.prepareData(this.defaultValues[0], data);
  //     });
  // },
  created: async function() {
    this.connectorSubscribe(this.subscribed, async data =>
      this.prepareData(this.defaultValues[0], data)
    );
  },
  mounted: async function() {
    // We take care of default values
    await this.prepareData(this.defaultValues[0], "ROLE");
  },
  data: () => ({
    loaded: false,
    gu: new graphUtils(),
    chartdata: null,
    options: {},
    id: "votesDistrib",
    defaultOptions: {
      defaultFontColor: "white",
      spanGaps: false,
      legendDisplay: true,
      xDisplay: true,
      xDisplayGrid: false,
      yDisplay: true,
      legend: {
        position: "right",
        fullWidth: false,
        labels: {
          fontColor: "white",
          padding: 20,
          fontSize: 11,
          boxWidth: 10
        }
      },
      responsive: false,
      cutoutPercentage: 50
    },
    defaultDataSetOptions: {
      borderWidth: 0,
      backgroundColor: "green"
    },
    renderOptions: {
      sort: false
    }
  }),
  computed: {
    // use a computed property to get the value from the store
    myStyles() {
      return {
        height: `${this.height}px`,
        position: "relative"
      };
    }
  },

  methods: {
    async prepareData(id, arg) {
      try {
        this.loaded = false;
        // we get also the data for lines
        // fetch the variables from Vuex
        this.chart = new Cojasclib.Chart(this.graphOptions);

        let res = await votesDistribution(id, arg);
        // We need to go by cjasclib to get the CSV export correct
        let serie = new Cojasclib.Serie(this.adaptData(res));
        if (arg == "EMPLOYEE_NUMBER") {
          console.log("SERIE", serie);
          this.renderOptions.yLabels = [
            "Up to 50 employees",
            "50 - 499 employees",
            "500 - 999 employees",
            "1000 - 5000 employees",
            "More than 5000 employees"
          ].reverse();
        }

        this.chart.setSerie(serie);
        let data = await this.chart.render("chartjs", this.renderOptions);

        this.chartdata = data[0];
        this.options = this.defaultOptions;
        this.loaded = true;
        //this.chartdata = _.values(series);
      } catch (e) {
        console.log(e);
      }
    },
    adaptData(data) {
      let serie = {};
      serie.name = "Distribution";
      //   data = data.map(o => {
      //     o.y = o.y.toFixed(2);
      //     return o;
      //   });
      serie.data = _.orderBy(data, "y", "desc");
      serie.data = serie.data.map(o => {
        o.y = o.y.toFixed(2);
        return o;
      });
      //let colorSet = this.gu.generateColors(data.length);
      serie.options = {
        borderWidth: 0,
        backgroundColor: this.gu.generateColors(data.length),
        limitedPoints: {
          max: 10,
          name: "Others"
        }
      };
      return serie;
    }
  }
};
</script>

<style scoped></style>
