<template>
    <fact-popup>
            <template v-slot:comment>
                <div>
            This widget shows who else did the panelists vote for, we qualify them as competitors. So the five closest competitors for the {{$store.state.parameters.defaultUniversity.label}} are:
            <p class="pt-2">
            <ul>
                <li
                    v-for="(v, i) in voted"
                    :key="'voted' + i"
                >{{v.display_name}} ({{v.value.toFixed(2)}}% of votes)</li>
            </ul>
            </p>
            </div>
            <div>
            <p>
                <b-button
                    pill
                    size="sm"
                    class="emphasis-button"
                    @click="viewRanking"
                >View universities ranking</b-button>
            </p>
            </div>
            </template>
                <template v-slot:body>
                <bar-chart
                    ref="chart"
                    v-if="loaded"
                    :chartdata="chartdata"
                    :options="options"
                    :width="600"
                    :height="350"
                />
                </template>
    </fact-popup>
</template>

<script>
import { votedCompetitors } from "@/api/neo4j/university";
import Cojasclib from "cojasclib";
import BarChart from "@/components/charts/generic/BarChart";
import FactPopup from "@/components/common/FactPopup";
import graphUtils from "@/lib/graphUtils";
import { shortenText, changeProperties } from "@/lib/utils";
import Connector from "@/mixins/Connector";

export default {
    props: {
        univid: {
            type: String,
            default: "",
        },
    },
    components: {
        FactPopup,
        BarChart,
    },
    mixins: [Connector],
    data() {
        return {
            gu: new graphUtils(),
            chart: null,
            loaded: false,
            chartdata: null,
            options: null,
            voted: [],
            maxVoted: 5,
            univs: [],
            defaultOptions: {
                defaultFontColor: "grey",
                legendDisplay: false,
                xDisplay: true,
                xDisplayGrid: false,
                yDisplay: true,
            },
        };
    },
    mounted() {
        this.loaded = false;
        this.chart = new Cojasclib.Chart(this.defaultOptions);
        let serie = new Cojasclib.Serie({
            name: "# Votes",
            // options: { 
            //     backgroundColor: Array(13).fill(this.gu.palette_strong[3]),
            // },
        });
        serie.color=this.gu.palette_strong[3]
        let n = 0;
        votedCompetitors(this.univid).then((res) => {
            this.univs = res;
            res.forEach((elt) => {
                serie.setDataPoint({
                    label: shortenText(elt.display_name, 20),
                    y: elt.value,
                    x: elt.display_name,
                });
                if (n++ < this.maxVoted) this.voted.push(elt);
            });
            this.chart.setSerie(serie);
            this.chart.render("chartjs").then((data) => {
                this.chartdata = data[0];
                this.options = data[1];
                this.loaded = true;
            });
        });
    },
    methods: {
        viewRanking() {
            let vals = changeProperties(this.univs.slice(0, this.maxVoted), {
                id: "univid",
                label: "display_name",
            });
            // Cloase popup
            // Emit RankingUniversities event
            //this.$root.$emit("RankingUniversities", vals);
            this.connectorPublish("RankingUniversities", vals);
            this.$root.$emit("closeInfoModal");
        },
    },
};
</script>

<style lang="scss" scoped>
.white {
    color: white;
}
.bd {
    border-top: 1px solid rgb(51, 50, 50) !important;
}
</style>