@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

.significant {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 400;
}

.sub-titles {
  font-family: 'Source Sans Pro', sans-serif;
  color: #8ec4d5;
  font-size: 11px;
}

.big-slider {
  background-color: var(--light-background-right);
}

.progress-bar {
  background-color: var(--selected-number);
}

.dropdown-menu {
  // background-color: var(--dark-background);
  color: var(--light-background-right);
}
.dropdown-menu li a {
  color: var(--light-background-right);
  font-size: smaller;
}

.multiselect__tags {
  font-size: 10px;
}

input.form-control {
  font-size: 12px;
  font-weight: 200;
}

input.form-control:disabled {
  color: white;
  background-color: var(--dark-background-left);
}

.settings {
  color: white;
}
