<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Heep</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-171511145-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-171511145-1');
    </script>
    <script>
      (function(w, d, u) {
        var s = d.createElement('script');
        s.async = true;
        s.src = u + '?' + ((Date.now() / 60000) | 0);
        var h = d.getElementsByTagName('script')[0];
        h.parentNode.insertBefore(s, h);
      })(
        window,
        document,
        'https://cdn.bitrix24.com/b15190033/crm/tag/call.tracker.js'
      );
    </script>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script>
      var serializeObject = function(form) {
        'use strict';
        var a = {},
          b = function(b, c) {
            var d = a[c.name];
            'undefined' != typeof d && d !== null
              ? $.isArray(d)
                ? d.push(c.value)
                : (a[c.name] = [d, c.value])
              : (a[c.name] = c.value);
          };
        return $.each(form.serializeArray(), b), a;
      };

      var formSelector = '#formHtmlId';
      $(formSelector).submit(function(e) {
        console.log('submitting form');
        e.preventDefault();
        var form = $(formSelector);
        var url = 'https://api.clickexperts.com/api/responses/storeAndAct';
        $(this).append(
          '<input type="hidden" name="_form_key" value="5eeb2b4cb8b1d508c921583e" /> '
        );
        $.post(url, { parameters: serializeObject(form) });
      });
    </script>
  </body>
</html>
