<template>
    <div class="footer m-0 p-3">
        <b-row>
            <b-col cols="12">
                <Title type="light" class="pl-3">INTERESTING KPIs</Title>
            </b-col>
        </b-row>
        <b-row class="m-0 p-3">
            <b-col cols="4">
                <Widget-container title="Universities comparison" subtitle="best of class">
                    <Radar :options="radarData" serieName="radar" :height="350" :width="350"></Radar>
                </Widget-container>
            </b-col>
            <b-col cols="4">
                <Widget-container title="Regsitration differences" subtitle="by gender">
                    <Horizontal-columns
                        :options="hColumnsOptions"
                        serieName="hColumns"
                        :height="350"
                        :width="350"
                    ></Horizontal-columns>
                </Widget-container>
            </b-col>
            <b-col cols="4">
                <Widget-container title="Digitalization importance" subtitle="by domain">
                    <Bubble :options="bubbleOptions" serieName="bubbles" :height="350" :width="350"></Bubble>
                </Widget-container>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import Title from "@/components/Title";
import WidgetContainer from "@/components/WidgetContainer";
import Radar from "@/components/charts/Radar";
import HorizontalColumns from "@/components/charts/HorizontalColumns";
import Bubble from "@/components/charts/Bubble";
import { radarData, hColumnsOptions, bubbleOptions } from "@/samples/datasets";

export default {
    name: "BottomPart",
    props: [],
    components: { Title, WidgetContainer, Radar, HorizontalColumns, Bubble },
    created: function() {},
    data: function() {
        return {
            radarData,
            hColumnsOptions,
            bubbleOptions
        };
    },
    methods: {}
};
</script>

<style scoped>
.footer {
    height: 550px;
    background-color: var(--footer-background);
}
</style>
