<template>
  <footer class="page-footer small blue mt-0 pt-4">
    <b-row class="ml-5 mt-1 pb-2">
      <b-col>
        <b-navbar-brand href="#" class="logo">
          <router-link :to="{ name: 'Home' }" style="text-decoration: none; color: var(--logo);">
            <img src="/img/logo_heep_C_rvb.png" alt="logo hep" height="70" />
          </router-link>
        </b-navbar-brand>
        <div class="text-white ml-2">57 rue de l'Abbé Groult</div>
        <div class="text-white ml-2">75015 Paris France</div>
      </b-col>
    </b-row>
    <b-row class="ml-5 mt-1 text-center mr-3">
      <b-col cols="6"></b-col>
      <b-col cols="2">
        <router-link :to="{ name: 'Terms' }">Terms & Conditions</router-link>
      </b-col>
      <b-col cols="2">
        <router-link :to="{ name: 'Cookies' }">Cookie Policy</router-link>
      </b-col>
      <b-col cols="2">
        <router-link :to="{ name: 'Privacy' }">Privacy Policy</router-link>
      </b-col>
    </b-row>

    <b-row class="pb-3 pt-0 mt-0">
      <b-col>
        <hr class="text-white" />
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 sm">
          © 2020 Copyright:
          <a href="https://emerging.fr/">Emerging</a>
        </div>
        <!-- Copyright -->
      </b-col>
    </b-row>
  </footer>
</template>

<script>
export default {
  name: "CommonFooter"
};
</script>
<style scoped>
a,
a:active {
  color: var(--light-background-right);
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

.footer-copyright {
  color: white;
  font-size: small;
}
.page-footer {
  background-color: black;
}
hr {
  border-top: 1px solid grey;
}
</style>
