<template>
    <b-container fluid class="bottom">
        <b-row class="bottom m-0 p-0 pt-3 fluid">
            <b-col cols="4">
                <Title type="light" class="pl-3">MY SAVED CHARTS</Title>
                <Message-container>
                    <Message
                        v-for="(message, id) in messages"
                        :key="'msg' + id"
                        :title="message.title"
                        :body="message.body"
                        :emphasis="message.emphasis"
                        :selected="message.selected"
                        @click.native="clickMessage(id)"
                    ></Message>
                </Message-container>
            </b-col>
            <b-col cols="8">
                <Widget-container class="float-right">
                    <b-row>
                        <Lines
                            v-if="activeMsg == 0"
                            serieName="serie1"
                            :width="700"
                            :height="370"
                            :options="gGraphOptions"
                        ></Lines>
                        <Bars
                            v-if="activeMsg >= 1"
                            serieName="serie1"
                            :width="700"
                            :height="370"
                            :options="gGraphOptions"
                        ></Bars>
                    </b-row>
                    <b-row align-h="center" style="width:100%;">
                        <b-col cols="3" class="text-center small-button">
                            <b-button variant="outline-secondary" squared size="sm">View details</b-button>
                        </b-col>
                        <b-col cols="3" class="text-center small-button">
                            <b-button variant="outline-secondary" squared size="sm">Remove from list</b-button>
                        </b-col>
                    </b-row>
                </Widget-container>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import Title from "@/components/Title";
import WidgetContainer from "@/components/WidgetContainer";
import MessageContainer from "@/components/MessageContainer";
import Message from "@/components/Message";
import Lines from "@/components/charts/Lines";
import Bars from "@/components/charts/Bars";
import { messages, gGraphOptions } from "@/samples/datasets";

export default {
    name: "MiddlePart",
    props: [],
    components: {
        Title,
        WidgetContainer,
        Lines,
        MessageContainer,
        Message,
        Bars
    },
    data: function() {
        return {
            activeMsg: 0,
            messages,
            gGraphOptions: gGraphOptions[0]
        };
    },
    methods: {
        messageSelected(id) {
            if (id === this.activeMsg) return true;
            else return false;
        },
        clickMessage(id) {
            this.activeMsg = id;
            for (let i = 0; i < this.messages.length; i++) {
                if (i == id) this.messages[i].selected = true;
                else this.messages[i].selected = false;
            }
            this.gGraphOptions = gGraphOptions[id];
        }
    }
};
</script>

<style scoped>
.bottom {
    background-color: var(--dark-background);
    height: 450px;
}

.small-button button {
    color: var(--light-background-right);
    border-color: var(--light-background-right);
    font-size: 11px;
}

.small-button button:hover {
    color: white;
    /* border-color: white; */
    background-color: transparent;
    font-size: 11px;
}

.small-button button:active {
    color: white;
    /* border-color: white; */
    background-color: transparent;
    font-size: 11px;
}
</style>
