<template>
  <b-navbar
    class="navbar fixed-top degrad dash-container navbar-static-top"
    variant="dark"
    align="center"
    toggleable="lg"
    :fill="true"
    :justified="true"
    :key="keyNavbar"
  >
    <b-navbar-brand href="#" class="ml-3 mt-0 logo mr-0 pr-2">
      <router-link :to="{ name: 'Home' }" style="text-decoration: none; color: var(--logo)">
        <img src="/img/logo_heep_F_rvb.png" alt="logo hep" height="50" />
      </router-link>
    </b-navbar-brand>
    <!-- <span class="sub-logo ml-0 pl-0" style="text-decoration: none; color: var(--gray-dark)">
      BY
      <a
        href="https://emerging.fr"
        target="_new"
        style="text-decoration: none; color: var(--gray-dark)"
        >EMERGING</a
      >
    </span> -->
    <b-navbar-toggle target="nav-collapse" class="mr-3"></b-navbar-toggle>

    <b-collapse id="nav-collapse" class="navbar-default" is-nav>
      <b-navbar-nav class="pl-5 w-75" fill>
        <b-nav-item class>
          <small>
            <router-link :to="{ name: 'Home' }" style="text-decoration: none; color: inherit">
              <font-awesome-icon icon="home" class="mr-2"></font-awesome-icon>HOME
            </router-link>
          </small>
        </b-nav-item>
        <b-nav-item class>
          <small>
            <router-link :to="{ name: 'About' }" style="text-decoration: none; color: inherit">
              <font-awesome-icon icon="book" class="mr-2"></font-awesome-icon>ABOUT
            </router-link>
          </small>
        </b-nav-item>
        <b-nav-item v-if="authorized">
          <small>
            <router-link :to="{ name: 'Dashboard' }" style="text-decoration: none; color: inherit">
              <font-awesome-icon icon="border-all" class="mr-2"></font-awesome-icon>DASHBOARD
            </router-link>
          </small>
        </b-nav-item>

        <b-nav-item-dropdown
          class
          text="DRIVERS"
          :no-caret="true"
          menu-class="dashboard-menu"
          v-if="authorized"
        >
          <template v-slot:button-content>
            <small>
              <font-awesome-icon icon="chart-line" class="mr-2"></font-awesome-icon>DRIVERS
            </small>
          </template>
          <b-dropdown-item
            v-for="(driver, i) in drivers2020"
            :key="'driv' + i"
            :to="{ name: 'Skill', params: { skill: driver } }"
            >{{ driver }}</b-dropdown-item
          >
        </b-nav-item-dropdown>
        <b-nav-item-dropdown
          class
          text="DATA"
          :no-caret="true"
          menu-class="dashboard-menu"
          v-if="authorized"
        >
          <template v-slot:button-content>
            <small>
              <font-awesome-icon icon="database" class="mr-2"></font-awesome-icon>DATA
            </small>
          </template>
          <b-dropdown-item key="univData" :to="{ path: '/data/univData' }"
            >Universipedia</b-dropdown-item
          >
          <b-dropdown-item key="geurs" :to="{ path: '/data/geurs/2020' }"
            >Survey Results 2020</b-dropdown-item
          >
          <b-dropdown-item key="geurs2" :to="{ path: '/data/geurs/2019' }"
            >Survey Results 2019</b-dropdown-item
          >
          <b-dropdown-item key="timeSeries" :to="{ path: '/data/timeseries' }"
            >Time Series</b-dropdown-item
          >
          <!-- <b-dropdown-item
            v-for="(route, i) in subRoutes($router, 'Data')"
            :key="'data' + i"
            :to="{ path: route.path }"
            >{{ route.name }}</b-dropdown-item
                    >-->
        </b-nav-item-dropdown>
      </b-navbar-nav>

      <b-navbar-nav class="ml-auto right-menu pb-2 pr-3">
        <template v-if="loggedIn">
          <b-nav-item-dropdown
            :text="name"
            middle
            class="right-nav mt-2 ml-0 pl-0"
            menu-class="dashboard-menu"
            right
          >
            <template slot="button-content">
              <font-awesome-icon icon="user"></font-awesome-icon>
              <span class="pl-2 capitalize">{{ name }}</span>
            </template>
            <b-dropdown-item to="/settings" v-if="authorized">Settings</b-dropdown-item>
            <b-dropdown-item to="/matcher" v-if="authorized">Matcher</b-dropdown-item>
            <b-dropdown-item @click="clearCache()">Clear cache</b-dropdown-item>

            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item @click="logout()">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </template>
        <template v-else>
          <b-nav-item
            :text="name"
            middle
            class="right-nav mt-2 ml-0 pl-0"
            menu-class="dashboard-menu"
            right
          >
            <small>
              <a
                href="#"
                style="text-decoration: none; color: inherit"
                @click="$bvModal.show('login')"
                class="mr-1"
              >
                <font-awesome-icon icon="sign-in-alt" class="mr-1"></font-awesome-icon>
                {{ name }}
              </a>
              or
              <a
                href="#"
                style="text-decoration: none; color: inherit"
                @click="$bvModal.show('register')"
              >
                <font-awesome-icon icon="file-signature" class="ml-2 mr-1"></font-awesome-icon>
                REGISTER
              </a>
            </small>
          </b-nav-item>
        </template>
        <login-form2 :msg="loginBoxMsg" />
        <register />
        <sys-message
          name="clearCache"
          ref="clearCache"
          title="Cache clearing"
          message="Cache has been cleared successfully."
          :hideHandler="reload"
          :autoHideDelay="500"
        />
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import LoginForm2 from "@/components/LoginForm2";
import Register from "@/components/Register";
import ConnectorEventBus from "@/mixins/ConnectorEventBus";
import { drivers } from "@/config/data";
import { subRoutes } from "@/lib/utils";
import SysMessage from "@/components/common/SysMessage";
import { get } from "lodash";
export default {
  name: "Navbar",
  props: [],
  components: { LoginForm2, SysMessage, Register },
  created() {
    this.$root.$on("loggedIn", () => {
      console.log("Received logged in");
    });
    this.$root.$on("loggedOut", () => {
      this.keyNavbar++;
    });
    this.con.$on("showLoginBox", () => {
      this.loginBoxMsg = "Your session has ended. Please sign-in";
      //this.$bvModal.show("login");
      //this.$refs["login"].show();
      this.$root.$emit("bv::show::modal", "login");
    });
  },
  data: function() {
    return {
      con: ConnectorEventBus,
      oauth0: false,
      keyNavbar: 1,
      subRoutes,
      loginBoxMsg: "",
      drivers: drivers["2019"],
      drivers2020: drivers["2020"]
    };
  },
  computed: {
    name() {
      if (this.$store.state.userData) return get(this, "$store.state.userData.username");
      else return "SIGN-IN";
    },
    authorized() {
      let role = get(this, "$store.state.userData.role.type");
      if (this.$store.state.loggedIn && role == "authorized") return true;
      else return false;
    },
    loggedIn() {
      return this.$store.state.loggedIn;
    }
  },
  methods: {
    logout() {
      this.$store.dispatch("LOGOUT");
      this.$router.push("/");
      this.$root.$emit("loggedOut");
      if (this.oauth0) this.$auth.logout();
    },
    clearCache() {
      this.$store.dispatch("CLEAR_CACHE");
      this.$bvToast.show("clearCache");
    },
    reload() {
      this.$router.go();
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+Pro:wght@300;400&display=swap");

.dash-container {
  height: 60px;
}
.bigger {
  width: 100%;
}

.right-menu {
  text-align: right;
}

.right-nav {
}

.degrad {
  background-image: linear-gradient(
    to right,
    var(--light-background-left),
    var(--light-background-right)
  );
  border-bottom: 1px solid var(--light-background-left);
}

.sub-logo {
  font-size: 10px;
  position: absolute;
  left: 8px;
  top: 40px;
}

.sub-logo a {
  color: black;
}

span.capitalize {
  text-transform: capitalize;
}
</style>
<style>
.logo {
  font-family: "Anton", sans-serif;
  font-size: 28px;
  color: var(--footer-background);
}

.navbar-expand-md .navbar-toggler {
  display: block !important;
}

.dashboard-menu {
  background-color: var(--light-background-left);
  margin-top: 9px;
}
.navbar {
  min-height: 0px;
  height: auto !important;
}
</style>
