<template>
    <b-container class="upper-container upper" fluid>
        <Part-title mainTitle="QUICK STATS" type="dark" :component="component" />
        <b-row class="m-3">
            <b-col class="p-0">
                <Widget-container title="G-Score">
                    <b-row class>
                        <b-col cols="4" class="align-bottom mt-5 mr-0">
                            <Big-number value="89"></Big-number>
                        </b-col>
                        <b-col class="mt-5 ml-0">
                            <Vertical-columns
                                :options="gGraphOptions"
                                serieName="serie1"
                                :height="100"
                                :width="150"
                            ></Vertical-columns>
                        </b-col>
                    </b-row>
                </Widget-container>
            </b-col>
            <b-col class="p-0">
                <Widget-container title="Goal Achievement" subtitle="Appointments (this month)">
                    <Big-slider
                        :value="76456"
                        :max="100000"
                        labelRight="12/11/2019"
                        labelLeft="01/04/2020"
                        class="mt-5"
                    ></Big-slider>
                </Widget-container>
            </b-col>
            <b-col class="p-0">
                <Widget-container title="Average Call Breakdown" subtitle="AB-Time">
                    <Pie :options="pieOptions" serieName="serie2" :height="200" :width="250"></Pie>
                </Widget-container>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import PartTitle from "@/components/PartTitle";
import WidgetContainer from "@/components/WidgetContainer";
import MenuUniv from "@/components/MenuUniv";
import BigNumber from "@/components/charts/BigNumber";
import VerticalColumns from "@/components/charts/VerticalColumns";
import Pie from "@/components/charts/Pie";
import BigSlider from "@/components/charts/BigSlider";

export default {
    name: "UpperPart",
    props: [],
    components: {
        WidgetContainer,
        BigNumber,
        VerticalColumns,
        BigSlider,
        Pie,
        PartTitle
    },
    created: function() {},
    data: function() {
        return {
            component: MenuUniv,
            gGraphOptions: {
                data: [
                    {
                        name: "G-Score",
                        data: [
                            { x: "Oct", y: 10, options: { color: "#8EC4D5" } },
                            { x: "Nov", y: 12, options: { color: "#8EC4D5" } },
                            { x: "Dec", y: 9, options: { color: "#8EC4D5" } },
                            { x: "Jan", y: 15, options: { color: "#8EC4D5" } },
                            { x: "Feb", y: 21, options: { color: "#8EC4D5" } },
                            { x: "Mar", y: 23, options: { color: "#C7E84D" } }
                        ]
                    }
                ]
            },
            pieOptions: {
                data: [
                    {
                        name: "G-Score",
                        data: [
                            {
                                x: "Appointment",
                                y: 176,
                                options: { color: "#C7E84D" }
                            },
                            {
                                x: "Hang-up",
                                y: 256,
                                options: { color: "#6FDAD9" }
                            },
                            {
                                x: "Blocked",
                                y: 325,
                                options: { color: "#61B9D6" }
                            },
                            {
                                x: "No Contact",
                                y: 454,
                                options: { color: "#3A7488" }
                            }
                        ]
                    }
                ]
            }
        };
    },
    methods: {}
};
</script>

<style scoped>
span {
    font-family: "Source Sans Pro", sans-serif;
    color: var(--dark-background);
    font-size: 32px;
    font-weight: 300;
}
.upper {
    min-height: 300px;
    width: 100%;
}

.upper-container {
}
</style>
