<template>
  <b-container class="upper-container upper" fluid>
    <b-row class="ml-3 pt-5">
      <b-col>
        <h3>
          Heep saves you time and helps you improve the outcome of your employability strategy.
        </h3>
      </b-col>
    </b-row>
    <b-row class="ml-3 pb-4 mr-3">
      <b-col>
        <b-card title="A scientific, data-driven approach." border-variant="light">
          <b-card-text>
            <div class="pad">
              The dashboard is dynamic and includes easy-to-interpret charts. It allows universities
              to monitor and analyze their performance. You can also monitor competitors or sector
              evolutions and find out how to improve your market position and your employability
              performance. Here are some specific insights you’ll be able to generate:
            </div>
            <ul class="pt-1">
              <li>
                analyze and benchmark your position in the global market and anticipate demand and
                supply developments with indicators over time
              </li>
              <li>define its KPI's in your own economic, geographic and competitive environment</li>
              <li>identify good practices</li>
              <li>drive change and assist decision making with specific recommendations</li>
              <li>
                monitor and evaluate the effectiveness (ROI) of your actions and services offered in
                relation to the objectives
              </li>
            </ul>
          </b-card-text>
        </b-card>
        <b-card title="How to use this tool" border-variant="light">
          <b-card-text>
            <div class="pad">
              Use the menu to select your topic of interest, or let the tool make suggestions about
              what what you should check next! We are working on a user manual and will make it
              available soon.
            </div>
          </b-card-text>
        </b-card>
        <b-card title="About us" border-variant="light">
          <b-card-text>
            <div class="pad">
              Emerging has been producing the Global Employability Survey and Ranking since 2010 and
              collected the feedback of over 80,000 top recruiters in more than 32 countries on over
              6,000 institutions regarding the employability of their graduates. This research work,
              aggregating 10 years of data and 1 million university evaluations, is a unique and
              very powerful source of information providing guidance for experts and professionals
              in Higher Education.
            </div>
            <div class="pad">
              With Heep, Emerging goes one step further in helping universities to bridge the gap
              between Higher Education and Employment. To help us in that direction, we recruited
              two established experts:
            </div>
            <ul>
              <li>
                Caroline Depierre has been a Research Director for over 10 years in the executive
                board of Trendence, a leading research agency specializing in international employer
                branding. She is an expert in designing and operating large-scale research projects
                for major brands. Her focus lies on developing concepts and methods to turn data
                into actionable insights for employers and universities.
              </li>

              <li>
                Thomas Vié works in analytics since 1999. First as C.T.O. of several data oriented
                companies, then C.E.O. of an Email Service provider located in Argentina. His focus
                is now on the technical side of data expertise, visualization and analysis, using
                the newest algorithms and tools to extract useful sense from raw material.
              </li>
            </ul>
          </b-card-text>
        </b-card>
        <b-card title="What’s next?" border-variant="light">
          <b-card-text>
            <div class="pad">
              We are constantly developing the solution. Our vision is to create a point of exchange
              between universities, employers and students.
            </div>
            <div class="pad">
              You want to know more? Please
              <a href="jvascript:return false;" @click="$bvModal.show('contact')">contact us!</a>
            </div>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
    <contact></contact>
  </b-container>
</template>

<script>
import Contact from "@/components/Contact";

export default {
  components: { Contact }
};
</script>

<style lang="scss" scoped>
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}

.upper {
  min-height: 400px;
  width: 100%;
}

.upper-container {
  background-color: white;
}

div.pad {
  padding-top: 20px;
}

ul {
  padding-top: 20px;
}

li {
  padding-top: 10px;
}
</style>
