<template>
  <div :key="reloadKey">
    <dashboard-resume
      :mainTitle="$store.state.parameters.defaultUniversity.label"
      :univid="$store.state.parameters.defaultUniversity.id"
    ></dashboard-resume>
    <b-container class="main-graph">
      <b-row class="p-4">
        <b-col cols="4">
          <b-row>
            <Widget-container class="float-right" subtitle="Choose university">
              &nbsp;
              <multi-selector
                v-if="loaded"
                placeholder="Select University"
                :options="univOptions"
                emitter="RankingUniversities"
                subscribed="RankingUniversitiesCountry"
                :subscribeFunction="updateListByCountry"
                :defaultValues="challengers"
                multiple
                limit="4"
              ></multi-selector>
            </Widget-container>
            <Widget-container class="float-right pt-4" subtitle="or select all universities from">
              <multi-selector
                v-if="loaded"
                placeholder="Country"
                :options="countries"
                emitter="RankingUniversitiesCountry"
                :multiple="false"
              ></multi-selector>
            </Widget-container>
          </b-row>
          <b-row class="mt-3 p-0">
            <Widget-container title="Facts" v-if="messagesRank.length > 0">
              <Message-container height="170">
                <Message
                  v-for="(message, id) in messagesRank"
                  :key="'msg' + id"
                  :title="message.title"
                  :body="message.body"
                  :emphasis="message.emphasis"
                  :selected="message.selected"
                  :component="message.component"
                  :link="message.link"
                  @click.native="
                    clickMessage(
                      message,
                      $store.state.parameters.defaultUniversity.id,
                      'graph-fact'
                    )
                  "
                ></Message>
              </Message-container>
            </Widget-container>
          </b-row>
        </b-col>
        <b-col ref="rank">
          <Widget-container
            class="float-right"
            v-if="graph1"
            title="Employability Benchmark"
            tooltip="tooltip.employabilityImpact"
            :nav="true"
            :info="''"
            infoTitle="INFO: Methodology"
            widgetId="rankComparator"
            tabindex="1"
            id="rank"
          >
            <b-row>
              <Rank-comparator
                :width="800"
                :height="370"
                subscribed="RankingUniversities"
                :defaultValues="challengers"
              ></Rank-comparator>
            </b-row>
          </Widget-container>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="secondary-graph">
      <b-row class="p-4">
        <b-col cols="4">
          <b-row>
            <Widget-container title="Segmentation" subtitle="Switch the type of characteristics">
              <b-button
                block
                :pressed.sync="myToggle"
                variant="info"
                size="sm"
                class="selector"
                @click="handleSeg('ROLE')"
                >Role</b-button
              >
              <b-button
                block
                :pressed.sync="myToggle"
                variant="info"
                size="sm"
                class="selector"
                @click="handleSeg('COUNTRY')"
                >Country</b-button
              >
              <b-button
                block
                :pressed.sync="myToggle"
                variant="info"
                size="sm"
                class="selector"
                @click="handleSeg('REGION')"
                >Region</b-button
              >
              <b-button
                block
                :pressed.sync="myToggle"
                variant="info"
                size="sm"
                class="selector"
                @click="handleSeg('DEPARTMENT')"
                >Department</b-button
              >
              <b-button
                block
                :pressed.sync="myToggle"
                variant="info"
                size="sm"
                class="selector"
                @click="handleSeg('EMPLOYEE_NUMBER')"
                >Employee Number</b-button
              >
              <b-button
                block
                :pressed.sync="myToggle"
                variant="info"
                size="sm"
                class="selector"
                @click="handleSeg('SECTOR')"
                >Sector</b-button
              >
            </Widget-container>
          </b-row>
          <b-row class="mt-3 p-0">
            <Widget-container title="Facts" v-if="messagesSegment.length > 0">
              <Message-container height="150">
                <Message
                  v-for="(message, id) in messagesSegment"
                  :key="'msg' + id"
                  :title="message.title"
                  :body="message.body"
                  :emphasis="message.emphasis"
                  :component="message.component"
                  :selected="message.selected"
                  :link="message.link"
                  @click.native="clickMessage(message, id, 'graph-fact')"
                ></Message>
              </Message-container>
            </Widget-container>
          </b-row>
        </b-col>
        <b-col cols="8">
          <Widget-container
            :title="
              `Distribution of Votes for ${$store.state.parameters.defaultUniversity.label} (2020)`
            "
            v-if="graph2"
            :subtitle="`Segmented by ${segment}`"
            tooltip="tooltip.votesDistrib"
            :nav="true"
            :info="''"
            infoTitle="INFO: Methodology"
            widgetId="votesDistrib"
          >
            <votes-distribution
              :width="470"
              subscribed="votesDistribution"
              :defaultValues="[$store.state.parameters.defaultUniversity.id, 'country']"
            ></votes-distribution>
          </Widget-container>
        </b-col>
      </b-row>
    </b-container>
    <b-container>
      <b-row class="p-4 skills-graph">
        <b-col cols="4">
          <b-row>
            <Widget-container class="float-right" subtitle="Compare with">
              <multi-selector
                v-if="loaded"
                placeholder="Select University"
                :options="univOptions"
                emitter="skillsRadar"
                :defaultValues="radarOptions"
                :multiple="true"
              ></multi-selector>
            </Widget-container>
          </b-row>
          <b-row class="mt-3 p-0">
            <Widget-container title="Facts" v-if="messagesSkills.length > 0">
              <Message-container height="280">
                <Message
                  v-for="(message, id) in messagesSkills"
                  :key="'msg' + id"
                  :title="message.title"
                  :body="message.body"
                  :emphasis="message.emphasis"
                  :selected="message.selected"
                  :component="message.component"
                  :link="message.link"
                  @click.native="
                    clickMessage(
                      message,
                      $store.state.parameters.defaultUniversity.id,
                      'graph-fact'
                    )
                  "
                ></Message>
              </Message-container>
            </Widget-container>
          </b-row>
        </b-col>
        <b-col cols="8">
          <Widget-container
            class="float-right"
            title="University Strengths"
            tooltip="tooltip.skillsRadar"
            :nav="true"
            :info="''"
            infoTitle="INFO: Methodology"
            widgetId="skillsRadar"
          >
            <b-row>
              <Skills-radar
                :width="700"
                subscribed="skillsRadar"
                :defaultvalues="challengers.slice(0, 2)"
              ></Skills-radar>
            </b-row>
          </Widget-container>
        </b-col>
      </b-row>
    </b-container>
    <info-modal
      id="graph-fact"
      :title="infoTitle"
      size="lg"
      :dark="true"
      :returnFocus="returnFocus"
    >
      <component
        :is="component3"
        :univid="$store.state.parameters.defaultUniversity.id"
      ></component>
    </info-modal>
  </div>
</template>

<script>
// @ is an alias to /src
import DashboardResume from "@/components/dashboard/DashboardResume";
import WidgetContainer from "@/components/WidgetContainer";
import MultiSelector from "@/components/dashboard/MultiSelector";
import RankComparator from "@/components/charts/RankComparator";
import VotesDistribution from "@/components/charts/VotesDistribution";
import SkillsRadar from "@/components/charts/SkillsRadar";
import Messager from "@/mixins/Messager";
import { list, listCountry } from "@/api/neo4j/university";
import { defaultUniversities } from "@/config/data";
import MessageContainer from "@/components/MessageContainer";
import InfoModal from "@/components/InfoModal";
import Message from "@/components/Message";
import Connector from "@/mixins/Connector";
import { listBy } from "@/api/neo4j/university";

export default {
  name: "Home",
  mixins: [Messager, Connector],
  created() {
    this.getMessagesFromMessager();
    // Set default university (sorbonne) if not set
    if (!this.$store.state.parameters.defaultUniversity) {
      this.$store.dispatch("SAVE_VALUE", {
        defaultUniversity: this.mainUniversity
      });
    }

    // Get challengers
    if (this.$store.state.parameters.challengers) {
      this.challengers = [
        this.$store.state.parameters.defaultUniversity,
        ...this.$store.state.parameters.challengers
      ];
    } else {
      this.challengers = this.defaultUniversities[
        this.$store.state.parameters.defaultUniversity.id
      ];
    }
  },
  mounted: function() {
    list().then(res => {
      this.univOptions = res;
      this.loaded = true;
    });
    listCountry().then(res => {
      this.countries = res;
    });

    //Scroll to ranking
    this.$root.$on("scrollToRank", function() {
      location.href = "#rank";
    });
  },
  computed: {
    mainUniversity() {
      return this.defaultUniversities[this.selectedUniv][0];
    },
    selectedUniv() {
      return this.$route.query.uni ? this.$route.query.uni : "Sorbonne";
    },
    radarOptions() {
      return [this.$store.state.parameters.defaultUniversity, this.challengers[1]];
    }
  },
  components: {
    MultiSelector,
    WidgetContainer,
    RankComparator,
    VotesDistribution,
    SkillsRadar,
    DashboardResume,
    MessageContainer,
    Message,
    InfoModal
  },
  data: function() {
    return {
      myToggle: null,
      univOptions: [],
      countries: [],
      segment: "Role",
      lineOptions: {},
      infoTitle: "",
      reloadKey: 0,
      loaded: false,
      component3: null,
      defaultUniversities: defaultUniversities,
      challengers: [],
      graph1: true,
      graph2: true,
      graph3: true,
      defaultRadarComponent: "",
      messagesRank: [],
      messagesSkills: [],
      messagesSegment: [],
      returnFocus: "",
      updateListByCountry: async data => {
        let univ = await listBy(data, "COUNTRY");
        return univ;
      }
    };
  },
  methods: {
    handleSeg(seg) {
      this.connectorPublish("votesDistribution", seg);
    },
    clickMessage(message, id, graph) {
      this.$bvModal.show(graph);
      this.component3 = message.component;
      this.infoTitle = message.title;
      this.returnFocus = message.returnFocus;
      // this[graph] = false;
      this.activeMsg = id;
    },
    async getMessagesFromMessager() {
      this.messagesSkills = await this.getMessages({
        type: "skills",
        id: this.$store.state.parameters.defaultUniversity.id,
        name: this.$store.state.parameters.defaultUniversity.label
      });
      this.messagesRank = await this.getMessages({
        type: "rank",
        id: this.$store.state.parameters.defaultUniversity.id,
        name: this.$store.state.parameters.defaultUniversity.label
      });
      this.messagesSegment = await this.getMessages({
        type: "segment",
        id: this.$store.state.parameters.defaultUniversity.id,
        name: this.$store.state.parameters.defaultUniversity.label
      });
    }
  },
  beforeDestroy() {}
};
</script>
<style>
.main-graph {
  background-color: var(--dark-background);
  height: 460px;
}

.secondary-graph {
  background-color: var(--footer-background);
  height: 520px;
}

.skills-graph {
  background-color: var(--dark-background);
  height: 550px;
}
</style>
<i18n>
{
  "en": {
    "hello": "Hello i18n in SFC!"
  }
}
</i18n>
