<template>
    <div>
        <Upper-part />
        <Middle-part />
        <Bottom-part />
    </div>
</template>

<script>
// @ is an alias to /src
import UpperPart from "@/components/layout/UpperPart";
import MiddlePart from "@/components/layout/MiddlePart";
import BottomPart from "@/components/layout/BottomPart";

export default {
    name: "Home",
    components: {
        MiddlePart,
        UpperPart,
        BottomPart
    }
};
</script>
