<template>
  <b-container class="upper charts-geurs" fluid>
    <b-row class="pt-3 geurs-title">
      <b-col>
        <Part-title mainTitle="Survey responses" :subTitle="year" type="light" />
      </b-col>
    </b-row>
    <b-row class="mt-0">
      <b-col class="p-0 m-0">
        <b-tabs content-class="mt-3" justified nav-class="nav-geurs" card @input="reveal">
          <b-tab title="Market trends" v-if="year == 2019">
            <general-he :year="year" v-if="ghe" />
          </b-tab>
          <b-tab title="Market trends" v-if="year == 2020">
            <univ-select :year="year" v-if="ghe" />
          </b-tab>
          <b-tab title="Rankings" active>
            <b-row>
              <b-col v-if="rankings">
                <univ-perf :year="year" v-if="rankings" />
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="Performance Drivers">
            <b-row>
              <b-col v-if="drivers">
                <univ-comp :year="year" v-if="drivers" />
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="Industry / University" v-if="year == 2020" active>
            <b-row>
              <b-col v-if="coop">
                <univ-coop :year="year" v-if="coop" />
              </b-col> </b-row
          ></b-tab>
          <b-tab title="Industry / University" v-if="year == 2019">
            <b-row>
              <b-col v-if="coop">
                <industry-coop :year="year" v-if="coop" />
              </b-col> </b-row
          ></b-tab>
          <b-tab title="Corona Crisis" v-if="year == 2020">
            <b-row>
              <b-col v-if="skills">
                <corona1></corona1>
              </b-col> </b-row
          ></b-tab>
          <b-tab title="Skills" v-if="year == 2019">
            <b-row>
              <b-col v-if="skills">
                TOOD
                <skills2019 v-if="skills" />
              </b-col> </b-row
          ></b-tab>
          <b-tab title="Sample description">
            <b-row>
              <b-col><participants :year="year" v-if="partic"/></b-col> </b-row
          ></b-tab>
        </b-tabs>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import PartTitle from "@/components/PartTitle";

export default {
  components: {
    PartTitle,
    UnivSelect: () => import("@/components/geurs/UnivSelect"),
    UnivPerf: () => import("@/components/geurs/UnivPerf"),
    UnivComp: () => import("@/components/geurs/UnivComp"),
    UnivCoop: () => import("@/components/geurs/UnivCoop"),
    Participants: () => import("@/components/geurs/Participants"),
    GeneralHe: () => import("@/components/geurs/GeneralHe"),
    IndustryCoop: () => import("@/components/geurs/IndustryCoop"),
    Skills2019: () => import("@/components/geurs/Skills2019"),
    Corona1: () => import("@/components/geurs/Corona1")
  },
  data() {
    return {
      year: parseInt(this.$route.params.year),
      ghe: false,
      partic: false,
      rankings: false,
      drivers: false,
      coop: false,
      skills: false,
      tabs: {
        0: "ghe",
        1: "rankings",
        2: "drivers",
        3: "coop",
        4: "skills",
        5: "partic"
      }
    };
  },
  methods: {
    reveal(item) {
      this[this.tabs[item]] = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.charts-geurs {
  background-color: white;
}

.geurs-title {
  background-color: rgba(0, 0, 0, 0.03);
}
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}

.upper {
  min-height: 600px;
  color: var(--light-background-left);
}

.upper-container {
  background-color: white;
}

div.pad {
  padding-top: 20px;
}

ul {
  padding-top: 20px;
}

li {
  padding-top: 10px;
}
</style>

<style lang="scss">
.nav-geurs {
  color: grey;
  font-size: 12px;
  text-transform: capitalize;
}

.nav-geurs .nav-link {
  color: #777;
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 1px solid #eee;
}

.nav-link .active {
  border-top: 1px 0 0 1px solid #eee;
  // background-color: var(--light-background-left);
}
</style>
