<template>
    <div>
        <upper-part-home></upper-part-home>
    </div>
</template>

<script>
import UpperPartHome from "@/components/home/UpperPartHome"
    export default {
        components: {
            UpperPartHome,
        },   
    }
</script>

<style lang="scss" scoped>

</style>