<template>
    <div class="login-container">
        {{$t('message')}}
        <b-form ref="loginForm" class="login-form" auto-complete="on" label-position="left">
            <div class="title-container">
                <h2 class="title">
                    <img v-if="logo" :src="logo" class="sidebar-logo" />
                </h2>
            </div>

            <b-form-group prop="username">
                <span class="svg-container">
                    <font-awesome-icon icon="user"></font-awesome-icon>
                </span>
                <b-form-input
                    ref="username"
                    v-model="loginForm.username"
                    :placeholder="$t('login.username')"
                    name="username"
                    type="text"
                    auto-complete="on"
                />
                <span class="svg-container">
                    <font-awesome-icon icon="lock"></font-awesome-icon>
                </span>
                <b-form-input
                    ref="password"
                    v-model="loginForm.password"
                    :placeholder="$t('login.password')"
                    name="password"
                    type="password"
                />
            </b-form-group>

            <b-button
                type="submit"
                style="width:100%;margin-bottom:30px;"
                @click.prevent="handleLogin()"
            >
                {{
                $t("login.login")
                }}
            </b-button>
        </b-form>
    </div>
</template>

<script>
import logo from "@/assets/img/logo.png";
import { login } from "@/api/user";

export default {
    name: "Login",
    components: {},
    data() {
        return {
            logo: logo,
            loginForm: {
                username: "",
                password: "",
            },
            passwordType: "password",
            capsTooltip: false,
            loading: false,
            showDialog: false,
            redirect: undefined,
        };
    },
    watch: {
        $route: {
            handler: function (route) {
                this.redirect = route.query && route.query.redirect;
            },
            immediate: true,
        },
    },
    created() {
        // window.addEventListener('storage', this.afterQRScan)
    },
    mounted() {
        // If we have a valid token, we redirect to home page (or last visited page)
        if (this.loginForm.username === "") {
            this.$refs.username.focus();
        } else if (this.loginForm.password === "") {
            this.$refs.password.focus();
        }
    },
    destroyed() {
        // window.removeEventListener('storage', this.afterQRScan)
    },
    methods: {
        checkCapslock({ shiftKey, key } = {}) {
            if (key && key.length === 1) {
                if (
                    (shiftKey && key >= "a" && key <= "z") ||
                    (!shiftKey && key >= "A" && key <= "Z")
                ) {
                    this.capsTooltip = true;
                } else {
                    this.capsTooltip = false;
                }
            }
            if (key === "CapsLock" && this.capsTooltip === true) {
                this.capsTooltip = false;
            }
        },
        showPwd() {
            if (this.passwordType === "password") {
                this.passwordType = "";
            } else {
                this.passwordType = "password";
            }
            this.$nextTick(() => {
                this.$refs.password.focus();
            });
        },
        handleLogin() {
            login(this.loginForm)
                .then((response) => {
                    // We store in vuex and redirect to home
                    if (response.access_token) {
                        this.$store.dispatch("LOGIN", response.access_token);
                        this.$route.push("Home");
                    } else {
                        this.error = "Problem with access token";
                    }
                })
                .catch((e) => {
                    this.error = "Wrong Credentials";
                    console.log(e);
                });
        },
    },
};
</script>

<style lang="scss">
/* 修复input 背景不协调 和光标变色 */
/* Detail see https://github.com/PanJiaChen/vue-element-admin/pull/927 */

$bg: var(--dark-background);
$light_gray: #fff;
$cursor: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
    .login-container .el-input input {
        color: $cursor;
    }
}

/* reset element-ui css */
.login-container {
    .el-input {
        display: inline-block;
        height: 47px;
        width: 85%;

        input {
            background: transparent;
            border: 0px;
            -webkit-appearance: none;
            border-radius: 0px;
            padding: 12px 5px 12px 15px;
            color: $light_gray;
            height: 47px;
            caret-color: $cursor;

            &:-webkit-autofill {
                box-shadow: 0 0 0px 1000px $bg inset !important;
                -webkit-text-fill-color: $cursor !important;
            }
        }
    }

    .el-form-item {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        color: #454545;
    }
}
</style>

<style lang="scss" scoped>
$bg: #02252d;
$dark_gray: #889aa4;
$light_gray: #eee;

.login-container {
    min-height: 100%;
    width: 100%;
    background-color: var(--dark-background);
    overflow: hidden;

    .login-form {
        position: relative;
        width: 520px;
        max-width: 100%;
        padding: 160px 35px 0;
        margin: 0 auto;
        overflow: hidden;
    }

    .tips {
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;

        span {
            &:first-of-type {
                margin-right: 16px;
            }
        }
    }

    .svg-container {
        padding: 6px 5px 6px 15px;
        color: $dark_gray;
        vertical-align: middle;
        width: 30px;
        display: inline-block;
    }

    .title-container {
        position: relative;

        .title {
            font-size: 26px;
            color: $light_gray;
            margin: 0px auto 40px auto;
            text-align: center;
            font-weight: bold;
        }

        .set-language {
            color: #fff;
            position: absolute;
            top: 3px;
            font-size: 18px;
            right: 0px;
            cursor: pointer;
        }
    }

    .show-pwd {
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 16px;
        color: $dark_gray;
        cursor: pointer;
        user-select: none;
    }

    .thirdparty-button {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    @media only screen and (max-width: 470px) {
        .thirdparty-button {
            display: none;
        }
    }
}
</style>
