<template>
  <b-container class fluid>
    <Part-title mainTitle="UNIVERSITY MATCHER" type="dark" />
    <b-row class="pl-5 ml-5 pr-5 mr-5 pt-3 pb-3">
      <b-col cols="4">
        <b-form-file
          v-model="file1"
          :state="Boolean(file1)"
          placeholder="Choose a file or drop it here..."
          drop-placeholder="Drop file here..."
          size="sm"
          @input="analyzeFile"
        ></b-form-file>
        <!-- Selected file: {{ file1 ? file1.name : "" }} -->
      </b-col>
      <b-col cols="5">
        <b-form-select
          v-if="loaded"
          v-model="fieldName"
          :options="options"
          size="sm"
          :value="null"
          autofocus
        />
      </b-col>
    </b-row>
    <b-row class="pl-5 ml-5 pr-5 mr-5 pt-3 pb-3">
      <b-col>
        <b-button type="submit" variant="primary" class="mr-4" @click="handleSubmit"
          >Submit</b-button
        >
        <b-button type="reset" variant="danger" @click="handleReset">Reset</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import PartTitle from "@/components/PartTitle";
import { uploadForJoiner } from "@/api/university";
import papa from "papaparse";
import UnivValidator from "@/components/superadmin/UnivValidator";
export default {
  components: {
    PartTitle
  },
  data() {
    return {
      file1: [],
      fieldName: "",
      options: [],
      loaded: false,
      firstOption: {
        value: null,
        text: "Select the field containing the university name ",
        disabled: true
      }
    };
  },
  methods: {
    analyzeFile() {
      let error = "",
        text = "";
      let file = this.file1;
      let reader = new FileReader();
      reader.readAsText(file, "UTF-8");
      reader.onload = evt => {
        text = evt.target.result;
        let res = papa.parse(text);
        console.log("RES", res);
        this.options = [
          this.firstOption,
          ...res.data[0].map(elt => {
            return { value: elt, text: elt };
          })
        ];
        this.fieldName = null;
        this.loaded = true;
      };
    },
    async handleSubmit() {
      console.log("File uploaded", this.file1);
      let res = await uploadForJoiner(this.file1, this.fieldName);
      console.log("RES", res);
    },
    handleReset() {
      (this.file1 = []), (this.fieldName = null);
      this.loaded = false;
    }
  }
};
</script>

<style lang="scss"></style>
