<template>
  <div>
      <b-container class="upper-container upper" fluid v-if="registered">
        <b-row class="ml-3 pt-5">
            <b-col>
                <h3>Awaiting Authorization</h3>
            </b-col>
        </b-row>
        <b-row class="ml-3 pb-4 mr-3">
             <b-col>
                 Your registration has been taken into account.
                 <p>Please, contact us at <a href="mailto:sales@emerging.fr">sales@emerging.fr</a> for final authorization.</p>
                 The Sales team.
                 </b-col>
        </b-row>
    </b-container>
  </div>
</template>

<script>
import { getAccessToken } from "@/api/authStrapi";
import { get } from 'lodash'
export default {
  data() {
    return {
        profile: '',
        role: get(this, "$store.state.userData.role.type")
    };
  },
  props: {
      
  },
  async mounted() {
      if(this.$route.params.provider == "google" || this.$route.params.provider == "linkedin") {    
        try {
            let profile = await getAccessToken(this.$route.params.provider, this.$route.query);
            this.$store.dispatch("SET_USER", profile.user);
            this.$store.dispatch("SET_TOKEN", profile.jwt);
            this.$store.dispatch("LOGIN");
            if(get(this, "$store.state.userData.role.type") == "authorized") this.$router.push("/experiment")
        } catch (e) {
            console.log("LOGIN ERROR:", e);
        }
      }
  },
  computed: {
      registered() {
          return get(this, "$store.state.userData.role.type") == 'registered' ? true : false;
      }
  },
};
</script>

<style lang="scss" scoped>

.upper {
    min-height: 400px;
    width: 100%;
}

.upper-container {
    background-color: white;
}
</style>
