<template>
  <b-container class="upper-container upper" fluid>
    <b-row class="ml-3 pt-5">
      <b-col>
        <Part-title mainTitle="Price List" type="light" />
      </b-col>
    </b-row>
    <b-row class="ml-5">
      <b-col>
        <b-table :fields="fields" :items="items" small borderless>
          <template #cell(field)="data">
            <div
              class="color-prices-column text-center"
              v-if="data.value != '' && data.value != 'Customized'"
            >
              {{ data.value }}
            </div>
            <div class="" v-else>
              {{ data.value }}
            </div>
          </template>
          <template #cell(catOrDetail)="data">
            <div
              class="title-prices-colummn cat-detail pl-2"
              v-if="data.item['field--2'] != undefined"
            >
              {{ data.item["field--2"] }}
            </div>
            <div class="detail-prices cat-detail m-0 p-0 pl-5" v-else>
              <span v-html="data.item['field--3']"></span>
            </div>
          </template>
          <template #cell(Starter)="data">
            <div class="" v-if="data.value == 'X'">
              <font-awesome-icon icon="check" class="green"></font-awesome-icon>
            </div>
            <div class="" v-else-if="data.value == '(-)'">
              <font-awesome-icon icon="times-circle" class="red"></font-awesome-icon>
            </div>
            <div
              class=""
              v-else-if="data.value == 'X*'"
              v-b-tooltip.hover
              title="depending on country"
            >
              <font-awesome-icon icon="check" class="green"></font-awesome-icon>*
            </div>
            <div class="" v-else-if="data.value != ''">
              <b-button class="w-100" variant="success">{{ data.value }}</b-button>
            </div>
          </template>
          <template #cell(Expert)="data">
            <div class="" v-if="data.value == 'X'">
              <font-awesome-icon icon="check" class="green"></font-awesome-icon>
            </div>
            <div class="" v-else-if="data.value == '(-)'">
              <font-awesome-icon icon="times-circle" class="red"></font-awesome-icon>
            </div>
            <div
              class=""
              v-else-if="data.value == 'X*'"
              v-b-tooltip.hover
              title="Depending on country"
            >
              <span class="orange"><font-awesome-icon icon="check"></font-awesome-icon>*</span>
            </div>
            <div class="" v-else-if="data.value != ''">
              <b-button class="w-100" variant="success">{{ data.value }}</b-button>
            </div>
          </template>
          <template #cell(early_bird)="data">
            <div class="" v-if="data.value == 'X'">
              <font-awesome-icon icon="check" class="green"></font-awesome-icon>
            </div>
            <div class="" v-else-if="data.value == '(-)'">
              <font-awesome-icon icon="times-circle" class="red"></font-awesome-icon>
            </div>
            <div
              class=""
              v-else-if="data.value == 'X*'"
              v-b-tooltip.hover
              title="depending on country"
            >
              <span class="orange"><font-awesome-icon icon="check"></font-awesome-icon>*</span>
            </div>
            <div v-else-if="data.value != ''">
              <b-button class="w-100" variant="success">{{ data.value }}</b-button>
            </div>
          </template>
        </b-table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import prices from "@/config/prices.json";
import PartTitle from "@/components/PartTitle";

export default {
  components: {
    PartTitle
  },
  data() {
    return {
      // fields: ["", "Starter", "Expert", "Early Bird"]
      fields: [
        { key: "field", label: "", tdClass: "medium-prices-column" },
        // { key: "field--2", label: "", tdClass: "medium-prices-column" },
        { key: "catOrDetail", label: "", tdClass: "big-prices-column" },
        {
          key: "Starter",
          label: "Starter",
          tdClass: "small-prices-column text-center starter",
          thClass: "title-prices-colummn text-center mr-1 starter-head"
        },
        {
          key: "Expert",
          label: "Expert",
          tdClass: "small-prices-column text-center expert",
          thClass: "title-prices-colummn text-center pr-1 expert-head"
        },
        {
          key: "early_bird",
          label: "Early Bird",
          tdClass: "small-prices-column text-center early-bird",
          thClass: "title-prices-colummn text-center early-bird-head"
        }
      ],
      items: prices
    };
  }
};
</script>

<style lang="scss">
.upper-container {
  background-color: white;
  color: grey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.small-prices-column {
  max-width: 100px;
  width: 100px;
}
.medium-prices-column {
  max-width: 100px;
}
.big-prices-column {
  max-width: 300px;
}

.color-prices-column {
  background: orange;
  color: white;
}

.title-prices-colummn {
  color: grey;
  font-weight: 600;
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.detail-prices {
  color: grey;
  font-size: 14px;
}

.early-bird {
}
.early-bird-head {
}
.expert {
}

.expert-head {
}
.starter {
}
.starter-head {
}

.cat-detail {
  background-color: #faf9f8;
}
</style>
