<template>
    <b-container class="upper-container upper" fluid>
        <b-row class="ml-3 pt-4">
            <Privacy></Privacy>
        </b-row>
    </b-container>
</template>

<script>
import Privacy from "@/components/Privacy";
export default {
    components: { Privacy },
    mounted() {
        window.scrollTo(0, 0);
    }
};
</script>

<style lang="scss" scoped>
span {
    font-family: "Source Sans Pro", sans-serif;
    color: var(--dark-background);
    font-size: 32px;
    font-weight: 300;
}

.upper {
    min-height: 400px;
    width: 100%;
}

.upper-container {
    background-color: white;
}

div.pad {
    padding-top: 20px;
}
</style>