<template>
  <b-container class fluid>
    <Part-title mainTitle="SETTINGS" type="dark" />
    <b-row class="pl-5 ml-5 pr-5 mr-5 pt-3 pb-3">
      <b-col>
        <b-form @submit.prevent="onSubmit" @reset="onReset">
          <!-- <b-form-group
                        id="fieldset-horizontal"
                        label-cols-sm="3"
                        label-cols-lg="2"
                        description
                        label="User name"
                        label-for="input-horizontal"
                        class="label"
                    >
                        <b-form-input
                            v-if="nameEdit"
                            id="input-horizontal"
                            v-model="form.name"
                        />
                        <b-form-input
                            v-else
                            id="input-horizontal"
                            v-model="form.name"
                            disabled
                        />
                    </b-form-group> -->
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="3"
            label-cols-lg="2"
            description="Choose the university that will be used as reference"
            label="Default university"
            label-for="input-horizontal"
            class="label"
          >
            <multiselect
              v-if="loaded"
              v-model="form.university"
              :options="univOptions"
              :multiple="false"
              :max-height="200"
              label="label"
              track-by="id"
              :preserve-search="true"
              :taggable="false"
              :showLabels="false"
              @input="reloadChallengers"
              class="settings"
            ></multiselect>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="3"
            label-cols-lg="2"
            label="Challengers"
            label-for="input-horizontal"
            class="label"
          >
            <multiselect
              v-if="challengersLoaded"
              v-model="form.challengers"
              :options="univOptions"
              :multiple="true"
              :max-height="200"
              label="label"
              track-by="id"
              :preserve-search="true"
              :taggable="false"
              :showLabels="false"
            ></multiselect>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="3"
            label-cols-lg="2"
            label="Load Challengers"
            label-for="input-horizontal"
            class="label pt-0"
          >
            <b-row>
              <b-form-checkbox-group
                id="challengersType"
                v-model="challengersType"
                :options="types"
                aria-label="Load Challengers"
                class="pl-3 pt-1"
                @input="handleChallengers"
                :buttons="true"
                button-variant="info"
                size="sm"
              />
            </b-row>
          </b-form-group>
          <b-button type="submit" variant="outline-dark  btn-sm rounded-0" class="pr-2 mr-2"
            >Submit</b-button
          >
          <b-button type="reset" variant="outline-secondary  btn-sm rounded-0">Reset</b-button>
          <sys-message
            name="savingMsg"
            ref="savingMsg"
            :title="submitTitle"
            :message="submitMessage"
            :variant="submitVariant"
          ></sys-message>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Multiselect from "vue-multiselect";
import { list } from "@/api/neo4j/university";
import {
  similarSkillsforSettings,
  getDefaultChallengers,
  sameVotersforSettings
} from "@/api/university";

import { saveChallengersToBackend, getChallengersFromBackEnd } from "@/api/universityStrapi";

import PartTitle from "@/components/PartTitle";
import SysMessage from "@/components/common/SysMessage";
import _ from "lodash";

export default {
  components: { Multiselect, PartTitle, SysMessage },

  data() {
    return {
      form: {
        email: "",
        name: "",
        university: [],
        challengers: []
      },
      univOptions: [],
      challengersLoaded: false,
      loaded: false,
      nameEdit: false,
      types: [
        { text: "Saved values", value: "db" },
        { text: "By Drivers", value: "skills" },
        { text: "Voted by voters", value: "voted" }
      ],
      challengersType: [],
      preSelected: [],
      submitTitle: "Success",
      submitVariant: "info",
      submitMessage: ""
    };
  },
  mounted: function() {
    this.form.university = this.$store.state.parameters.defaultUniversity
      ? this.$store.state.parameters.defaultUniversity
      : {};
    this.form.name = this.$store.state.userData.username;

    this.getChallengers();
    list().then(res => {
      this.univOptions = res;
      this.loaded = true;
    });
  },
  methods: {
    onSubmit() {
      // save University (FE)

      this.$store.dispatch("SAVE_VALUE", {
        defaultUniversity: this.form.university
      });
      // store competitors in vuex
      this.$store.dispatch("SAVE_VALUE", {
        challengers: this.form.challengers
      });
      // Save competitors in server
      saveChallengersToBackend(
        this.$store.state.userData.id,
        this.form.university.id,
        this.form.challengers
      )
        .then(() => {
          this.submitMessage = "Settings have been saved";
          this.$bvToast.show("savingMsg");
        })
        .catch(e => {
          this.submitVariant = "error";
          this.submitTitle = "Error";
          this.submitMessage = e;
        });
    },
    onReset(evt) {
      console.log(evt);
      return null;
    },
    async getChallengers() {
      let res = {};
      if (this.form.university) {
        // Do we have saved challengers ?
        let dbRes = await getChallengersFromBackEnd(
          this.$store.state.userData.id,
          this.form.university.id
        );
        if (dbRes.length > 0) {
          this.preSelected = this.challengersType = ["db"];
          this.form.challengers = dbRes[0].universities.map(o => {
            return { id: o._id, label: o.name };
          });
        } else {
          res = await getDefaultChallengers(this.form.university.id);
          this.preSelected = this.challengersType = res.challengersType;
          this.form.challengers = res.challengers;
        }
      }
      this.challengersLoaded = true;
    },
    reloadChallengers() {
      this.challengersLoaded = false;
      this.form.challengers = [];
      this.getChallengers();
    },
    async handleChallengers() {
      let removed = _.difference(this.preSelected, this.challengersType);
      this.removeChallengers(removed);
      let added = _.difference(this.challengersType, this.preSelected);
      let ch = [];
      if (this.challengersType != this.preSelected) {
        if (added.find(elt => elt == "skills")) {
          let res = await similarSkillsforSettings(this.form.university.id);
          ch = res.challengers;
        }
        if (added.find(elt => elt == "voted")) {
          ch = await sameVotersforSettings(this.form.university.id);
        }
        if (added.find(elt => elt == "db")) {
          let res = await getChallengersFromBackEnd(
            this.$store.state.userData.id,
            this.form.university.id
          );
          ch = JSON.parse(res.result[0].challengers);
        }
        this.form.challengers = this.dedup(_.concat(this.form.challengers, ch));
        this.preSelected = this.challengersType;
      }
      return true;
    },
    async removeChallengers(challengersTypes) {
      let rm = [];
      for (let index = 0; index < challengersTypes.length; index++) {
        if (challengersTypes[index] == "skills") {
          let ch = await similarSkillsforSettings(this.form.university.id);
          rm = ch.challengers;
        } else if (challengersTypes[index] == "voted") {
          rm = await sameVotersforSettings(this.form.university.id);
        } else if (challengersTypes[index] == "db") {
          let res = await getChallengersFromBackEnd(
            this.$store.state.userData.id,
            this.form.university.id
          );
          rm = JSON.parse(res.result[0].challengers);
        }
        this.form.challengers = _.differenceBy(this.form.challengers, rm, "id");
      }
    },
    dedup(ar) {
      return _.uniqBy(ar, "id");
    }
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
.label {
  color: var(--gray-600);
  font-weight: 200;
}

.checkbox {
  color: var(--gray-600);
  font-weight: 400;
  font-size: 12px;
}
</style>
<style lang="scss">
.multiselect__tags {
  font-size: 12px;
  background: var(--dark-background-right);
  background-image: linear-gradient(
    to right,
    var(--dark-background-left),
    var(--dark-background-right)
  );
  border: 1px solid var(--dark-background-left);
}

.multiselect__tag {
  border-radius: 1px;
  background: var(--dark-background-left);
  line-height: inherit;
}

.multiselect {
  font-size: 12px;
  width: 100%;
}

.multiselect__input,
.multiselect__single {
  border-radius: 0px;
  font-size: 12px;
  background: var(--dark-background-left);
  color: white;
}

.multiselect__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  font-size: 12px;
  opacity: 1; /* Firefox */
}

.multiselect__option--highlight {
  background: var(--dark-background-left);
  outline: none;
  color: white;
}

.multiselect__content-wrapper {
  background: black;
  border: 0;
  color: white;
}
.multiselect__option--selected {
  background: var(--dark-background-left);
  color: white;
}

.multiselect__tag-icon {
  background: var(--dark-background-right);
  color: white;
}

.multiselect__tag-icon:hover {
  background: var(--dark-background-right);
  color: white;
}

.multiselect__content {
  background: var(--dark-background-right);
}

.light {
  .multiselect__tag {
    border-radius: 1px;
    background: white;
    color: rgb(3, 161, 142);
    line-height: inherit;
  }

  .multiselect__input,
  .multiselect__single {
    border-radius: 0px;
    font-size: 12px;
    background: white;
    color: rgb(3, 161, 142);
  }

  .multiselect__tags {
    font-size: 12px;
    min-height: 20px;
    background: var(--dark-background-right);
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0px;
  }
}
</style>
