<template>
  <b-container class="upper-container upper pr-5" fluid>
    <Part-title :mainTitle="'BEST PRACTICE | ' + skill" type="dark" />

    <b-container class="bv-example-row">
      <b-row class="text-center">
        <b-col></b-col>
        <b-col>
          <h3 class="white">Position</h3>
          {{ $store.state.parameters.defaultUniversity.label }}
          <Big-number :value="skillRank"></Big-number>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>
    <b-row>
      <b-col class="ml-4">
        <div class="normal">
          he table shows to what extent the ranking performance of each university is driven by
          {{ skill }}. The values have been calculated based on performance in the TOP150
          Employability Ranking and in the "{{ skill }}" driver ranking.
        </div>
        <skill-table :skill="skill" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
// @ is an alias to /src
import PartTitle from "@/components/PartTitle";
import SkillTable from "@/components/SkillTable";
import BigNumber from "@/components/charts/BigNumber";
import { getSkillRank } from "@/api/university";

export default {
  name: "Skill",
  props: {
    skill: {
      type: String,
      default: ""
    }
  },
  created() {
    getSkillRank(this.skill, this.$store.state.parameters.defaultUniversity.id).then(res => {
      console.log("RES", res);
      this.skillRank = res[0]["skill_rank"];
      console.log("SKILL RANK", this.skillRank);
    });
  },
  data() {
    return {
      skillRank: ""
    };
  },
  components: {
    PartTitle,
    SkillTable,
    BigNumber
  }
};
</script>
<style scoped>
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}
.upper {
  min-height: 300px;
  width: 100%;
}

.upper-container {
}
</style>
