<template>
  <b-container class="upper charts-geurs" fluid>
    <b-row class="pt-3 geurs-title">
      <b-col>
        <Part-title mainTitle="Time Series" type="light" />
      </b-col>
    </b-row>
    <b-row class="mt-0">
      <b-col class="p-0 m-0">
        <complete-table-async
          title="Global Ranking"
          id="globlRankingTable"
          :chartComponent="ChartTable"
          :fetchArgs="globalRanking"
          :filters="{ UniversitySelector: true }"
          :providerDataFunction="getGlobalRankings"
        ></complete-table-async>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { rankingsALL } from "@/api/neo4j/university";
import PartTitle from "@/components/PartTitle";
import ChartTable from "@/components/charts/generic/ChartTable";
import CompleteTableAsync from "@/components/common/CompleteTableAsync";
import ChartHelper from "@/mixins/ChartHelper";
import CsvHelper from "@/mixins/CsvHelper";
import _ from "lodash";

export default {
  components: {
    PartTitle,
    CompleteTableAsync
  },
  mixins: [CsvHelper],
  mounted() {
    // Subscribe to filters
    this.connectorSubscribe(this.prefix + "UNIV", async data => {
      this.fetchData({ UNIV: data }, this.fetchArgs, this.prefix);
    });
  },
  data() {
    return {
      ChartTable,
      univids: [],
      prefix: "",
      globalRanking: {
        subscriberPrefix: "globalRankings",
        upFiltersTitle: "Filter",
        renderOptions: {
          plugin: "table",
          perPage: 15,
          fields: this.getRankingFields()
        }
      }
    };
  },
  methods: {
    async getGlobalRankings(ctx) {
      let data = await rankingsALL(this.univids, ctx.perPage, ctx.currentPage);
      data = this.makeItems(data);
      return data;
    },
    makeItems(data) {
      let res = [];
      data.map(o => {
        let point = {
          university: o.x,
          ...this.Objectize(o.year, o.y)
        };
        res.push(point);
      });
      return res;
    },
    Objectize(ar1, ar2) {
      let ret = {};
      for (let index = 0; index < ar1.length; index++) {
        ret[ar1[index]] = ar2[index];
      }
      return ret;
    },
    getRankingFields() {
      let from = 2012,
        to = 2020;
      let fields = [{ key: "university", label: "University" }];
      for (let index = from; index <= to; index++) {
        fields.push({
          key: index.toString(),
          label: index.toString()
        });
      }
      return fields;
    }
  }
};
</script>

<style lang="scss" scoped>
.charts-geurs {
  background-color: white;
}

.geurs-title {
  background-color: rgba(0, 0, 0, 0.03);
}
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}

.upper {
  min-height: 600px;
  color: var(--light-background-left);
}

.upper-container {
  background-color: white;
}

div.pad {
  padding-top: 20px;
}

ul {
  padding-top: 20px;
}

li {
  padding-top: 10px;
}
</style>

<style lang="scss">
.nav-geurs {
  color: grey;
  font-size: 12px;
  text-transform: capitalize;
}

.nav-geurs .nav-link {
  color: #777;
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 1px solid #eee;
}

.nav-link .active {
  border-top: 1px 0 0 1px solid #eee;
  // background-color: var(--light-background-left);
}
</style>
