<template>
  <b-container class="upper charts-geurs" fluid>
    <b-row class="pt-3 geurs-title">
      <b-col>
        <Part-title mainTitle="Time Series" type="light" />
      </b-col>
    </b-row>
    <b-row class="mt-0 pt-3">
      <b-col class="p-0 m-0" cols="4">
        <multi-chart
          title=""
          :filterOptions="graphRanking.filterOptions"
          id="timeSeries2"
          part="filters"
        ></multi-chart>
      </b-col>
      <b-col class="p-0 m-0">
        <multi-chart
          title="Global Ranking"
          :renderOptions="{ legends: ['Serie 1'], plugin: 'chartjs' }"
          :graphComponent="ChartTable"
          :filterOptions="graphRanking.filterOptions"
          id="timeSeries2"
          :fetchStage="graphRanking.fetchStage"
          part="chart"
          :async="true"
          :nav="false"
        ></multi-chart>
      </b-col>
    </b-row>
    <hr />
    <b-row class="pt-3 mb-3">
      <b-col class="p-0 m-0" cols="4">
        <multi-chart
          title=""
          :filterOptions="satisfaction.filterOptions"
          id="timeSeriesSatisf"
          part="filters"
        ></multi-chart>
      </b-col>
      <b-col class="">
        <multi-chart
          title="Satisfaction with Higher Education"
          subTitle="All in all, how satisfied are you with the higher education in you country?"
          :renderOptions="satisfaction.renderOptions"
          :graphComponent="BarChart"
          :graphOptions="{ height: 400 }"
          :filterOptions="satisfaction.filterOptions"
          id="timeSeriesSatisf"
          :fetchStage="satisfaction.fetchStage"
          :processStage="satisfaction.processStage"
          part="chart"
          :async="false"
          :nav="true"
        ></multi-chart>
      </b-col>
    </b-row>
    <hr />
    <!-- <b-row class="pt-3">
      <b-col class="p-0 m-0" cols="4">
        <multi-chart
          title=""
          :filterOptions="satisfaction.filterOptions"
          id="timeSeriesSatisf"
          part="filters"
        ></multi-chart>
      </b-col>
      <b-col class="">
        <multi-chart
          title="Satisfaction with Higher Education"
          subTitle="All in all, how satisfied are you with the higher education in you country?"
          :renderOptions="satisfaction.renderOptions"
          :graphComponent="BarChart"
          :filterOptions="satisfaction.filterOptions"
          id="timeSeriesSatisf"
          :fetchStage="satisfaction.fetchStage"
          :processStage="satisfaction.processStage"
          part="chart"
          :async="false"
        ></multi-chart>
      </b-col>
    </b-row> -->
  </b-container>
</template>

<script>
import { getFullCustomQuery } from "@/api/neo4j/statistics";
import { rankingsALL } from "@/api/neo4j/university";
import { makeSeries, getYearsList } from "@/lib/chartUtils";
import PartTitle from "@/components/PartTitle";
import ChartTable from "@/components/charts/generic/ChartTable";
import BarChart from "@/components/charts/generic/BarChart";
import MultiChart from "@/components/common/MultiChart";
import _ from "lodash";

export default {
  components: {
    PartTitle,
    MultiChart
  },
  data() {
    return {
      ChartTable,
      BarChart,
      graphRanking: {
        fetchStage: {
          functionVar: this.getGlobalRankings,
          args: {
            fields: getYearsList()
          }
        },
        processStage: { functionVar: this.makeItems },
        filterOptions: {
          filters: { UniversitySelector: true },
          upFiltersTitle: "MultiChart filters"
        }
      },
      satisfaction: {
        filterOptions: {
          filters: { countryMultiple: true },
          upFiltersTitle: "MultiChart filters"
        },
        fetchStage: {
          functionVar: getFullCustomQuery,
          args: {
            addFilter: 'q.questionId = "51"',
            result: "DISTINCT c.name as serie,r.year as _id,avg(an.value) as y",
            marker: "SATISF",
            debug: false
          }
        },
        processStage: { functionVar: makeSeries },
        renderOptions: {
          sortOrdinates: true,
          sort: true,
          plugin: "chartjs",
          yLabels: getYearsList(2011, 2022)
        },
        graphOptions: {
          height: 600
        }
      }
    };
  },
  methods: {
    makeItems(data) {
      let res = [];
      data.map(o => {
        let point = {
          university: o.x,
          ...this.Objectize(o.year, o.y)
        };
        res.push(point);
      });
      return res;
    },
    Objectize(ar1, ar2) {
      let ret = {};
      for (let index = 0; index < ar1.length; index++) {
        ret[ar1[index]] = ar2[index];
      }
      return ret;
    },
    getYearsList(from = 2012, to = 2020) {
      let fields = [{ key: "university", label: "University" }];
      for (let index = from; index <= to; index++) {
        fields.push({
          key: index.toString(),
          label: index.toString()
        });
      }
      return fields;
    },
    async getGlobalRankings(ctx) {
      this.univid = _.get(ctx, "filter.UNIV");
      let data = await rankingsALL(this.univid, ctx.perPage, ctx.currentPage);
      data = this.makeItems(data);
      return data;
    }
  }
};
</script>

<style lang="scss" scoped>
.charts-geurs {
  background-color: white;
}

.geurs-title {
  background-color: rgba(0, 0, 0, 0.03);
}
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}

.upper {
  min-height: 600px;
  color: var(--light-background-left);
}

.upper-container {
  background-color: white;
}

div.pad {
  padding-top: 20px;
}

ul {
  padding-top: 20px;
}

li {
  padding-top: 10px;
}
</style>

<style lang="scss">
.nav-geurs {
  color: grey;
  font-size: 12px;
  text-transform: capitalize;
}

.nav-geurs .nav-link {
  color: #777;
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 1px solid #eee;
}

.nav-link .active {
  border-top: 1px 0 0 1px solid #eee;
  // background-color: var(--light-background-left);
}
</style>
