<template>
  <b-container class="upper-container upper pr-5" fluid>
    <Part-title mainTitle="Universipedia" type="dark" />
    <b-container class="bv-example-row">
      <b-row class="text-center">
        <b-col></b-col>
        <b-col> </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>
    <b-row>
      <b-col class="ml-4">
        <div class="normal">
          Search for any University in the world. Click on "detail" to display insight information about the institution.
        </div>
        <univ-table />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
// @ is an alias to /src
import PartTitle from "@/components/PartTitle";
import UnivTable from "@/components/UnivTable";

export default {
  name: "Universipedia",
  props: {
    skill: {
      type: String,
      default: "delete"
    }
  },
  data() {
    return {
      skillRank: ""
    };
  },
  components: {
    PartTitle,
    UnivTable
  }
};
</script>
<style scoped>
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}
.upper {
  min-height: 300px;
  width: 100%;
}

.upper-container {
}
</style>
