<template>
  <b-container class="pl-0 pr-0 dark-background" fluid>
    <b-row class="dark-background pl-0 pr-0">
      <b-col cols="4">
        <b-row>
          <Widget-container class="float-right" subtitle="Choose university">
            &nbsp;
            <multi-selector
              v-if="loaded"
              placeholder="Select University"
              :options="univOptions"
              emitter="RankingUniversities"
              :defaultValues="challengers"
              multiple
            ></multi-selector>
          </Widget-container>
        </b-row>
      </b-col>
      <b-col ref="rank">
        <Widget-container
          class="float-right"
          title="Employability Benchmark"
          tooltip="tooltip.employabilityImpact"
          :nav="false"
          :info="''"
          infoTitle="INFO: Methodology"
          widgetId="rankComparator"
          tabindex="1"
          id="rank"
        >
          <b-row>
            <Rank-comparator
              v-if="loaded"
              :width="800"
              :height="370"
              subscribed="RankingUniversities"
              :defaultValues="challengers"
            ></Rank-comparator>
          </b-row>
        </Widget-container>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import WidgetContainer from "@/components/WidgetContainer";
import MultiSelector from "@/components/dashboard/MultiSelector";
import RankComparator from "@/components/charts/RankComparator";
import { list as listNeo } from "@/api/neo4j/university";
import { defaultUniversities } from "@/config/data";

export default {
  name: "UpperPart",
  props: [],
  components: {
    WidgetContainer,
    MultiSelector,
    RankComparator
  },
  beforeCreate: function() {
    document.body.style = "";
  },
  mounted() {
    // Hello
    // list().then(res => {
    //   console.log("normal", res);
    //   this.challengers = this.defaultUniversities["Sorbonne"];
    //   this.univOptions = res;
    //   this.loaded = true;
    //   now = new Date();
    //   console.log("Result for python:", now - then);
    // });
    listNeo().then(res => {
      this.challengers = this.defaultUniversities["Sorbonne"];
      this.univOptions = res;
      this.loaded = true;
    });
  },
  created: function() {},
  data: function() {
    return {
      form: {
        email: "",
        name: "",
        checked: []
      },
      emailAdvice: "",
      productName: "HEEP",
      loaded: false,
      univOptions: [],
      challengers: [],
      defaultUniversities
    };
  },
  methods: {}
};
</script>

<style scoped>
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}
.upper {
  min-height: 400px;
  width: 100%;
}

.upper-container {
  background-color: white;
}

.jumbo-home {
  background-image: url("~@/assets/img/fauteuils2.jpg");
  background-size: cover;
}

.part-2 {
  background-color: var(--footer-background);
}

.white {
  color: white;
}

.dark-background {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--footer-background);
}

body {
  background-color: black;
}
</style>
