<template>
  <div></div>
</template>

<script>
export default {
  props: {
    originalName: {
      type: String
    },
    proposedNames: {
      type: Array
    }
  }
};
</script>

<style lang="scss" scoped></style>
