<template>
  <div>
    <complete-chart
      title="Coronavirus 1"
      subtitle="Please help us understand how the current corona crisis is impacting the Higher Education market. How would you have rated the different university quality criteria before the corona crisis?"
      tooltip=""
      id="Q2F"
      :chartComponent="HorizontalBar"
      :fetchArgs="Q2F"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
    <hr />
    <complete-chart
      title="Coronavirus 2"
      subtitle="Do you expect this estimate to be impacted by the corona crisis?"
      tooltip=""
      id="Q10"
      :chartComponent="HorizontalBar"
      :fetchArgs="Q10"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
    <hr />
    <univ-comp-corona subscriberPrefix="univCompCorona" :year="2020"></univ-comp-corona>
  </div>
</template>

<script>
import {
  getPercentageDataQuestion,
  getPercentageSpecialQuestions,
  getCustomQuery
} from "@/api/neo4j/statistics";

import CompleteChart from "@/components/common/CompleteChart";
import _ from "lodash";
import HorizontalBarChart from "@/components/charts/generic/HorizontalBarChart.vue";
import UnivCompCorona from "@/components/charts/UnivCompCorona";
import Connector from "@/mixins/Connector";
import CsvHelper from "@/mixins/CsvHelper";

export default {
  components: {
    CompleteChart,
    UnivCompCorona
  },
  mixins: [CsvHelper, Connector],
  props: {
    year: {
      type: String,
      default: "2020"
    }
  },
  created() {},
  data() {
    return {
      visible: false,
      HorizontalBar: HorizontalBarChart,
      allFiltersAndDimension: {
        filtersPart: true,
        groupSingle: { default: "Sector" }
      },

      allFilters: {
        filtersPart: true
      },
      Q2F: {
        dataFunction: getPercentageDataQuestion,
        postProcess: "multiFilterAverage2",
        subscriberPrefix: "q2f",
        formatY: true,
        allSerie: true,
        filtersNumber: 2,
        dataFunctionArgs: {
          questionId: "Q2F",
          year: this.year
        },
        renderOptions: {
          sort: true,
          lengthXMax: 30,
          yLabels: ["10", "9", "8", "7", "6", "5", "4", "3", "2", "Exactly the same   1"]
        }
      }
    };
  },
  computed: {
    Q10() {
      let args = _.cloneDeep(this.Q2F);
      args.subscriberPrefix = "q10";
      args.dataFunctionArgs.questionId = "Q10";
      args.dataFunctionArgs.debug = false;
      args.renderOptions.yLabels = [
        "Very strongly10",
        "9",
        "8",
        "7",
        "6",
        "5",
        "4",
        "3",
        "2",
        "Not at all1"
      ];
      return args;
    }
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.charts-geurs {
  background-color: white;
}

.geurs-title {
  background-color: rgba(0, 0, 0, 0.03);
}
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}

.upper {
  min-height: 600px;
  color: var(--light-background-left);
}

.upper-container {
  background-color: white;
}

div.pad {
  padding-top: 20px;
}

ul {
  padding-top: 20px;
}

li {
  padding-top: 10px;
}
</style>

<style lang="scss">
.nav-geurs {
  color: grey;
  font-size: 12px;
  text-transform: capitalize;
}

.nav-geurs .nav-link {
  color: #777;
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 1px solid #eee;
}

.nav-link .active {
  border-top: 1px 0 0 1px solid #eee;
  // background-color: var(--light-background-left);
}
</style>
