<template>
  <div>
    <common-filter
      :subscribed="subscriberPrefix"
      placeholder="Country"
      type="COUNTRY"
      :multiple="false"
      :presetValues="[country]"
      class="pb-4"
      :isDark="false"
    />
    <multi-selector
      v-if="loaded"
      placeholder="Select University"
      :options="univOptions"
      :subscribed="subscriberPrefix"
      :emitter="subscriberPrefix + 'COUNTRYUNIV'"
      :subscribeFunction="updateListByCountry"
      :defaultValues="challengers"
      height="200"
      :isDark="false"
      multiple
    ></multi-selector>
  </div>
</template>

<script>
import CommonFilter from "@/components/common/CommonFilter";
import MultiSelector from "@/components/dashboard/MultiSelector";
import { listByLocal, list, listBy } from "@/api/neo4j/university";
import Connector from "@/mixins/Connector";
import _ from "lodash";

export default {
  components: {
    CommonFilter,
    MultiSelector
  },
  mixins: [Connector],
  props: {
    subscriberPrefix: {
      type: String,
      default: ""
    },
    emitter: {
      type: String
    },
    variant: {
      type: String,
      default: "local"
    }
  },
  created() {
    this.country = this.defaultCountry;
  },
  mounted() {
    // Get stored country
    this.connectorSubscribe(this.subscriberPrefix + "COUNTRYUNIV", data => {
      this.challengers = data;
    });

    this.loadDefault(this.defaultCountry);
  },
  data() {
    return {
      loaded: false,
      challengers: [],
      univOptions: [],
      country: {}
      //   defaultCountry: { id: "FR", label: "France" }
      //   updateListByCountry: async data => {

      //   }
    };
  },
  methods: {
    async loadDefault(data) {
      await this.updateListByCountry(data, "default");
      // this.connectorPublish(this.subscriberPrefix + "COUNTRYUNIV", this.challengers);
    },
    async updateListByCountry(data, type) {
      this.loaded = false;
      if (this.variant == "local") {
        let univ = await listByLocal({ country: data.id, year: 2020 }, "COUNTRY");
        this.univOptions = univ;
        this.challengers = univ.slice(0, Math.ceil(univ.length / 3));
      } else if (this.variant == "global") {
        if (type == "default") {
          let univ = await list();
          this.country = "";
          this.univOptions = univ;
          this.challengers = univ.slice(0, 15);
        } else {
          // Comes from select
          let univ = await listBy(data, "COUNTRY");
          this.univOptions = univ;
          this.challengers = univ.slice(0, 15);
        }
      }
      this.connectorPublish(this.subscriberPrefix + "COUNTRYUNIV", this.challengers);
      this.loaded = true;
      // Have to update the graph
    }
  },
  computed: {
    defaultCountry: function() {
      if (this.variant == "local") {
        return !_.get(this, "$store.state.cache." + this.subscriberPrefix)
          ? { label: "France", id: "FR" }
          : _.get(this, "$store.state.cache." + this.subscriberPrefix);
      } else return {};
    },
    explanation: function() {
      if (this.variant == "global") return "Select universities or country";
      else return "Select a country to load its universities";
    }
  }
};
</script>

<style lang="scss" scoped></style>
