<template>
  <div>
    <complete-chart
      subtitle="What factors are shaping today's work environment for career starters / graduates?"
      title="Work Environment"
      tooltip=""
      id="Q013"
      :chartComponent="HorizontalBar"
      :fetchArgs="makeOptions('Q013')"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
    <hr />
    <statement-charts
      title="Statements"
      subtitle="To what extend do you agree to the following statements regarding the role of universities."
      year="2019"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    >
    </statement-charts>
    <!-- <complete-chart
      title="Satisfaction with local HE"
      subtitle="All in all, how satisfied are you with the higher education in your country?"
      tooltip="tooltip.q3a"
      id="q3a"
      :chartComponent="HorizontalBar"
      :fetchArgs="fetchArgs"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
    <hr />
    <complete-chart
      title="Long-term / Short-term employability"
      subtitle='To what extend do you agree with the statements "universities should focus on long-term employability of their students” (stat. 1) and "universities should mainly prepare students to slot into the present labour market” (stat. 2)? '
      id="q14"
      :chartComponent="Bar"
      :filters="dimensionOnly"
      :fetchArgs="optionsQ14"
    ></complete-chart>
    <complete-chart
      title=""
      subtitle=""
      id="q14_2"
      :chartComponent="Bar"
      :fetchArgs="optionsQ14b"
      :filters="allFilters"
    ></complete-chart>
    <hr />
    <complete-chart
      title="University sustainability"
      subtitle='To what extend do you agree with the statement "universities can’t be sustainable without being socially responsible”?'
      id="q14_004"
      :chartComponent="Bar"
      :fetchArgs="optionsQ14_4"
      :filters="allFilters"
    ></complete-chart> -->
    <hr />
  </div>
</template>

<script>
import {
  getPercentageDataQuestion,
  getPercentageSpecialQuestions,
  getCustomQuery
} from "@/api/neo4j/statistics";
import { getAverageData, groupedData, groupedDataMultiple } from "@/api/statisticsStrapi";
import CompleteChart from "@/components/common/CompleteChart";
import StatementCharts from "@/components/geurs/StatementCharts";
import _ from "lodash";
import BarChart from "@/components/charts/generic/BarChart.vue";
import HorizontalBarChart from "@/components/charts/generic/HorizontalBarChart.vue";
import Connector from "@/mixins/Connector";
import CsvHelper from "@/mixins/CsvHelper";

export default {
  components: {
    CompleteChart,
    StatementCharts
  },
  mixins: [CsvHelper, Connector],
  created() {},
  data() {
    return {
      year: this.$route.params.year,
      visible: false,
      Bar: BarChart,
      HorizontalBar: HorizontalBarChart,
      allFiltersAndDimension: {
        filtersPart: true,
        groupSingle: { default: "Sector" }
      },

      allFilters: {
        filtersPart: true
      },
      fetchArgs: {
        dataFunction: getCustomQuery,
        postProcess: "singleFilterAverage",
        serieName: "Filtered",
        //allSerie: true,
        //groups: 2,
        //filtersNumber: 4,
        subscriberPrefix: "q44",
        dataFunctionArgs: {
          parameters: {
            year: 2019
          },
          addFilter: 'q.code = "Q044_001"',
          result: "DISTINCT an.value as _id, count(*) as y",
          marker: "q044"
        },
        renderOptions: {
          legend: {
            display: false
          },
          ylabels: [
            "Very satisfied (10)",
            "9",
            "8",
            "7",
            "6",
            "5",
            "4",
            "3",
            "2",
            "Very dissatisfied (1)",
            "nan"
          ]
          //   sortOrdinates: {
          //     direction: "DESC"
          //   }
          //   drawMediumLine: {
          //     options: { borderColor: "#FF6037", borderWidth: 1, pointRadius: 0, layer: 1 }
          //   }
        }
      },

      optionsQ14: {
        dataFunction: getAverageData,
        translateQuestions: true,
        postProcess: "multipleAverage",
        serieName: "Filtered",
        allSerie: true,
        dimension: "ROLE",
        formatY: true,
        subscriberPrefix: "q14",
        dataFunctionArgs: {
          table: "q14-002-2019",
          groupField: "COUNTRY",
          averageField: ["Q014_002s", "Q014_003s"]
        },
        renderOptions: {
          stacked: true,
          title: "ALL",
          sortOrdinates: {
            order: "numeric",
            direction: "DESC"
          }
        }
      },
      optionsQ14_4: {
        dataFunction: getAverageData,
        postProcess: "singleAverage",
        serieName: "Average satisfacted",
        allSerie: true,
        formatY: true,
        subscriberPrefix: "q14_004",
        dataFunctionArgs: {
          table: "q14-004-2019",
          groupField: "COUNTRY",
          averageField: "Q014_004s"
        },
        renderOptions: {
          sortOrdinates: {
            direction: "DESC"
          }
          //   drawMediumLine: {
          //     options: { borderColor: "#FF6037", borderWidth: 1, pointRadius: 0, layer: 1 }
          //   }
        }
      },
      dump: {
        dataFunction: getAverageData,
        postProcess: "singleAverage",
        serieName: "Average",
        allSerie: true,
        dataFunctionArgs: {
          table: "q14-004-2019",
          groupField: "Country",
          averageField: "Q014_004s"
        },
        renderOptions: {
          sortOrdinates: true,
          drawMediumLine: {
            options: { borderColor: "#FF6037", borderWidth: 1, pointRadius: 0, layer: 1 }
          }
        }
      }
    };
  },
  computed: {
    addedSubtitle1() {
      let group = this.$store.state.cache.q3a1userProfile
        ? this.$store.state.cache.q3a1userProfile.label
        : "Country";
      return `(by ${group})`;
    },
    dimensionOnly() {
      let group = this.$store.state.cache.q3a1userProfile
        ? this.$store.state.cache.q3a1userProfile.label
        : "Country";
      return {
        groupSingle: { default: group }
      };
    },
    subtitle() {
      return "Hello";
    },
    optionsQ14b() {
      let opts = _.cloneDeep(this.optionsQ14);
      opts.allSerie = false;
      opts.renderOptions.title = "FILTERED";
      return opts;
    }
  },
  methods: {
    async processGeneralData(selectionFilter, options) {
      //   console.log("OPTIONS", options);
      let res = await options.dataFunction(options.dataFunctionArgs);
      console.log("RES", res);
    },
    makeOptions(qCode) {
      return {
        dataFunction: getPercentageSpecialQuestions,
        postProcess: "multiFilterAverage2",
        subscriberPrefix: qCode,
        formatY: true,
        allSerie: true,
        filtersNumber: 2,
        dataFunctionArgs: {
          questionId: qCode,
          year: "2019",
          type: "approved_number"
        },
        renderOptions: {
          sort: true,
          lengthXMax: 30
        }
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.charts-geurs {
  background-color: white;
}

.geurs-title {
  background-color: rgba(0, 0, 0, 0.03);
}
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}

.upper {
  min-height: 600px;
  color: var(--light-background-left);
}

.upper-container {
  background-color: white;
}

div.pad {
  padding-top: 20px;
}

ul {
  padding-top: 20px;
}

li {
  padding-top: 10px;
}
</style>

<style lang="scss">
.nav-geurs {
  color: grey;
  font-size: 12px;
  text-transform: capitalize;
}

.nav-geurs .nav-link {
  color: #777;
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 1px solid #eee;
}

.nav-link .active {
  border-top: 1px 0 0 1px solid #eee;
  // background-color: var(--light-background-left);
}
</style>
