<template>
  <div>
    <complete-chart
      subtitle="What type of cooperation between companies and universities does your company already have?"
      title="Cooperation"
      tooltip=""
      id="Q015"
      :chartComponent="HorizontalBar"
      :fetchArgs="makeOptions('Q015')"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
    <hr />
    <complete-chart
      subtitle="How should universities evolve in order to better prepare future young graduates for the disruptive workplace?"
      title="Future Role of Universities"
      tooltip=""
      id="Q017"
      :chartComponent="HorizontalBar"
      :fetchArgs="makeOptions('Q017')"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
      height="500"
    ></complete-chart>
    <hr />
  </div>
</template>

<script>
import { getPercentageSpecialQuestions, getCustomQuery } from "@/api/neo4j/statistics";
import CompleteChart from "@/components/common/CompleteChart";
import _ from "lodash";
import BarChart from "@/components/charts/generic/BarChart.vue";
import HorizontalBarChart from "@/components/charts/generic/HorizontalBarChart.vue";
import Connector from "@/mixins/Connector";
import CsvHelper from "@/mixins/CsvHelper";

export default {
  components: {
    CompleteChart
  },
  mixins: [CsvHelper, Connector],
  created() {},
  data() {
    return {
      year: this.$route.params.year,
      visible: false,
      Bar: BarChart,
      HorizontalBar: HorizontalBarChart,
      allFiltersAndDimension: {
        filtersPart: true,
        groupSingle: { default: "Sector" }
      },

      allFilters: {
        filtersPart: true
      }
    };
  },
  computed: {},
  methods: {
    makeOptions(qCode) {
      return {
        dataFunction: getPercentageSpecialQuestions,
        postProcess: "multiFilterAverage2",
        subscriberPrefix: qCode,
        formatY: true,
        allSerie: true,
        filtersNumber: 2,
        dataFunctionArgs: {
          questionId: qCode,
          year: "2019",
          type: "approved_number"
        },
        renderOptions: {
          sort: true,
          lengthXMax: 30
        }
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.charts-geurs {
  background-color: white;
}

.geurs-title {
  background-color: rgba(0, 0, 0, 0.03);
}
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}

.upper {
  min-height: 600px;
  color: var(--light-background-left);
}

.upper-container {
  background-color: white;
}

div.pad {
  padding-top: 20px;
}

ul {
  padding-top: 20px;
}

li {
  padding-top: 10px;
}
</style>

<style lang="scss">
.nav-geurs {
  color: grey;
  font-size: 12px;
  text-transform: capitalize;
}

.nav-geurs .nav-link {
  color: #777;
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 1px solid #eee;
}

.nav-link .active {
  border-top: 1px 0 0 1px solid #eee;
  // background-color: var(--light-background-left);
}
</style>
