<template>
  <div>
    <complete-chart
      title="Country"
      subtitle="In which country do you mainly live and work? "
      id="countryParticipants"
      :chartComponent="HorizontalBar"
      :fetchArgs="countryParticipants"
      :chartOptions="{ height: 500 }"
      :filters="{ role: true, sector: true, companySize: true }"
    ></complete-chart>
    <hr />
    <complete-chart
      title="Company size"
      subtitle="In total, how many people are currently employed by your company worldwide?"
      id="companySizeParticipants"
      :chartComponent="HorizontalBar"
      :fetchArgs="companySizeParticipants"
      :chartOptions="{ height: 250 }"
      :filters="{ country: true, role: true, sector: true, companySize: false }"
    ></complete-chart>
    <hr />
    <complete-chart
      title="Industry"
      subtitle="Please indicate the main sector/branch of your company."
      id="industryParticipants"
      :chartComponent="HorizontalBar"
      :fetchArgs="industryParticipants"
      :chartOptions="{ height: 500 }"
      :filters="{ country: true, role: true, sector: false, companySize: true }"
    ></complete-chart>
    <hr />
    <complete-chart
      title="Work experience"
      subtitle="How many years of work experience do you have?"
      id="industryParticipants"
      :chartComponent="HorizontalBar"
      :chartOptions="{ height: 250 }"
      :fetchArgs="workParticipants"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
    <hr />
    <complete-chart
      title="Department"
      subtitle="In which department do you work?"
      id="departmentParticipants"
      :chartComponent="HorizontalBar"
      :fetchArgs="departmentParticipants"
      :chartOptions="{ height: 300 }"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
    <hr />
    <complete-chart
      :title="year == 2020 ? 'Recruitment experience (1)' : 'Recruitment experience'"
      subtitle="How many graduates did you recruit in the past 2 years (on your own or together with your superior)?"
      id="recruitmentParticipants"
      :chartComponent="HorizontalBar"
      :fetchArgs="recruitmentParticipants"
      :chartOptions="{ height: 250 }"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
    <hr />
    <complete-chart
      title="Recruitment experience (2)"
      subtitle="How many graduates did you work with in the past 2 years?"
      id="recruitmentParticipants2"
      :chartComponent="HorizontalBar"
      :chartOptions="{ height: 250 }"
      :fetchArgs="recruitmentParticipants2"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
      v-if="year == 2020"
    ></complete-chart>

    <complete-chart
      title="Role"
      subtitle="In which of the following fields do you have the most experience in recruiting graduates and/or working with them? "
      id="roleParticipants"
      :chartComponent="HorizontalBar"
      :fetchArgs="roleParticipants"
      :chartOptions="{ height: 300 }"
      :filters="{ country: true, role: false, sector: true, companySize: true }"
    ></complete-chart>
    <hr />
    <complete-chart
      title="Respondent experience"
      subtitle="Do you also recruit or work with graduates from foreign countries?"
      id="respondentXP"
      :chartComponent="HorizontalBar"
      :chartOptions="{ height: 250 }"
      :fetchArgs="respondentXP"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
    <hr />
    <complete-chart
      title="Company recruitment"
      subtitle="In total, how many people did your company plan to recruit in 2020 worldwide - before the corona crisis?"
      id="totalRecruit"
      :chartComponent="HorizontalBar"
      :fetchArgs="totalRecruit"
      :chartOptions="{ height: 300 }"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
  </div>
</template>

<script>
import { getPercentageData as getPercentageDataNew } from "@/api/neo4j/statistics";
import CompleteChart from "@/components/common/CompleteChart";
import _ from "lodash";
import HorizontalBarChart from "@/components/charts/generic/HorizontalBarChart.vue";
import Connector from "@/mixins/Connector";
import CsvHelper from "@/mixins/CsvHelper";

export default {
  components: {
    CompleteChart
  },
  props: {
    year: {}
  },
  mixins: [CsvHelper, Connector],
  created() {},
  data() {
    return {
      //year: this.$route.params.year,
      HorizontalBar: HorizontalBarChart,
      visible: false,
      allFiltersAndDimension: {
        filtersPart: true,
        groupSingle: { default: "Sector" }
      },

      allFilters: {
        filtersPart: true
      }
    };
  },
  computed: {
    countryParticipants() {
      return {
        dataFunction: getPercentageDataNew,
        postProcess: "multiFilterAverage2",
        subscriberPrefix: "countryParticipants",
        //serieName: "Country",
        formatY: true,
        allSerie: true,
        filtersNumber: 2,
        dataFunctionArgs: {
          groupField: "COUNTRY",
          year: this.year
        },
        renderOptions: {
          sort: true,
          lengthXMax: 40
        }
      };
    },
    companySizeParticipants() {
      let opts = _.cloneDeep(this.countryParticipants);
      opts.subscriberPrefix = "companySizeParticipants";
      opts.dataFunctionArgs.groupField = "EMPLOYEE_NUMBER";
      opts.renderOptions.yLabels = [
        "Up to 50 employees",
        "50 - 499 employees",
        "500 - 999 employees",
        "1000 - 5000 employees",
        "More than 5000 employees"
      ].reverse();
      return opts;
    },
    industryParticipants() {
      let opts = _.cloneDeep(this.countryParticipants);
      opts.subscriberPrefix = "industryParticipants";
      opts.dataFunctionArgs.groupField = "SECTOR";
      return opts;
    },
    workParticipants() {
      let opts = _.cloneDeep(this.countryParticipants);
      opts.subscriberPrefix = "workParticipants";
      opts.dataFunctionArgs.groupField = "JOB_EXPERIENCE";
      opts.renderOptions.yLabels = ["5 - 9 years", "10 - 15 years", "More than 15 years"].reverse();
      return opts;
    },
    departmentParticipants() {
      let opts = _.cloneDeep(this.countryParticipants);
      opts.subscriberPrefix = "departmentParticipants";
      opts.dataFunctionArgs.groupField = "DEPARTMENT";
      return opts;
    },
    recruitmentParticipants() {
      let opts = _.cloneDeep(this.countryParticipants);
      opts.subscriberPrefix = "recruitmentParticipants";
      opts.dataFunctionArgs.groupField =
        this.year == 2019 ? "RECRUITMENT_NUMBER" : "GRADUATE_REC_EXPERIENCE";
      opts.renderOptions.yLabels = [
        "None",
        "Less than 5",
        "5 to 9",
        "10 to 25",
        "26 to 50",
        "More than 50"
      ].reverse();
      return opts;
    },
    recruitmentParticipants2() {
      let opts = _.cloneDeep(this.countryParticipants);
      opts.subscriberPrefix = "recruitmentParticipants2";
      opts.dataFunctionArgs.groupField = "GRADUATE_WORK_EXPERIENCE";
      opts.renderOptions.yLabels = [
        "None",
        "Less than 5",
        "5 to 9",
        "10 to 25",
        "26 to 50",
        "More than 50"
      ].reverse();
      return opts;
    },
    roleParticipants() {
      let opts = _.cloneDeep(this.countryParticipants);
      opts.subscriberPrefix = "roleParticipants";
      opts.dataFunctionArgs.groupField = "ROLE";
      return opts;
    },
    respondentXP() {
      let opts = _.cloneDeep(this.countryParticipants);
      opts.subscriberPrefix = "respondentXP";
      opts.dataFunctionArgs.groupField = "EXPERIENCE";
      return opts;
    },
    totalRecruit() {
      let opts = _.cloneDeep(this.countryParticipants);
      opts.subscriberPrefix = "totalRecruit";
      opts.dataFunctionArgs.groupField = "RECRUITMENT_NUMBER";
      opts.renderOptions.yLabels =
        this.year == 2020
          ? [
              "Less than 50 employees",
              "50 - 99 employees",
              "100 - 199 employees",
              "200 - 499 employees",
              "500 - 999 employees",
              "More than 1000 employees",
              "I don't know"
            ].reverse()
          : ["10 to 25", "26 to 50", "More than 50"].reverse();
      return opts;
    }
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.charts-geurs {
  background-color: white;
}

.geurs-title {
  background-color: rgba(0, 0, 0, 0.03);
}
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}

.upper {
  min-height: 600px;
  color: var(--light-background-left);
}

.upper-container {
  background-color: white;
}

div.pad {
  padding-top: 20px;
}

ul {
  padding-top: 20px;
}

li {
  padding-top: 10px;
}
</style>

<style lang="scss">
.nav-geurs {
  color: grey;
  font-size: 12px;
  text-transform: capitalize;
}

.nav-geurs .nav-link {
  color: #777;
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 1px solid #eee;
}

.nav-link .active {
  border-top: 1px 0 0 1px solid #eee;
  // background-color: var(--light-background-left);
}
</style>
