<template>
  <div>
    Coming soon
    <complete-chart
      title="National university ranking"
      subtitle="Which universities in your country produce the best graduates in terms of employability?"
      tooltip="tooltip.natRanking"
      id="natRanking"
      :chartComponent="ChartTable"
      :fetchArgs="natRanking"
      :filters="{ countrySingle: true }"
      subscriberPrefix="natRank"
      :nav="['csv']"
    />
    <hr />
    <complete-chart
      title="Global Employability University Ranking · Origin of votes"
      subtitle="As a person dealing with international graduates, which universities are in your opinion the best in the world when it comes to graduate employability?"
      tooltip="tooltip.internatRanking"
      id="internatRanking"
      :chartComponent="HorizontalBar"
      :fetchArgs="natRanking"
      :filters="{ countrySingle: true }"
      subscriberPrefix="internatRanking"
    ></complete-chart>
    <hr />
  </div>
</template>

<script>
import { rankingDataWithArray } from "@/api/statisticsStrapi";
import CompleteChart from "@/components/common/CompleteChart";
import { getUniversityById } from "@/api/universityStrapi";
import BarChart from "@/components/charts/generic/BarChart.vue";
import ChartTable from "@/components/charts/generic/ChartTable.vue";
import _ from "lodash";
export default {
  components: {
    CompleteChart
  },
  created() {
    // await this.getDefaultCountry();
    !_.get(this, "$store.state.cache.natRankCOUNTRY")
      ? this.$store.dispatch("CACHE_VALUE", {
          natRankCOUNTRY: { label: "USA", id: "USA" }
        })
      : null;
    //console.log(this.$store.state.cache.natRankCOUNTRY);
  },
  data() {
    return {
      Bar: BarChart,
      ChartTable: ChartTable,
      natRanking: {
        dataFunction: rankingDataWithArray,
        postProcess: "simple",
        serieName: "% of votes",
        allSerie: false,
        subscriberPrefix: "natRank",
        upFiltersTitle: "Select country ranking",
        dataFunctionArgs: {
          table: "national-drivers-2019",
          arrayField: "voted",
          type: "freq"
        },
        renderOptions: {
          addRank: true,
          sortOrdinates: {
            order: "numeric",
            direction: "DESC"
          },
          plugin: "table",
          perPage: 15,
          fields: [
            {
              key: "r",
              label: "#"
            },
            {
              key: "label",
              label: "University"
            },
            {
              key: "y",
              label: "%"
            }
          ]
        }
      }
    };
  },

  methods: {
    async getDefaultCountry() {
      let country = await getUniversityById(this.$store.state.parameters.defaultUniversity.id)[
        "country"
      ];
      this.defaultCountry = {
        label: country ? country : "France",
        id: country ? country : "France"
      };
    }
  }
};
</script>

<style lang="scss" scoped></style>
