<template>
  <div>
    <complete-chart
      subtitle="What skills and abilities do graduates need to succeed in the disruptive work environment?"
      title="Skills Environment"
      tooltip=""
      id="Q018"
      :chartComponent="HorizontalBar"
      :fetchArgs="makeOptions('Q018_.*')"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
      :chartOptions="{ height: 650 }"
    ></complete-chart>
    <hr />
  </div>
</template>

<script>
import { getCustomQuery } from "@/api/neo4j/statistics";
import CompleteChart from "@/components/common/CompleteChart";
import _ from "lodash";
import BarChart from "@/components/charts/generic/BarChart.vue";
import HorizontalBarChart from "@/components/charts/generic/HorizontalBarChart.vue";
import Connector from "@/mixins/Connector";
import CsvHelper from "@/mixins/CsvHelper";

export default {
  components: {
    CompleteChart
  },
  mixins: [CsvHelper, Connector],
  created() {},
  data() {
    return {
      year: this.$route.params.year,
      visible: false,
      Bar: BarChart,
      HorizontalBar: HorizontalBarChart,
      allFiltersAndDimension: {
        filtersPart: true,
        groupSingle: { default: "Sector" }
      },

      allFilters: {
        filtersPart: true
      }
    };
  },
  computed: {},
  methods: {
    makeOptions(qCode) {
      return {
        dataFunction: getCustomQuery,
        postProcess: "multiFilterAverage2",
        subscriberPrefix: qCode,
        formatY: true,
        allSerie: true,
        filtersNumber: 2,
        dataFunctionArgs: {
          addFilter: `q.code =~ "${qCode}" AND q.text <> "Other" AND q.text <> "Other (open)"`,
          result: "q.text as _id, avg(an.value) as y",
          parameters: {
            year: 2019
          },
          marker: qCode
        },
        renderOptions: {
          sort: true,
          lengthXMax: 30
        }
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.charts-geurs {
  background-color: white;
}

.geurs-title {
  background-color: rgba(0, 0, 0, 0.03);
}
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}

.upper {
  min-height: 600px;
  color: var(--light-background-left);
}

.upper-container {
  background-color: white;
}

div.pad {
  padding-top: 20px;
}

ul {
  padding-top: 20px;
}

li {
  padding-top: 10px;
}
</style>

<style lang="scss">
.nav-geurs {
  color: grey;
  font-size: 12px;
  text-transform: capitalize;
}

.nav-geurs .nav-link {
  color: #777;
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 1px solid #eee;
}

.nav-link .active {
  border-top: 1px 0 0 1px solid #eee;
  // background-color: var(--light-background-left);
}
</style>
