<template>
  <div>
    <b-row class="ml-0 pt-3 w-100 h-100 pr-0 chart-height">
      <b-col cols="4" class="pr-0 mr-0">
        <b-row>
          <b-col>
            <widget-container :title="title" :subtitle="subtitle" :isClear="true">
              <filters
                :groupSingle="true"
                :filters="filters"
                :filtersNumber="2"
                upFiltersTitle="Filters"
                :subscriberPrefix="prefix"
                class="pl-1"
              ></filters>
            </widget-container>
          </b-col>
        </b-row>
        <b-row class="ml-0 pt-3 w-100 h-100 pr-0">
          <b-col class="pr-0 mr-0 w-100">
            <slot name="belowFilter" v-bind:chartData="visible"> </slot>
          </b-col>
        </b-row>
      </b-col>
      <b-col>
        <stat-chart
          title="Statement #1"
          :subtitle="statements[year][0]['text']"
          :questionId="statements[year][0]['questionId']"
          :prefix="prefix"
          year="2019"
        ></stat-chart>
      </b-col>
    </b-row>
    <b-row class="m-0 p-0">
      <b-col
        class="m-0 p-0 pt-3"
        cols="6"
        v-for="(elt, i) in statements[year].slice(1)"
        :key="'stat' + i"
      >
        <stat-chart
          :title="'Statement #' + (i + 2)"
          :subtitle="elt['text']"
          :questionId="elt['questionId']"
          :prefix="prefix"
          year="2019"
        ></stat-chart>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import WidgetContainer from "@/components/WidgetContainer";
import Filters from "@/components/common/Filters";
import StatChart from "@/components/geurs/StatChart";
import ChartHelper from "@/mixins/ChartHelper";
import Neo4jHelper from "@/mixins/Neo4jHelper";
import Connector from "@/mixins/Connector";
import CsvHelper from "@/mixins/CsvHelper";
import { statements } from "@/config/data";

export default {
  components: {
    WidgetContainer,
    Filters,
    StatChart
  },
  //   mounted: async function() {
  //     this.subscribeAll(this.prefix, 3);
  //     this.fetchArgs = this.makeOptions("Q014_001");
  //     this.fetchData(this.fetchArgs.defaultFilter, this.fetchArgs);
  //   },

  mixins: [Neo4jHelper, ChartHelper, Connector, CsvHelper],
  props: {
    title: {
      type: String
    },
    subtitle: {
      type: String
    },
    id: {
      type: String
    },
    chartOptions: {
      type: Object,
      default: () => new Object()
    },
    filters: {
      type: Object
    },
    tooltip: {
      type: String
    },
    filtersNumber: {
      type: Number
    },
    nav: {
      default: true
    },
    year: {}
  },
  data() {
    return {
      chartData: {},
      options: {},
      visible: true,
      component: {},
      prefix: "state1",
      statements
    };
  }
};
</script>

<style lang="scss" scoped>
.chart-height {
  min-height: 480px;
}
</style>
