<template>
  <widget-container
    :nav="nav"
    :widgetId="id"
    :id="id"
    :isClear="true"
    :tooltip="tooltip"
    :title="title"
    :subtitle="subtitle"
  >
    <b-overlay
      :show="!visible"
      rounded
      opacity="0.0"
      spinner-small
      spinner-variant="info"
      class="d-inline-block"
    >
      <geurs-generic
        :chartData="chartData"
        :options="{ ...graphOptions, ...chartOptions }"
        :visible="visible"
        :component="chartComponent"
        :id="id"
      ></geurs-generic>
    </b-overlay>
  </widget-container>
</template>

<script>
import { getPercentageDataQuestion } from "@/api/neo4j/statistics";
import WidgetContainer from "@/components/WidgetContainer";
import GeursGeneric from "@/components/charts/GeursGeneric";
import ChartHelper from "@/mixins/ChartHelper";
import Neo4jHelper from "@/mixins/Neo4jHelper";
import Connector from "@/mixins/Connector";
import CsvHelper from "@/mixins/CsvHelper";
import HorizontalBarChart from "@/components/charts/generic/HorizontalBarChart.vue";

export default {
  components: {
    WidgetContainer,
    GeursGeneric
  },
  mounted: async function() {
    this.subscribeAll(this.prefix, 3);
    this.fetchArgs = this.makeOptions(this.questionId);
    this.fetchData(this.fetchArgs.defaultFilter, this.fetchArgs);
  },

  mixins: [Neo4jHelper, ChartHelper, Connector, CsvHelper],
  props: {
    title: {
      type: String
    },
    subtitle: {
      type: String
    },
    id: {
      type: String
    },
    chartOptions: {
      type: Object,
      default: () => ({
        width: 500,
        height: 400,
        responsive: false,
        maintainAspectRatio: false
      })
    },
    filters: {
      type: Object
    },
    tooltip: {
      type: String
    },
    filtersNumber: {
      type: Number
    },
    nav: {
      default: true
    },
    questionId: {
      type: String
    },
    prefix: {
      type: String
    },
    year: {}
  },
  data() {
    return {
      chartData: {},
      options: {},
      visible: true,
      component: {},
      chartComponent: HorizontalBarChart,
      fetchArgs: {}
    };
  },
  methods: {
    makeOptions(qCode) {
      return {
        dataFunction: getPercentageDataQuestion,
        postProcess: "multiFilterAverage2",
        subscriberPrefix: this.prefix,
        formatY: true,
        allSerie: true,
        filtersNumber: 2,
        dataFunctionArgs: {
          questionId: qCode,
          year: this.year,
          addFilter: " an.value <> 'nan'"
        },
        renderOptions: {
          sort: true,
          lengthXMax: 30,
          yLabels: [
            "Not at all (1)",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9",
            "Absolutely (10)"
          ].reverse()
        }
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.chart-height {
  min-height: 480px;
}
</style>
