<template>
  <div>
    <multi-selector
      v-if="loaded"
      placeholder="All"
      :options="univOptions"
      subscribed="subscriberPrefix"
      :emitter="subscriberPrefix + 'UNIV'"
      :subscribeFunction="updateListByCountry"
      :defaultValues="challengers"
      height="600"
      :isDark="false"
      multiple
    ></multi-selector>
  </div>
</template>

<script>
//TODO NOT FINISHED

import MultiSelector from "@/components/dashboard/MultiSelector";
import { list } from "@/api/neo4j/university";
import Connector from "@/mixins/Connector";

export default {
  components: {
    MultiSelector
  },
  mixins: [Connector],
  props: {
    subscriberPrefix: {
      type: String,
      default: ""
    },
    emitter: {
      type: String
    }
  },
  mounted() {
    this.challengers = this.$store.state.cache[this.prefix];
    this.loadDefault();
  },
  data() {
    return {
      loaded: false,
      challengers: [],
      univOptions: [],
      prefix: this.subscriberPrefix + "UNIV",
      selectedUniversities: []
      //   updateListByCountry: async data => {

      //   }
    };
  },
  methods: {
    async loadDefault(data) {
      await this.updateListByCountry(data);
      this.connectorPublish(this.subscriberPrefix + "UNIV", this.challengers);
    },
    async updateListByCountry(data) {
      this.loaded = false;
      let univ = await list();
      this.univOptions = univ;
      this.selectedUniversities = [];
      this.connectorPublish(this.subscriberPrefix + "UNIV", this.selectedUniversities);
      this.loaded = true;
      // Have to update the graph
    }
  }
};
</script>

<style lang="scss" scoped></style>
