<template>
  <div>
    <complete-chart
      title="In your opinion, can and must a graduate be ready-to-work after graduation?"
      subtitle=""
      tooltip=""
      id="Q2A"
      :chartComponent="HorizontalBar"
      :fetchArgs="Q2A"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
    <hr />

    <complete-chart
      title="What do you consider to be the determining factors for a graduate to succeed in a company?"
      subtitle=""
      tooltip=""
      id="Q2B"
      :chartComponent="HorizontalBar"
      :fetchArgs="Q2B"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
    <hr />
    <complete-chart
      title="How does your company select the universities the graduates are recruited from?"
      subtitle=""
      tooltip=""
      id="Q2C"
      :chartComponent="HorizontalBar"
      :fetchArgs="Q2C"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
    <hr />
    <complete-chart
      title="According to your experience, how important are the following criteria to judge the quality of a university?"
      subtitle=""
      tooltip=""
      id="Q2D"
      :chartComponent="HorizontalBar"
      :fetchArgs="Q2D"
      :chartOptions="{ height: 650 }"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
  </div>
</template>

<script>
import {
  getPercentageDataQuestion,
  getPercentageSpecialQuestions,
  getCustomQuery
} from "@/api/neo4j/statistics";

import CompleteChart from "@/components/common/CompleteChart";
import _ from "lodash";
import LineChart from "@/components/charts/generic/LineChart.vue";
import BarChart from "@/components/charts/generic/BarChart.vue";
import HorizontalBarChart from "@/components/charts/generic/HorizontalBarChart.vue";
import { sortArrayOfObject } from "@/lib/utils";
import Connector from "@/mixins/Connector";
import CsvHelper from "@/mixins/CsvHelper";
import Neo4jHelper from "@/mixins/Neo4jHelper";
import ChartHelper from "@/mixins/ChartHelper";

export default {
  components: {
    CompleteChart
  },
  mixins: [CsvHelper, Connector],
  props: {
    year: {
      default: 2020
    }
  },
  created() {},
  data() {
    return {
      visible: false,
      HorizontalBar: HorizontalBarChart,
      allFiltersAndDimension: {
        filtersPart: true,
        groupSingle: { default: "Sector" }
      },

      allFilters: {
        filtersPart: true
      },
      Q2A: {
        dataFunction: getPercentageDataQuestion,
        postProcess: "multiFilterAverage2",
        subscriberPrefix: "q2a",
        formatY: true,
        allSerie: true,
        filtersNumber: 2,
        dataFunctionArgs: {
          debug: false,
          questionId: "Q2A",
          year: this.year
        },
        renderOptions: {
          sort: true,
          lengthXMax: 30
        }
      }
    };
  },
  computed: {
    Q2B() {
      let args = _.cloneDeep(this.Q2A);
      args.subscriberPrefix = "q2b";
      delete args.renderOptions.sort;
      args.renderOptions.sortOrdinates = { order: "numeric", direction: "DESC" };
      args.renderOptions.labelFunction = label => {
        return label.split("-")[1];
      };
      args.dataFunction = getPercentageSpecialQuestions;
      args.dataFunctionArgs.questionId = "Q2B_";
      args.dataFunctionArgs.type = "ranked";
      return args;
    },
    Q2C() {
      let args = _.cloneDeep(this.Q2A);
      args.subscriberPrefix = "q2c";
      delete args.renderOptions.sort;
      args.renderOptions.sortOrdinates = { order: "numeric", direction: "DESC" };
      args.renderOptions.labelFunction = label => {
        return label.split("-")[1];
      };
      args.dataFunction = getPercentageSpecialQuestions;
      args.dataFunctionArgs.questionId = "Q2C_";
      args.dataFunctionArgs.type = "approved";
      return args;
    },
    Q2D() {
      let args = _.cloneDeep(this.Q2A);
      args.subscriberPrefix = "q2d";
      delete args.renderOptions.sort;
      args.renderOptions.sortOrdinates = { order: "numeric", direction: "DESC" };
      args.renderOptions.labelFunction = label => {
        let res = label.split("-");
        if (label.indexOf("Up-to-date") !== -1) res[2] = res.slice(2, 5).join("-");
        else if (label.indexOf("Work-integrated") !== -1) res[2] = res.slice(2, 4).join("-");
        return [res[1].trim() + ":", res[2]];
      };
      delete args.renderOptions.lengthXMax;
      args.dataFunction = getCustomQuery;
      args.dataFunctionArgs = {
        addFilter: 'q.code =~ "Q2D_1_.*" OR q.code =~ "Q2D_2_.*"',
        result: "q.text as _id, avg(an.value) as y",
        debug: false,
        parameters: {
          year: 2020
        }
      };
      return args;
    }
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.charts-geurs {
  background-color: white;
}

.geurs-title {
  background-color: rgba(0, 0, 0, 0.03);
}
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}

.upper {
  min-height: 600px;
  color: var(--light-background-left);
}

.upper-container {
  background-color: white;
}

div.pad {
  padding-top: 20px;
}

ul {
  padding-top: 20px;
}

li {
  padding-top: 10px;
}
</style>

<style lang="scss">
.nav-geurs {
  color: grey;
  font-size: 12px;
  text-transform: capitalize;
}

.nav-geurs .nav-link {
  color: #777;
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 1px solid #eee;
}

.nav-link .active {
  border-top: 1px 0 0 1px solid #eee;
  // background-color: var(--light-background-left);
}
</style>
