<template>
  <div>
    <b-row>
      <b-col>
        <widget-container
          title="Driver Ranking"
          subtitle="For the following criteria, which university from your list would come top? (top 50)"
          :isClear="true"
          v-if="year == 2020"
        >
          <b-col cols="6" v-for="(driver, i) in yearDrivers" :key="'driver' + i" class="pt-5">
            <driver-table :driver="driver" :year="year" />
          </b-col>
        </widget-container>
        <widget-container
          title="Driver Ranking"
          subtitle="How important are the following parameters when choosing the universities from which you recruit graduates? (top 50)"
          :isClear="true"
          v-if="year == 2019"
        >
          <b-col cols="6" v-for="(driver, i) in yearDrivers" :key="'driver' + i" class="pt-5">
            <driver-table :driver="driver" :year="year" />
          </b-col>
        </widget-container>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { drivers } from "@/config/data";
import DriverTable from "@/components/charts/DriverTable.vue";
import WidgetContainer from "@/components/WidgetContainer";
import _ from "lodash";

export default {
  components: {
    DriverTable,
    WidgetContainer
  },
  props: {
    year: {
      type: Number
    }
  },
  data() {
    return {
      drivers
    };
  },
  computed: {
    yearDrivers() {
      return this.drivers[this.year];
    }
  }
};
</script>

<style lang="scss" scoped></style>
