<template>
  <div>
    <complete-chart
      title="Satisfaction"
      subtitle="All in all, how satisfied are you with the higher education in your country?"
      tooltip="tooltip.q3a"
      id="q3a"
      :chartComponent="Bar"
      :fetchArgs="fetchArgs"
      :filters="{ country: false, role: true, sector: true, department: true }"
    ></complete-chart>
    <hr />
    <complete-table
      title="Local Ranking"
      subtitle="Which universities in your country produce the best graduates in terms of employability?"
      id="localRankings"
      :chartComponent="ChartTable"
      :fetchArgs="natRanking"
      :filters="{ countryUniversitySelector: true, variant: 'local' }"
    ></complete-table>
    <hr />
    <six-table
      title="For the following criteria, which university from your list would come top?"
    ></six-table>
    <hr />
    <!-- <multi-selector
      v-if="univLoaded"
      placeholder="Select University"
      :options="univOptions"
      emitter="RankingUniversities"
      subscribed="q3b_1"
      :subscribeFunction="updateListByCountry"
      :defaultValues="localUniversities"
      multiple
    ></multi-selector> -->
    <complete-table
      title="Global Ranking"
      subtitle="As a person dealing with international graduates, which universities are in your opinion the best in the world when it comes to graduate employability?"
      id="globalRanking"
      :chartComponent="ChartTable"
      :fetchArgs="globalRanking"
      :filters="{ countryUniversitySelector: true, variant: 'global' }"
    ></complete-table>
    <hr />
    <!-- <b-row>
      <b-col>
        <widget-container
          title="Driver Ranking"
          subtitle="For the following criteria, which university from your list would come top? (top 50)"
          :isClear="true"
        >
          <b-col cols="6" v-for="(driver, i) in drivers" :key="'driver' + i" class="pt-5">
            <driver-table :driver="driver" :fetchArgs="globalRanking" />
          </b-col>
        </widget-container>
      </b-col>
    </b-row> -->
    <!--
    <complete-chart
      title="Long-term / Short-term employability"
      subtitle='To what extend do you agree with the statements "universities should focus on long-term employability of their students” (stat. 1) and "universities should mainly prepare students to slot into the present labour market” (stat. 2)? '
      id="q14"
      :chartComponent="Bar"
      :filters="dimensionOnly"
      :fetchArgs="optionsQ14"
    ></complete-chart>
    <complete-chart
      title=""
      subtitle=""
      id="q14_2"
      :chartComponent="Bar"
      :fetchArgs="optionsQ14b"
      :filters="allFilters"
    ></complete-chart>
    <hr />
    <complete-chart
      title="University sustainability"
      subtitle='To what extend do you agree with the statement "universities can’t be sustainable without being socially responsible”?'
      id="q14_004"
      :chartComponent="Bar"
      :fetchArgs="optionsQ14_4"
      :filters="allFilters"
    ></complete-chart> -->
    <hr />
  </div>
</template>

<script>
import { getCustomQuery, getRanking } from "@/api/neo4j/statistics";
import { rankingYear } from "@/api/neo4j/university";
import { drivers } from "@/config/data";
import CompleteChart from "@/components/common/CompleteChart";
//import RankingsGeurs from "@/components/geurs/RankingsGeurs";
import CompleteTable from "@/components/common/CompleteTable";
import ChartTable from "@/components/charts/generic/ChartTable.vue";
import _ from "lodash";
import BarChart from "@/components/charts/generic/BarChart.vue";
import HorizontalBarChart from "@/components/charts/generic/HorizontalBarChart.vue";
import SixTable from "@/components/charts/SixTable.vue";
import DriverTable from "@/components/charts/DriverTable.vue";
import Connector from "@/mixins/Connector";
import CsvHelper from "@/mixins/CsvHelper";
import Neo4jHelper from "@/mixins/Neo4jHelper";
import ChartHelper from "@/mixins/ChartHelper";
import WidgetContainer from "@/components/WidgetContainer";
// import MultiSelector from "@/components/dashboard/MultiSelector";

export default {
  components: {
    CompleteChart,
    CompleteTable,
    SixTable
  },
  mixins: [CsvHelper, Connector, Neo4jHelper],
  data() {
    return {
      year: this.$route.params.year,
      visible: false,
      doing: false,
      ChartTable,
      univLoaded: true,
      Bar: BarChart,
      localUniversities: [],
      HorizontalBar: HorizontalBarChart,
      allFiltersAndDimension: {
        filtersPart: true,
        groupSingle: { default: "Sector" }
      },

      allFilters: {
        filtersPart: true
      },
      fetchArgs: {
        dataFunction: getCustomQuery,
        postProcess: "singleFilterAverage",
        serieName: "Filtered",
        subscriberPrefix: "q3a",
        allSerie: true,
        groups: 2,
        formatY: true,
        dataFunctionArgs: {
          addFilter: 'q.code = "Q3A"',
          result: "c.name as _id, avg(an.value) as y",
          marker: "Q3A",
          order: "ORDER BY y desc",
          debug: false,
          parameters: {
            year: 2020
          }
        },
        renderOptions: {
          legend: {
            display: false
          },
          sortOrdinates: {
            direction: "DESC"
          },
          drawMediumLine: {
            options: { borderColor: "#FF6037", borderWidth: 1, pointRadius: 0, layer: 1 }
          }
        }
      },
      natRanking: {
        dataFunction: getRanking,
        postProcess: "simple",
        serieName: "% of votes",
        engine: "neo4j",
        allSerie: false,
        subscriberPrefix: "localRankings",
        upFiltersTitle: "Select country or university",
        dataFunctionArgs: {
          marker: "natRanking",
          debug: true,
          parameters: {
            year: 2020,
            filter: ""
          }
        },
        renderOptions: {
          addRank: true,
          plugin: "table",
          perPage: 15,
          fields: [
            {
              key: "r",
              label: "Rank"
            },
            {
              key: "x",
              label: "University"
            },
            {
              key: "y",
              label: "%"
            }
          ]
        }
      }
    };
  },
  computed: {
    addedSubtitle1() {
      let group = this.$store.state.cache.q3a1userProfile
        ? this.$store.state.cache.q3a1userProfile.label
        : "Country";
      return `(by ${group})`;
    },
    dimensionOnly() {
      let group = this.$store.state.cache.q3a1userProfile
        ? this.$store.state.cache.q3a1userProfile.label
        : "Country";
      return {
        groupSingle: { default: group }
      };
    },
    globalRanking() {
      let params = _.cloneDeep(this.natRanking);
      params.dataFunction = rankingYear;
      params.subscriberPrefix = "globalRankings";
      params.dataFunctionArgs = {
        marker: "globRanking",
        parameters: {
          year: "2020"
        }
      };
      params.renderOptions.fields = [
        {
          key: "r",
          label: "#"
        },
        {
          key: "x",
          label: "University"
        },
        {
          key: "y",
          label: "Country"
        },
        {
          key: "z",
          label: "Rank"
        }
      ];
      return params;
    },
    drivers() {
      return drivers[this.year];
    }
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.charts-geurs {
  background-color: white;
}

.geurs-title {
  background-color: rgba(0, 0, 0, 0.03);
}
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}

.upper {
  min-height: 600px;
  color: var(--light-background-left);
}

.upper-container {
  background-color: white;
}

div.pad {
  padding-top: 20px;
}

ul {
  padding-top: 20px;
}

li {
  padding-top: 10px;
}
</style>

<style lang="scss">
.nav-geurs {
  color: grey;
  font-size: 12px;
  text-transform: capitalize;
}

.nav-geurs .nav-link {
  color: #777;
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 1px solid #eee;
}

.nav-link .active {
  border-top: 1px 0 0 1px solid #eee;
  // background-color: var(--light-background-left);
}
</style>
