<template>
  <div>
    <b-row v-if="year == 2020">
      <b-col>
        <b-tabs content-class="mt-3" card nav-class="nav-geurs">
          <b-tab title="Group 1" active
            ><p></p>
            <univ-comp-1
              subscriberPrefix="univCompGraph1"
              qPattern="Q4A_.*"
              :year="year"
              title="Companies cooperate in many ways with universities. In your opinion, what kind of cooperation is the most useful to strengthen graduate employability?"
              subtitle="Ordered by Rank"
              :seriesOrder="coopSeriesOrder"
            />
          </b-tab>
          <b-tab title="Group 2"
            ><p>
              <univ-comp-1
                subscriberPrefix="univCompGraph2"
                qPattern="Q4A_.*"
                :year="year"
                title="Companies cooperate in many ways with universities. In your opinion, what kind of cooperation is the most useful to strengthen graduate employability?"
                subtitle="Ordered by Rank"
                :seriesOrder="coopSeriesOrder"
              /></p
          ></b-tab>
          <b-tab title="Group 3"
            ><p>
              <univ-comp-1
                subscriberPrefix="univCompGraph3"
                qPattern="Q4A_.*"
                :year="year"
                title="Companies cooperate in many ways with universities. In your opinion, what kind of cooperation is the most useful to strengthen graduate employability?"
                subtitle="Ordered by Rank"
                :seriesOrder="coopSeriesOrder"
              /></p
          ></b-tab>
        </b-tabs>
      </b-col>
    </b-row>
    <hr />
    <b-row>
      <b-col>
        <univ-coop-cat />
      </b-col>
    </b-row>
    <hr />
    <b-row v-if="year == 2020">
      <b-col>
        <b-tabs content-class="mt-3" card nav-class="nav-geurs">
          <b-tab title="Group 1" active
            ><p></p>
            <univ-comp-1
              subscriberPrefix="Q4D_1"
              qPattern="Q4D_.*"
              :year="year"
              title="Which skills is your integration programme meant to improve?"
              subtitle="Ordered by Rank"
              :seriesOrder="skillsSeriesOrder"
            />
          </b-tab>
          <b-tab title="Group 2"
            ><p>
              <univ-comp-1
                subscriberPrefix="Q4D_2"
                qPattern="Q4D_.*"
                :year="year"
                title="Which skills is your integration programme meant to improve?"
                subtitle="Ordered by Rank"
                :seriesOrder="skillsSeriesOrder"
              /></p
          ></b-tab>
          <b-tab title="Group 3"
            ><p>
              <univ-comp-1
                subscriberPrefix="Q4D_3"
                qPattern="Q4D_.*"
                :year="year"
                title="Which skills is your integration programme meant to improve?"
                subtitle="Ordered by Rank"
                :seriesOrder="skillsSeriesOrder"
              /></p
          ></b-tab>
        </b-tabs>
      </b-col>
    </b-row>
    <hr />
    <b-row>
      <b-col>
        <multigroup-hbarstacked
          questionId="Q4C"
          :filtersNumber="2"
          year="2020"
          title="Does your company have an integration programme for graduates?"
          subtitle=""
          subscriberPrefix="Q4C"
        ></multigroup-hbarstacked>
      </b-col>
    </b-row>
    <hr />
    <b-row>
      <b-col>
        <multigroup-hbarstacked
          questionId="Q4E"
          :filtersNumber="2"
          year="2020"
          title="To ensure the employability of graduates in future, do you think your company should invest more:"
          subtitle=""
          subscriberPrefix="Q4E"
        ></multigroup-hbarstacked>
        <!-- <complete-chart
          title="Integration"
          subtitle="Does your company have an integration programme for graduates?"
          id="Q4C"
          :chartComponent="HorizontalBarChartStacked"
          :fetchArgs="Q4C"
          :filters="{ country: true, role: true, sector: true, companySize: true }"
        ></complete-chart> -->
      </b-col>
    </b-row>
  </div>
</template>

<script>
import UnivComp1 from "@/components/charts/UnivCompGraph1";
import UnivCoopCat from "@/components/charts/UnivCoopCat";
import MultigroupHbarstacked from "@/components/charts/MultigroupHbarstacked";
import HorizontalBarChartStacked from "@/components/charts/generic/HorizontalBarChartStacked.vue";
import { drivers } from "@/config/data";
import _ from "lodash";

export default {
  components: {
    UnivComp1,
    UnivCoopCat,
    MultigroupHbarstacked
  },
  props: {
    year: {
      type: Number
    }
  },
  data() {
    return {
      drivers,
      HorizontalBarChartStacked,
      Q4C: {},
      coopSeriesOrder: {
        "1st ranked": 6,
        "2nd ranked": 5,
        "3rd ranked": 4,
        "4th ranked": 3,
        "5th ranked": 2,
        "6th ranked": 1
      },
      skillsSeriesOrder: {
        "1st ranked": 4,
        "2nd ranked": 3,
        "3rd ranked": 2
        //"I don't know": 1
      }
    };
  },
  computed: {
    yearDrivers() {
      return this.drivers[this.year];
    }
  }
};
</script>

<style lang="scss" scoped></style>
