<template>
  <b-container class="upper-container upper pl-0 pr-0" fluid>
    <b-jumbotron
      header="Monitor and improve your employability performance"
      lead
      class="jumbo-home mb-3"
    >
      <b-row class="dark-background" v-if="showWidget">
        <b-col cols="4">
          <b-row>
            <Widget-container class="float-right" subtitle="Choose university">
              &nbsp;
              <multi-selector
                v-if="loaded"
                placeholder="Select University"
                :options="univOptions"
                emitter="RankingUniversities"
                :defaultValues="challengers"
                multiple
              ></multi-selector>
            </Widget-container>
          </b-row>
          <b-row class="pt-5">
            <b-col>
              <div class="text-center pb-0">
                <b-button variant="warning" class="mt-2" @click="$bvModal.show('contact')"
                  >Find out more</b-button
                >
              </div>
            </b-col>
          </b-row>
        </b-col>
        <b-col ref="rank">
          <Widget-container
            class="float-right"
            title="Employability Benchmark"
            tooltip="tooltip.employabilityImpact"
            :nav="false"
            :info="''"
            infoTitle="INFO: Methodology"
            widgetId="rankComparator"
            tabindex="1"
            id="rank"
          >
            <b-row>
              <Rank-comparator
                v-if="loaded"
                :width="800"
                :height="370"
                subscribed="RankingUniversities"
                :defaultValues="challengers"
              ></Rank-comparator>
            </b-row>
            <b-row class="w-100" align-h="center"
              ><b-col cols="4">
                <b-button
                  variant="outline-warning"
                  class="mt-2"
                  href="https://www.employability-ranking.com"
                  target="_new"
                  >Geurs 2021</b-button
                >
              </b-col>
            </b-row>
          </Widget-container>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <h4 class="mb-2">
            92% of employers worldwide think that universities should better prepare graduates for
            the digital workplace.
          </h4>

          <p>
            {{ productName }} is a dashboard that allows universities to monitor their graduate
            employability performance, understand the drivers of success and improve their
            employability ranking position.
          </p>
          <p>
            The ability to prepare graduates for the digital workplace is a critical factor for the
            long-term performance of universities. In a competitive environment increasingly
            impacted by globalization and digitalization, universities must adopt the right strategy
            to meet market demands in a sustainable way. They need to improve their graduates'
            employability and their brand’s attractiveness among recruiters and students, to sharpen
            their profile, affirm their leadership and find their unique position in the market.
          </p>
          <p>
            Most universities overlook employability because they lack a clear way to measure and
            improve it. {{ productName }} applies analytical rigor to employability performance
            management. Our data-based approach helps university leaders review and adjust their
            employability strategy and teams in order to deduct targeted actions from data and
            achieve their goals.
          </p>

          <div class="text-center pb-0">
            <h4>Find out how we can help your institution</h4>
            <b-button variant="warning" class="mt-2" @click="$bvModal.show('contact')"
              >Contact Us</b-button
            >
          </div>
        </b-col>
      </b-row>
    </b-jumbotron>
    <b-row class="ml-3 pl-3 mt-0 pb-0">
      <h2>Benefits</h2>
    </b-row>
    <b-row class="ml-3 mb-4 mr-3">
      <b-col>
        <b-card-group deck responsive>
          <b-card title="Understand" sub-title="your employability performance">
            <b-card-text>
              The
              <i>{{ productName }}</i> benchmark provides leaders with a detailed picture of their
              institution’s performance compared to peers. With over
              <strong>1 Million university</strong> reviews by employers across years, geographies
              and industries, it offers a global standard to measure and manage employability
              performance.
            </b-card-text>
          </b-card>

          <b-card title="Align" sub-title="your organization">
            <b-card-text>
              Sustained performance requires different functions, teams, geographies, and tenure
              levels to share a common set of goals and priorities.
              <i>{{ productName }}</i> helps leaders find the disconnects and get everyone on the
              same page.
            </b-card-text>
          </b-card>
          <b-card title="Drive " sub-title="employability performance">
            <b-card-text>
              The
              <i>{{ productName }}</i> survey and benchmarking insights explain most employability
              performance variations. This helps leaders analyze the impact of organisations
              practices and culture on performance and create an implementation roadmap to improve
              it.
            </b-card-text>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>
    <b-row class="part-2 ml-0 pl-4 mr-0 pt-4 mb-0 text-center">
      <b-col class="text-center">
        <h3 class="white text-uppercase">By numbers</h3>
      </b-col>
    </b-row>
    <b-row class="w-100 part-2 ml-0 mr-0 pt-0 mb-0">
      <b-col>
        <b-card-group deck>
          <b-card class="part-2 text-center">
            <Big-number value="40M+"></Big-number>
            <b-card-text class="white">
              <p>Data points</p>
            </b-card-text>
          </b-card>
          <b-card class="part-2 text-center">
            <Big-number value="1M"></Big-number>
            <b-card-text class="white">
              <p>University Evaluations</p>
            </b-card-text>
          </b-card>
          <b-card class="part-2 text-center">
            <Big-number value="80.000"></Big-number>
            <b-card-text class="white">
              <p>Recruiters</p>
            </b-card-text>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>
    <b-row class="ml-3 pl-4 mt-3 pb-0">
      <h2>Why {{ productName }}?</h2>
    </b-row>
    <b-row class="ml-3 mb-4 mr-3">
      <b-col>
        <b-card title="Scientific, data-driven approach" border-variant="light">
          <b-card-text>
            Our database of
            <strong>40+ Million</strong> survey responses enables us to benchmark employability
            performance and tie it directly to concrete action plan. Combined with industry and
            regional insights from <strong>32 Countries</strong>, {{ productName }} helps
            universities pinpoint opportunities to improve employability of their graduates and
            drive their employability performance.
          </b-card-text>
        </b-card>

        <b-card title="Pioneers in employability " border-variant="light">
          <b-card-text>
            Emerging invented the concept of employability performance analysis. Ten years ago, we
            challenged ourselves to go beyond traditional components, like
            <strong>salaries</strong> and <strong>time-to-market</strong>, and measure the “hard”
            elements that drive employability.
          </b-card-text>
        </b-card>
        <b-card title="Implementation expertise" border-variant="light">
          <b-card-text>
            We bring a deep understanding of higher education markets and challenges. Our experts
            work side-by-side with senior leaders from the world’s top organizations to turn
            analysis into lasting academic impact.
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
    <b-row class="w-100 part-2 ml-0 pl-4 mr-0 pt-4">
      <b-col cols="2" class="white">
        <h1>HOW IT WORKS</h1>
      </b-col>
      <b-col>
        <b-card class="part-2 pt-0 white" title="Determine your Employability Score (ES)">
          <b-card-text class="white">
            The ES is a leading indicator of sustained performance in graduate employability. It
            measures the performance of your institution in key drivers of employability.
          </b-card-text>
        </b-card>
        <b-card class="part-2 pt-0 white" title="Identify your key drivers for success">
          <b-card-text class="white">
            Our 10+ years of research show that the most successful institutions align strongly with
            key drivers for success, which are rooted in deep expertise in industry-university
            relations and employability skill development.
          </b-card-text>
        </b-card>
        <b-card class="part-2 pt-0 white" title="Plan and execute your employability roadmap">
          <b-card-text class="white"
            >We process key insights like your employability score into an action plan that leads to
            sustainable results.</b-card-text
          >
        </b-card>
        <div class="text-center white pb-4">
          <h4>Find out how we can help your institution</h4>
          <b-button variant="outline-info" class="mt-2" @click="$bvModal.show('contact')"
            >Contact Us</b-button
          >
        </div>
      </b-col>
    </b-row>
    <contact></contact>
  </b-container>
</template>

<script>
import BigNumber from "@/components/charts/BigNumber";
import Contact from "@/components/Contact";
import WidgetContainer from "@/components/WidgetContainer";
import MultiSelector from "@/components/dashboard/MultiSelector";
import RankComparator from "@/components/charts/RankComparator";
import { list } from "@/api/university";
import { list as listNeo } from "@/api/neo4j/university";
import { defaultUniversities } from "@/config/data";

export default {
  name: "UpperPart",
  props: [],
  components: {
    BigNumber,
    Contact,
    WidgetContainer,
    MultiSelector,
    RankComparator
  },
  mounted() {
    // Hello
    // list().then(res => {
    //   console.log("normal", res);
    //   this.challengers = this.defaultUniversities["Sorbonne"];
    //   this.univOptions = res;
    //   this.loaded = true;
    //   now = new Date();
    //   console.log("Result for python:", now - then);
    // });
    listNeo().then(res => {
      this.challengers = this.defaultUniversities["Sorbonne"];
      this.univOptions = res;
      this.loaded = true;
    });
  },
  created: function() {},
  data: function() {
    return {
      form: {
        email: "",
        name: "",
        checked: []
      },
      emailAdvice: "",
      productName: "HEEP",
      loaded: false,
      univOptions: [],
      challengers: [],
      defaultUniversities,
      showWidget: true
    };
  },
  methods: {}
};
</script>

<style scoped>
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}
.upper {
  min-height: 400px;
  width: 100%;
}

.upper-container {
  background-color: white;
}

.jumbo-home {
  background-image: url("~@/assets/img/fauteuils2.jpg");
  background-size: cover;
}

.part-2 {
  background-color: var(--footer-background);
}

.white {
  color: white;
}

.dark-background {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px 0 20px 0;
  background-color: var(--footer-background);
}
</style>
