<template>
    <div class="text-center small-button">
        <b-button variant="outline-secondary" squared size="sm">
            <slot></slot>
        </b-button>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.small-button button {
    color: var(--light-background-right);
    border-color: var(--light-background-right);
    font-size: 11px;
}

.small-button button:hover {
    color: white;
    /* border-color: white; */
    background-color: transparent;
    font-size: 11px;
}

.small-button button:active {
    color: white;
    /* border-color: white; */
    background-color: transparent;
    font-size: 11px;
}
</style>