<template>
    <div>
        <info-modal id="contact" title="Contact us!" :closeHandler="formViewed">
            <b-form id="formHtmlId" ref="contactForm" @submit="handleSubmit" v-if="showForm">
                Want to know more? We are very happy to show you our solution HEEP (Higher Education Evaluation Platform) in a live demo with one of our consultants. Just leave your name and email address, we will get back to you very soon!
                <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
                    <b-form-input
                        id="input-2"
                        v-model="form.name"
                        required
                        placeholder="Enter name"
                    ></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-1" label="Email address:" label-for="input-1">
                    <b-form-input
                        id="input-1"
                        v-model="form.email"
                        type="email"
                        required
                        placeholder="Enter email"
                    ></b-form-input>
                    <div class="small">
                        By entering your email address you agree to be contacted by our team and exclusively by
                        our team for marketing purposes in accordance with our
                        <a
                            href="javascript:return false;"
                            v-b-modal.privacy
                        >privacy policy</a>
                    </div>
                </b-form-group>
                <!-- <b-form-group id="input-group-4">
                    <b-form-checkbox-group v-model="form.checked" id="checkboxes-4">
                        <b-form-checkbox value="me">Check me out</b-form-checkbox>
                        <b-form-checkbox value="that">Check that out</b-form-checkbox>
                    </b-form-checkbox-group>
                </b-form-group>-->

                <b-button type="submit" squared variant="outline-info" class="pr-2 mr-2">Submit</b-button>
                <b-button type="reset" variant="outline-secondary">Reset</b-button>
            </b-form>
            <div v-else>
                <h3>{{ $t("Thank you!") }}</h3>
                {{ $t("Your data has been submitted") }}
            </div>
        </info-modal>
        <info-modal id="privacy" title="Privacy Policy" size="lg">
            <privacy />
        </info-modal>
        <exit-popup emit="open_contact" />
    </div>
</template>

<script>
import InfoModal from "@/components/InfoModal";
import Privacy from "@/components/Privacy";
import ExitPopup from "@/components/common/ExitPopup";
import axios from "axios";

export default {
    data() {
        return {
            showForm: true,
            form: {
                email: "",
                name: "",
                checked: [],
            },
        };
    },
    components: {
        InfoModal,
        Privacy,
        ExitPopup,
    },
    methods: {
        handleSubmit(e) {
            e.preventDefault();
            this.form._form_key = "5eeb2b4cb8b1d508c921583e";
            this.showForm = false;
            axios
                .post(
                    "https://api.clickexperts.com/api/responses/storeAndSend",
                    {
                        parameters: this.form,
                    }
                )
                .then(() => {
                    this.$root.$emit("closeInfoModal");
                    // store to not show anymore
                    this.$store.dispatch("CONTACT_FORM_FILLED");
                })
                .catch(function (error) {
                    console.log("Error:", error);
                    return true;
                });
        },
        formViewed() {
            this.$store.dispatch("CONTACT_FORM_FILLED");
        },
    },
};
</script>

<style lang="scss" scoped>
</style>