<template>
    <div>
        <span class="context">
            <slot class="context"></slot>
        </span>
    </div>
</template>


<script>
export default {
    name: "ContextMenu",
    props: [],
    components: {},
    created: function() {},
    data: function() {
        return {};
    },
    methods: {}
};
</script>

<style scoped>
.context {
    font-size: small;
}
</style>
