<template>
  <div>
    <b-modal
      :id="id"
      :ref="id"
      v-model="modalShow"
      :title="title"
      header-class="info-header"
      footer-class="info-footer"
      :size="size"
      button-size="sm"
      :body-class="modalBodyClass"
      @close="closeHandler"
      :return-focus="returnFocus"
    >
      <b-container fluid>
        <slot></slot>
      </b-container>

      <template v-slot:modal-footer>
        <div class="w-100">
          <p class="float-left"></p>
          <action-button
            variant="primary"
            :size="size"
            class="float-right"
            @click.native="modalShow = !modalShow"
            >Close</action-button
          >
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import ActionButton from "@/components/ActionButton";
export default {
  components: {
    ActionButton
  },
  mounted() {},
  created() {
    this.$root.$on("closeInfoModal", () => (this.modalShow = false));
    this.$root.$on("open_" + this.id, () => (this.modalShow = true));
  },
  data() {
    return {
      modalShow: false
    };
  },
  computed: {
    modalBodyClass() {
      return this.dark ? "modal-body-dark" : "modal-body-light";
    }
  },
  props: {
    id: {
      type: String,
      default: ""
    },
    title: {
      type: String,
      default: ""
    },
    size: {
      type: String,
      default: "md"
    },
    dark: {
      type: Boolean,
      default: false
    },
    closeHandler: {
      type: Function,
      default: () => {}
    },
    returnFocus: {
      type: String,
      default: ""
    }
  }
};
</script>

<style>
.info-footer {
  height: 38px;
  background-color: var(--footer-background);
  color: white;
  font-size: 14px;
  border: 0;
  padding: 3px;
}

.modal-body-light {
  background-color: white;
  color: var(--footer-background);
  border: 0;
}

.modal-body-dark {
  background-color: black;
  color: var(--footer-background);
  border: 0;
}

.info-header {
  height: 38px;
  font-size: 10px;
  background-color: var(--dark-background);
  color: white;
  border: 0;
  padding-top: 0 5 0 0;
}

.info-header h5 {
  font-size: 14px;
}

.info-header button {
  color: white;
}

.modal-header {
  margin-top: 0;
  padding-top: 4px;
}

.modal-header button {
  padding: 0;
  margin: 0;
}

.modal-title {
  padding-top: 3px;
}
</style>
