<template>
  <div>
    <info-modal id="login" title="Login">
      <b-form id="formHtmlId" ref="contactForm" @submit="onSubmit" v-if="showForm">
        <b-form-invalid-feedback :state="validation">{{ errorMessage }}</b-form-invalid-feedback>
        <b-form-valid-feedback :state="msg !== '' ? true : false">{{ msg }}</b-form-valid-feedback>
        <b-form-group id="input-group-2" label="Email or Username" label-for="input-2">
          <b-form-input id="input-2" v-model="form.identifier" required></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-1" label="Password:" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="form.password"
            type="password"
            required
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" squared variant="outline-info" class="pr-2 mr-2" size="sm"
          >Submit</b-button
        >
        <b-button type="reset" variant="outline-secondary" class="pr-2 mr-2" size="sm"
          >Reset</b-button
        >
        <div class="text-center">-- or --</div>
        <div class="text-center">
          <b-button
            v-if="google"
            variant="success"
            size="sm"
            class="mt-3 mr-2"
            href="https://heepstrapi.pollup.net/connect/google"
            >Login With Google</b-button
          >
          <b-button
            v-if="google"
            variant="success"
            size="sm"
            class="mt-3 mr-2"
            href="https://heepstrapi.pollup.net/connect/linkedin"
            >Login With Linkedin</b-button
          >
        </div>
      </b-form>
      <div v-else>
        <h3>{{ $t("Thank you!") }}</h3>
        {{ $t("Your data has been submitted") }}
      </div>
    </info-modal>
  </div>
</template>

<script>
import InfoModal from "@/components/InfoModal";
import { login } from "@/api/userStrapi";
import { TEST_USER } from "@/config/config";
import { parseErrorMessage } from "@/lib/strapiUtils";

export default {
  data() {
    return {
      showForm: true,
      form: {
        email: TEST_USER.email,
        identifier: TEST_USER.email,
        password: TEST_USER.password
      },
      validation: true,
      errorMessage: "",
      google: true
    };
  },
  props: {
    msg: {
      type: String,
      default: ""
    }
  },
  components: {
    InfoModal
  },
  methods: {
    onSubmit() {
      login(this.form)
        .then(res => {
          if (res.jwt) {
            this.$store.dispatch("LOGIN");
            this.$store.dispatch("SET_TOKEN", res.jwt);
            this.$store.dispatch("SET_USER", res.user);
            this.errorMessage = "";
            this.validation = false;
            this.$bvModal.hide("login");
            this.$root.$emit("loggedIn"); // advise menu that it logged In
            this.$router.go();
          }
        })
        .catch(e => {
          let msg = parseErrorMessage(e);
          this.errorMessage = msg;
          this.validation = false;
        });
    }
  }
};
</script>

<style lang="scss" scoped></style>
