<template>
  <Context-menu>
    <b-nav>
      <b-nav-item-dropdown
        id="my-nav-dropdown"
        toggle-class="nav-link-custom"
        menu-class="dashboard-menu"
        right
        no-caret
      >
        <template slot="button-content">
          <font-awesome-icon icon="cog"></font-awesome-icon>
          <span class="pl-2">Dashboard Settings</span>
        </template>
        <b-dropdown-item>
          <router-link :to="{ path: '/experiment', query: { uni: 'Sorbonne' } }"
            >Sorbonne Dashboard</router-link
          >
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link :to="{ path: '/experiment', query: { uni: 'Monterrey' } }"
            >Monterrey Dashboard</router-link
          >
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link :to="{ path: '/experiment', query: { uni: 'Erasmus' } }"
            >Erasmus Dashboard</router-link
          >
        </b-dropdown-item>
        <b-dropdown-item>
          <router-link :to="{ path: '/experiment', query: { uni: 'epfl' } }"
            >EPFL Dashboard</router-link
          >
        </b-dropdown-item>
      </b-nav-item-dropdown>
    </b-nav>
  </Context-menu>
</template>

<script>
import ContextMenu from "@/components/ContextMenu";

export default {
  components: {
    ContextMenu
  }
};
</script>

<style scoped>
.light {
  color: var(--light-background-left);
}
.no-deco a {
  color: white;
}

li.dropdown a {
  color: var(--dark-background);
}

.dashboard-menu {
  background-color: var(--light-background-left);
}
</style>
