<template>
  <b-container class="message-container overflow-auto p-0 m-0 text-left" :style="cssVars">
    <slot></slot>
  </b-container>
</template>

<script>
export default {
  name: "MessageContainer",
  props: {
    height: {
      default: 330
    }
  },
  components: {},
  created: function() {},
  data: function() {
    return {};
  },
  computed: {
    cssVars() {
      return {
        "--bg-color": this.bgColor,
        "--height": this.height + "px"
      };
    }
  },
  methods: {}
};
</script>

<style scoped>
.message-container {
  min-width: 200px;
  overflow: scroll;
  height: var(--height);
}
</style>
