<template>
    <b-container
        v-bind:class="msgClass"
        @mouseover="clicked ? active = true : active = true"
        @mouseleave="clicked ? active = true : active = false"
        @click="toggle"
        fluid
    >
        <b-row class="mt-2 pl-3">
            <h3>{{title}}</h3>
        </b-row>
        <b-row class="pl-3">
            <b-col cols="8" class="pl-0 pr-0">
                <h4 v-if="selected" class="selected">{{body}}</h4>
                <h4 v-else>{{body}}</h4>
            </b-col>
            <b-col v-if="selected" cols="4" class="emphasis-selected text-center">{{emphasis}}</b-col>
            <b-col v-else-if="emphasis" cols="4" class="emphasis text-center">{{emphasis}}</b-col>
            <b-col v-if="component" cols="4" class="emphasis text-center">
                <b-button pill size="sm" class="emphasis-button">View</b-button>
            </b-col>
            <b-col v-else-if="link" cols="4" class="emphasis text-center">
                <router-link :to="link">
                    <b-button pill size="sm" class="emphasis-button">Visit</b-button>
                </router-link>
            </b-col>
        </b-row>
    </b-container>
</template>


<script>
export default {
    name: "Message",
    props: ["title", "body", "emphasis", "selected", "link", "component"],
    components: {},
    computed: {
        msgClass() {
            if (this.active || this.selected)
                return "ml-0 border-top border-dark bg selected";
            else return "ml-0 border-top border-dark";
        }
    },
    created: function() {},
    data: function() {
        return {
            clicked: false,
            active: this.selected
        };
    },
    methods: {
        toggle() {
            return true;
        }
    }
};
</script>

<style scoped>
h3 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: bold;
}

h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

h4.selected {
    color: var(--light-background-right);
    font-size: 12px;
}

.bg.selected {
    background-image: linear-gradient(
        to right,
        var(--dark-background-left),
        var(--dark-background)
    );
}

.bd {
    border-top: 1px solid #000 !important;
}

.emphasis {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: bold;
}

.emphasis-selected {
    color: var(--light-background-right);
    font-size: 16px;
    font-weight: bold;
}

.emphasis-button {
    font-size: 12px;
    background-color: var(--light-background-right);
}
</style>
