<template>
  <div>
    <b-row class="m-0 p-3">
      <b-col cols="9">
        <Title :type="type" id="title">
          {{ mainTitle }}
          <span v-if="tooltip">
            <font-awesome-icon icon="question-circle" class="pl-1"></font-awesome-icon>
            <b-tooltip target="title" triggers="hover" placement="bottom" variant="secondary">
              {{ $t(tooltip) }}
            </b-tooltip>
          </span>
        </Title>
      </b-col>
      <b-col class="text-right">
        <component :is="component" />
        <span class="sub-title">{{ subTitle }}</span>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Title from "@/components/Title";

export default {
  name: "PartTitle",
  props: {
    mainTitle: String,
    subTitle: {},
    type: {
      type: String,
      default: "light"
    },
    component: Object,
    tooltip: {
      type: Boolean,
      default: false
    }
  },
  components: { Title },
  created: function() {},
  data: function() {
    return {};
  },
  methods: {}
};
</script>

<style>
.light {
  color: var(--light-background-left);
}
.no-deco a {
  color: white;
}

span.sub-title {
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

li.dropdown a {
  color: var(--dark-background);
}
</style>
