<template>
  <div>
    <normal-table :name="skill" :tableOptions="tableOptions" :columns="columns"></normal-table>
    <university-detail :id="univId"></university-detail>
  </div>
</template>

<script>
import NormalTable from "@/components/common/table/NormalTable";
import { bestAtSkill } from "@/api/university";
import { formatPercent } from "@/lib/utils";
import UniversityDetail from "@/components/UniversityDetail";
import Buttons from "@/components/common/table/Buttons";

export default {
  components: {
    NormalTable,
    UniversityDetail
  },
  props: {
    skill: String
  },
  mounted() {
    this.$root.$on("showDetail", id => {
      // Save in store
      this.$store.dispatch("CACHE_VALUE", {
        detailUniv: id
      });
      this.$bvModal.show("univdetail");
    });
  },
  data() {
    return {
      univId: "",
      columns: ["display_name", this.skill, "Country", "Rank", "skill_rank", "detail-icon-drivers"]
    };
  },
  computed: {
    tableOptions() {
      let skill = this.skill;
      let templates = {};
      templates[skill] = function(h, row) {
        return formatPercent(row[skill]);
      };
      templates["detail-icon-drivers"] = Buttons;
      return {
        headings: {
          display_name: this.$t("University"),
          "detail-icon-drivers": (
            <center>
              <font-awesome-icon icon="cog"></font-awesome-icon>
            </center>
          ),
          skill_rank: "Position",
          2019: this.$t("Ranking 2019"),
          Rank: "Glob. Rank"
        },
        templates,
        requestFunction(data) {
          return bestAtSkill(skill, data).catch(e => {
            console.log("Error", e);
          });
        }
      };
    }
  }
};
</script>
