<template>
    <div>
        <span :class="type">
            <slot></slot>
        </span>
    </div>
</template>


<script>
export default {
    name: "Title",
    props: ["type"],
    components: {},
    created: function() {},
    data: function() {
        return {};
    },
    methods: {}
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

span.light {
    color: var(--light-background-left);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 32px;
    font-weight: 300;
}

span.dark {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: var(--dark-background);
}
</style>
