<template>
    <div>
        <normal-table :tableOptions="tableOptions" :columns="columns"></normal-table>
        <university-detail :id="univId"></university-detail>
    </div>
</template>

<script>
import NormalTable from "@/components/common/table/NormalTable";
import Buttons from "@/components/common/table/Buttons";
import UniversityDetail from "@/components/UniversityDetail";
import { fetchList } from "@/api/universityStrapi";

export default {
    name: "UnivTable",
    components: {
        NormalTable,
        UniversityDetail,
    },
    props: {},
    mounted() {
        this.$root.$on("showDetail", (id) => {
            // Save in store
            this.$store.dispatch("CACHE_VALUE", {
                detailUniv: id,
            });
            this.$bvModal.show("univdetail");
        });
    },
    data() {
        return {
            columns: [
                "name",
                "founded",
                "country",
                "academic_staff",
                "students",
                "detail-icon",
            ],
            univId: "",
        };
    },
    computed: {
        tableOptions() {
            let templates = {};
            templates["detail-icon"] = Buttons;
            return {
                headings: {
                    name: this.$t("University"),
                    "detail-icon": (
                        <center>
                            <font-awesome-icon icon="cog"></font-awesome-icon>
                        </center>
                    ),
                    academic_staff: "Staff",
                },
                templates,
                requestFunction(data) {
                    return fetchList(data).catch((e) => {
                        console.log("Error", e);
                    });
                },
            };
        },
    },
    methods: {},
};
</script>
