<template>
    <info-modal id="univdetail" title="University detail" size="xl" class="normal">
        <div v-if="loaded">
            <b-row>
                <b-col>
                    <span class="card-author subtle">{{ university.country }}</span>
                </b-col>
            </b-row>
            <b-row>
                <b-col class="col-8">
                    <b-row>
                        <b-col>
                            <big-number type="grey" :value="university.name"></big-number>
                        </b-col>
                    </b-row>
                    <b-row v-if="university.motto">
                        <b-col>
                            <span class="motto">
                                <font-awesome-icon icon="quote-right" class="icon"></font-awesome-icon>
                                {{ university.motto }}
                                <font-awesome-icon icon="quote-left" class="icon"></font-awesome-icon>
                            </span>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col class="text-small">
                    <b-row v-if="university.founded">
                        <b-col cols="6" class="field">Founded:</b-col>
                        <b-col class="value">{{ university.founded }}</b-col>
                    </b-row>
                    <b-row v-if="university.academic_staff">
                        <b-col class="field">Staff:</b-col>
                        <b-col class="value">{{ university.academic_staff }}</b-col>
                    </b-row>
                    <b-row v-if="university.students">
                        <b-col class="field">Students:</b-col>
                        <b-col class="value">{{ university.students }}</b-col>
                    </b-row>
                    <b-row v-if="university.control_type">
                        <b-col class="field">Governance:</b-col>
                        <b-col class="value">{{ university.control_type }}</b-col>
                    </b-row>
                    <b-col class="field">Internal ID:</b-col>
                    <b-col class="value">{{ university.id }}</b-col>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <div class="card-read subtle">HISTORY</div>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <line-chart
                        ref="chart"
                        v-if="chartLoaded"
                        :chartdata="chartdata"
                        :options="options"
                        :width="600"
                        :height="350"
                        :id="id"
                    />
                </b-col>
                <b-col class="text-grey text-justify">{{ university.description }}</b-col>
            </b-row>
            <b-row>
                <b-col>
                    <hr />
                </b-col>
            </b-row>
            <b-row align-content="end" class>
                <b-col class="text-right">
                    <span v-if="university.facebook">
                        <a :href="university.facebook" target="_new">
                            <font-awesome-icon :icon="['fab', 'facebook']" class="social"></font-awesome-icon>
                        </a>
                    </span>
                    <span v-if="university.linkedin">
                        <a :href="university.linkedin" target="_new">
                            <font-awesome-icon :icon="['fab', 'linkedin']" class="social"></font-awesome-icon>
                        </a>
                    </span>
                    <span v-if="university.instagram">
                        <a :href="university.instagram" target="_new">
                            <font-awesome-icon :icon="['fab', 'instagram']" class="social"></font-awesome-icon>
                        </a>
                    </span>
                    <span v-if="university.twitter">
                        <a :href="university.twitter" target="_new">
                            <font-awesome-icon :icon="['fab', 'twitter']" class="social"></font-awesome-icon>
                        </a>
                    </span>
                    <span v-if="university.youtube">
                        <a :href="university.youtube" target="_new">
                            <font-awesome-icon :icon="['fab', 'youtube']" class="social"></font-awesome-icon>
                        </a>
                    </span>
                    <span v-if="university.website">
                        <a :href="university.website" target="_new">
                            <font-awesome-icon :icon="['fas', 'globe']" class="social"></font-awesome-icon>
                        </a>
                    </span>
                </b-col>
            </b-row>
        </div>
    </info-modal>
</template>

<script>
import InfoModal from "@/components/InfoModal";
import BigNumber from "@/components/charts/BigNumber";
import { fetchRanking, getUniversityById } from "@/api/universityStrapi";
import LineChart from "@/components/charts/generic/LineChart.vue";
import Cojasclib from "cojasclib";

export default {
    props: {
        id: {
            type: String,
            default: "",
        },
    },
    mounted() {
        this.$root.$on("bv::modal::show", (bvEvent, modalId) => {
            this.getDetail(this.$store.state.cache.detailUniv);
        });
    },
    data() {
        return {
            showForm: true,
            loaded: false,
            chartLoaded: false,
            chartdata: [],
            options: [],
            form: {
                email: "",
                name: "",
                checked: [],
            },
            university: {
                name: "",
                website: "",
                founded: "",
            },
            graphOptions: {
                title: {
                    display: true,
                    text: "RANKING EVOLUTION",
                    fontColor: "grey",
                    padding: 20,
                },
                defaultFontColor: "grey",
                spanGaps: true,
                steppedLine: "middle",
                showLines: true,
                legendDisplay: true,
                xDisplay: true,
                xDisplayGrid: false,
                yDisplay: true,
                legend: {
                    position: "bottom",
                    fullWidth: true,
                    labels: {
                        fontColor: "grey",
                        padding: 20,
                        fontSize: 11,
                        boxWidth: 10,
                    },
                },
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                reverse: true,
                            },
                        },
                    ],
                },
                elements: {
                    line: {
                        tension: 0,
                        fill: false,
                    },
                },
            },
        };
    },
    components: {
        InfoModal,
        BigNumber,
        LineChart,
    },
    methods: {
        getDetail(id) {
            this.loaded = false;
            this.chartLoaded = false;
            getUniversityById(id)
                .then((res) => {
                    this.university = res;
                    this.university.founded =
                        res.founded != " " ? res.founded : false;
                    res.students != " " ? res.students : false;
                    res.academic_staff != " " ? res.academic_staff : false;
                    this.loaded = true;
                })
                .catch((e) => {
                    console.log("Error", e);
                });
            fetchRanking(id)
                .then((res) => {
                    this.processData(res).then(() => {
                        this.chartLoaded = true;
                    });
                })
                .catch((e) => {
                    console.log("Error", e);
                });
        },
        async processData(data) {
            this.chart = new Cojasclib.Chart(this.graphOptions);
            let series = {};
            data.forEach((elt) => {
                if (!series[elt.fromEntity])
                    series[elt.fromEntity] = new Cojasclib.Serie({
                        name: elt.fromEntity,
                    });
                series[elt.fromEntity].setDataPoint({
                    x: elt.year,
                    y: elt.rank,
                });
            });
            Object.values(series).forEach((serie) => {
                this.chart.setSerie(serie);
            });
            let res = await this.chart.render("chartjs");
            this.chartdata = res[0];
            this.options = res[1];
        },
    },
};
</script>

<style lang="scss" scoped>
span.dark {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: var(--dark-background);
}

span.motto {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: orange;
    font-style: italic;
}

.icon {
    font-size: 13px;
    padding-bottom: 5px;
}

.social {
    font-size: 20px;
    margin: 10px;
    color: darkorange;
}
.normal div {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: var(--dark-background);
}
.subtle {
    color: #aaa;
}
.card-author {
    display: block;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 15px 0 0;
    text-transform: uppercase;
}

.field {
    text-transform: uppercase;
    color: #aaa;
}

.value {
    color: var(--light-background-right);
}

.card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
}
.card-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 85%;
}
</style>
