<template>
  <b-container :fluid="true">
    <b-row class="pl-4" v-bind:class="{ clear: isClear }">
      <b-col cols="8">
        <b-row class="pl-0 pt-2 mt-0" v-if="title">
          <b-col>
            <h3 :id="title">
              {{ title }}
              <span v-if="tooltip">
                <font-awesome-icon icon="question-circle" class="pl-1"></font-awesome-icon>
                <b-tooltip
                  :target="title"
                  triggers="hover"
                  placement="bottom"
                  variant="secondary"
                  >{{ $t(tooltip) }}</b-tooltip
                >
              </span>
            </h3>
          </b-col>
        </b-row>
        <b-row class="pl-0 pt-0 mt-0 w-100" v-if="subtitle">
          <b-col cols="12">
            <h4>{{ subtitle }}</h4>
          </b-col>
        </b-row>
      </b-col>
      <b-col v-if="nav" class="pb-2 mt-0 pt-0" v-bind:class="{ clear: isClear }">
        <b-nav
          align="right"
          class="w-100 pr-2"
          v-bind:class="[isClear ? 'widget-menu-clear' : 'widget-menu']"
          :small="true"
        >
          <b-nav-item-dropdown text="Export chart" right>
            <b-dropdown-item @click="exportChart()" v-if="showExport('charts')">
              <font-awesome-icon icon="chart-line" class="pr-1 big" />as image
            </b-dropdown-item>
            <b-dropdown-item @click="exportCSV()" v-if="showExport('csv')">
              <font-awesome-icon icon="file-csv" class="pr-1 big" />as CSV
            </b-dropdown-item>
            <b-dropdown-item v-if="info" @click="$bvModal.show(info)">
              <font-awesome-icon icon="info-circle" class="pr-1 big" />Info
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </b-nav>
      </b-col>
    </b-row>

    <b-row class="pl-4 pt-0 mt-0 justify-content-right">
      <slot></slot>
    </b-row>
    <info-modal :id="info" :title="infoTitle">
      <div class="text-left">
        <span v-html="$t('info.' + info)"></span>
      </div>
    </info-modal>
  </b-container>
</template>

<script>
import InfoModal from "@/components/InfoModal";
import _ from "lodash";
export default {
  name: "WidgetContainer",
  props: {
    title: {},
    subtitle: {},
    tooltip: {},
    nav: {},
    info: {},
    infoTitle: {},
    widgetId: {},
    isClear: {
      type: Boolean,
      default: false
    }
  },
  components: { InfoModal },
  created: function() {
    if (this.nav && !this.widgetId) {
      console.log("Missing widgetID. Export chart function will not work");
    }
  },
  data: function() {
    return {};
  },
  methods: {
    exportCSV() {
      this.$root.$emit("export_csv", [this.widgetId, this.title]);
    },
    exportChart() {
      this.$root.$emit("export_img", [this.widgetId, this.title]);
    },
    showExport(elt) {
      if (_.isBoolean(this.nav)) return this.nav;
      else if (_.isArray(this.nav)) return this.nav.find(item => item == elt);
      else return false;
    }
  }
};
</script>

<style scoped>
.widget-container {
  background-color: transparent;
}

h3 {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: bold;
}
</style>
<style>
.widget-menu a {
  color: var(--selected-number);
  font-size: 10px;
  padding-bottom: 1;
}

.widget-menu a:hover {
  color: var(--light-background-left);
  font-size: 10px;
}

.widget-menu-clear a {
  color: rgb(3, 161, 142);
  font-size: 10px;
  padding-bottom: 1;
}

.widget-menu-clear a:hover {
  color: var(--light-background-left);
  font-size: 10px;
}

.widget-menu .big {
  font-size: 16px;
  padding-bottom: 0;
}

.clear h3,
.clear h4 {
  color: var(--dark-background);
}

.widget-menu .dropdown-menu {
  background-color: var(--dark-background);
  color: var(--light-background-right);
}
.widget-menu li.dropdown a {
  color: var(--light-background-right);
  font-size: 12px;
}

.widget-menu-clear .dropdown-menu {
  background-color: white;
  color: var(--light-background-right);
}
.widget-menu-clear .dropdown-menu li a {
  color: var(--light-background-right);
  font-size: smaller;
}
</style>
