<template>
  <b-container class="upper-container upper" fluid>
    <!-- <Part-title :mainTitle="mainTitle" type="dark" :component="componentTitle" /> -->
    <Part-title :mainTitle="mainTitle" type="dark" />
    <b-row class="m-0 p-0 pb-4">
      <b-col class="p-2" cols="4">
        <Widget-container title="Employability Ranking" subtitle="2020">
          <b-row class="d-flex justify-content-center">
            <b-col cols="3" class="align-bottom mt-5 mr-0">
              <Big-number :value="rank"></Big-number>
            </b-col>
            <b-col class="mt-5 ml-0" cols="9">
              <Vertical-columns
                v-if="rankLoaded"
                :options="gGraphOptions"
                serieName="serie1"
                :height="100"
                :width="150"
              ></Vertical-columns>
            </b-col>
          </b-row>
        </Widget-container>
      </b-col>
      <b-col class="p-2" cols="3">
        <Widget-container title="Employability Index" subtitle>
          <Big-slider
            :value="indice"
            :max="max"
            :labelRight="max"
            :labelLeft="0"
            class="mt-5"
            :width="400"
          ></Big-slider>
        </Widget-container>
      </b-col>
      <b-col class="p-2 w-100" cols="5">
        <Widget-container title="Employability Performance" subtitle="Drivers">
          <Pie
            v-if="votesLoaded"
            :options="pieOptions"
            serieName="serie2"
            :height="200"
            :width="400"
          ></Pie>
        </Widget-container>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import PartTitle from "@/components/PartTitle";
import WidgetContainer from "@/components/WidgetContainer";
import graphUtils from "@/lib/graphUtils";
import MenuUniv from "@/components/MenuUniv";
import BigNumber from "@/components/charts/BigNumber";
import VerticalColumns from "@/components/charts/VerticalColumns";
import Pie from "@/components/charts/Pie";
import BigSlider from "@/components/charts/BigSlider";
import { employabilityIndice } from "@/api/neo4j/university";
import { ranking, votesBySkills } from "@/api/neo4j/university";
export default {
  name: "UpperPart",
  props: ["mainTitle", "univid"],
  components: {
    WidgetContainer,
    BigNumber,
    VerticalColumns,
    BigSlider,
    Pie,
    PartTitle
  },
  computed: {},
  created: async function() {
    let rankingData = await ranking(this.univid);
    // Get max of Rank
    // let max = Math.max(...rankingData.map(o => (o.Rank !== "none" ? o.Rank : 0)), 0);
    let max = 250;
    let graphData = rankingData.map((elt, i) => {
      return {
        x: elt.x,
        y: elt.y == "none" ? 0 : max - elt.y,
        options: {
          color: i == rankingData.length - 1 ? "#C7E84D" : "#8EC4D5"
        }
      };
    });

    this.rank = rankingData[rankingData.length - 1]["y"];
    this.rank = Math.abs(this.rank);
    this.gGraphOptions = {
      data: [
        {
          name: "ranking",
          data: graphData
        }
      ]
    };
    this.rankLoaded = true;

    // Pie data
    let votesDist = await votesBySkills([{ id: this.univid }]);
    let pieData = votesDist.map((elt, i) => {
      return {
        //x: elt.response.lastIndexOf("Soft", 0) === 0 ? "Soft Skills" : elt.response.split(" ")[0],
        x: elt.response,
        y: elt.value.toFixed(2),
        options: {
          color: this.gu.largePalette[i]
        }
      };
    });
    this.pieOptions = {
      data: [
        {
          name: "Pie",
          data: pieData
        }
      ]
    };
    this.votesLoaded = true;
    this.employabilityIndice();
  },
  data: function() {
    return {
      gu: new graphUtils(),
      componentTitle: MenuUniv,
      rank: "",
      gGraphOptions: {},
      rankLoaded: false,
      votesLoaded: false,
      colors: ["#9b5de5", "#f15bb5", "#f8a07b", "#fee440", "#00bbf9", "#00f5d4"],
      pieOptions: {},
      indice: 0,
      max: 0
    };
  },
  methods: {
    employabilityIndice: async function() {
      let data = await employabilityIndice(this.univid);
      //this.indice = data.max !== 0 ? ((data.value / data.max) * 100).toFixed(2) : 0;
      this.indice = data[0]["value"].toFixed(2);
      this.max = 100;
    }
  }
};
</script>

<style scoped>
span {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-background);
  font-size: 32px;
  font-weight: 300;
}
.upper {
  min-height: 350px;
  width: 100%;
}

.upper-container {
  background-image: linear-gradient(
    to right,
    var(--light-background-left),
    var(--light-background-right)
  );
}
</style>
