<template>
  <div :class="[isDark ? 'dark' : 'light']">
    <multiselect
      v-model="selected"
      :placeholder="placeholder"
      :options="options"
      :multiple="multiple"
      :max-height="200"
      label="label"
      track-by="id"
      :preserve-search="true"
      @input="handleChange"
      :taggable="false"
      :showLabels="false"
      :option-height="4"
      :limit="limit"
    ></multiselect>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import Connector from "@/mixins/Connector";

export default {
  name: "MultiSelector",
  mixins: [Connector],
  created() {
    this.selected = this.defaultValues;
    this.connectorSubscribe(this.subscribed, async data => {
      this.selected = await this.subscribeFunction(data);
      this.handleChange();
    });
  },
  props: {
    placeholder: String,
    options: Array,
    multiple: Boolean,
    subscribed: String,
    emitter: {
      type: String,
      required: true
    },
    subscribeFunction: Function,
    defaultValues: {},
    limit: {
      type: Number,
      default: 5
    },
    isDark: {
      type: Boolean,
      default: true
    }
  },
  components: {
    Multiselect
  },
  computed: {},
  data: function() {
    return {
      value: [],
      selected: []
    };
  },
  methods: {
    handleChange() {
      this.connectorPublish(this.emitter, this.selected);
      // this.connectorSubscribe(this.receiver, this.subscribeFunction);
    }
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style lang="scss">
.multiselect__tags {
  font-size: 10px;
  background: var(--dark-background-right);
  background-image: linear-gradient(
    to right,
    var(--dark-background-left),
    var(--dark-background-right)
  );
  border: 1px solid var(--dark-background-left);
}

.multiselect__tag {
  border-radius: 1px;
  background: var(--dark-background-left);
  line-height: inherit;
}

.multiselect {
  font-size: 12px;
  width: 100%;
}

.multiselect__input,
.multiselect__single {
  border-radius: 0px;
  font-size: 12px;
  background: var(--dark-background-left);
  color: white;
}

.multiselect__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  font-size: 12px;
  opacity: 1; /* Firefox */
}

.multiselect__option--highlight {
  background: var(--dark-background-left);
  outline: none;
  color: white;
}

.multiselect__content-wrapper {
  background: black;
  border: 0;
  color: white;
}
.multiselect__option--selected {
  background: var(--dark-background-left);
  color: white;
}

.multiselect__tag-icon {
  background: var(--dark-background-right);
  color: white;
}

.multiselect__tag-icon:hover {
  background: var(--dark-background-right);
  color: white;
}

.multiselect__content {
  background: var(--dark-background-right);
}

.light {
  .multiselect__tag {
    border-radius: 0px;
    background: white;
    color: rgb(3, 161, 142);
    line-height: inherit;
  }

  .multiselect__input,
  .multiselect__single {
    border-radius: 0px;
    font-size: 12px;
    background: white;
    color: rgb(3, 161, 142);
  }

  .multiselect__tags {
    font-size: 12px;
    min-height: 20px;
    background: var(--dark-background-right);
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0px;
  }
}
</style>
