<template>
  <b-button
    v-if="column == 'detail'"
    class="fa fa-edit"
    @click="handleDetail(data.id, column)"
    size="sm"
    variant="info"
    >Detail</b-button
  >
  <a
    href="javascript:null"
    v-else-if="column == 'detail-icon'"
    class="fa fa-edit icon"
    @click="handleDetail(data.id, column)"
    size="sm"
    ><font-awesome-icon :icon="['fas', 'info-circle']"></font-awesome-icon
  ></a>
  <a
    href="javascript:null"
    v-else-if="column == 'detail-icon-drivers'"
    class="fa fa-edit icon"
    @click="handleDetail(data.univid, column)"
    size="sm"
    ><font-awesome-icon :icon="['fas', 'info-circle']"></font-awesome-icon
  ></a>
</template>

<script>
export default {
  props: ["data", "index", "column"],
  mounted() {},
  methods: {
    handleDetail(id) {
      this.$root.$emit("showDetail", id);
    }
  }
};
</script>
<style scoped>
.icon {
  color: #212529;
}
</style>
