<template>
  <div>
    <v-server-table
      :columns="columns"
      :options="options"
      :name="name"
      :caption="true"
    ></v-server-table>
  </div>
</template>

<script>
import _ from "lodash";

export default {
  props: {
    columns: Array,
    name: String,
    tableOptions: Object
  },
  mounted() {},
  data() {
    return {
      defaultOptions: {
        skin: "table table-striped table-hover",
        filterByColumn: false,
        filterable: true,
        perPage: 10,
        perPageValues: [20],
        pagination: {
          virtual: true
        }
      },
      total: 0
    };
  },
  computed: {
    options() {
      return _.merge(this.defaultOptions, this.tableOptions);
    }
  }
};
</script>

<style lang="scss">
.VueTables__search__input {
  font-size: 12px;
  width: 100%;
}
.VueTables__search {
  float: right !important;
}

.VueTables__limit {
  font-size: 12px;
}

.VueTables__limit-field select {
  font-size: 12px;
}
.VueTables__search-field {
  font-size: 12px;
  display: inline;
}

.VuePagination__pagination-item {
  font-size: 12px;
}

.VuePagination__pagination {
  a.page-link,
  .page-item.disabled .page-link {
    background-color: var(--dark-background-left);
    border-color: var(--light-background-left);
    color: white;
  }

  .page-item.disabled .page-link {
    color: grey;
  }

  .page-item.active .page-link {
    background-color: #5bb1ce;
    border-color: white;
  }
}

.VueTables__search__input {
  background-color: var(--dark-background-left);
  color: white;
  border-color: var(--light-background-left);
}

.VueTables__search-field label {
  display: none;
}

.VueTables__search__input::placeholder {
  color: white;
}
</style>
