<template>
  <div>
    <multi-selector
      v-if="loaded"
      v-model="value"
      :value="value"
      :placeholder="placeholder"
      :options="options"
      :multiple="multiple"
      :max-height="100"
      :preserve-search="true"
      :taggable="false"
      :showLabels="true"
      :option-height="7"
      class="filter"
      :limit="limit"
      :emitter="subscribed"
      :defaultValues="defaultValues"
      :isDark="false"
    ></multi-selector>
  </div>
</template>

<script>
import MultiSelector from "@/components/dashboard/MultiSelector";
import { getFilter } from "@/api/neo4j/statistics";

export default {
  components: {
    MultiSelector
  },
  props: {
    placeholder: {
      type: String,
      default: ""
    },
    subscribed: {
      // string used for connector exchange
      type: String,
      required: true
    },
    presetValues: {
      // default Values to show on mounted othewise searches in store if saved values
      type: Array
    },
    values: {
      // Values to take as options if  type is static
      type: Array
    },
    multiple: {
      // Wether multi select can hold several values
      type: Boolean,
      default: true
    },
    type: {
      type: String
    },
    all: {
      type: Boolean,
      default: false
    }
  },
  mounted() {
    this.defaultValues = this.presetValues
      ? this.presetValues
      : this.$store.state.cache[this.subscribed];
    if (this.type == "static") {
      this.options = this.values;
      this.loaded = true;
    } else {
      getFilter(this.type)
        .then(resp => {
          let add = [];
          if (this.all) {
            add = [{ id: "", label: "All" }];
          }
          this.options = [...add, ...resp];

          this.loaded = true;
        })
        .catch(e => {
          console.log("Error", e);
        });
    }
  },
  data() {
    return {
      loaded: false,
      limit: 4,
      value: "",
      options: [],
      defaultValues: []
    };
  }
};
</script>

<style lang="scss" scoped></style>
