<template>
  <div>
    <b-row class="ml-0 pt-3 w-100 h-100 pr-0 chart-height">
      <b-col cols="4" class="pr-0 mr-0">
        <b-row>
          <b-col>
            <widget-container>
              <filters
                :groupSingle="true"
                :filters="filters"
                :filtersNumber="fetchArgs.filtersNumber"
                :upFiltersTitle="fetchArgs.upFiltersTitle"
                :subscriberPrefix="prefix"
              ></filters>
            </widget-container>
          </b-col>
        </b-row>
        <b-row class="ml-0 pt-3 w-100 h-100 pr-0">
          <b-col class="pr-0 mr-0 w-100">
            <slot name="belowFilter" v-bind:chartData="visible"> </slot>
          </b-col>
        </b-row>
      </b-col>
      <b-col>
        <widget-container
          :title="title"
          :subtitle="subtitle"
          :nav="['csv']"
          :widgetId="id"
          :id="id"
          :isClear="true"
          :tooltip="tooltip"
        >
          <b-overlay
            :show="!visible"
            rounded
            opacity="0.0"
            spinner-small
            spinner-variant="info"
            class="d-inline-block"
            :options="fetchArgs.renderOptions"
          >
            <chart-table
              :id="id"
              class="full"
              :provider="providerDataFunction"
              :options="fetchArgs.renderOptions"
            >
            </chart-table>
          </b-overlay>
        </widget-container>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import WidgetContainer from "@/components/WidgetContainer";
import ChartTable from "@/components/charts/generic/ChartTable";
import Filters from "@/components/common/Filters";
import Connector from "@/mixins/Connector";
import CsvHelper from "@/mixins/CsvHelper";

export default {
  components: {
    WidgetContainer,
    ChartTable,
    Filters
  },
  mounted: async function() {},

  mixins: [Connector],
  props: {
    title: {
      type: String
    },
    subtitle: {
      type: String
    },
    id: {
      type: String
    },
    chartComponent: {
      type: Object
    },
    fetchArgs: {
      type: Object
    },
    filters: {
      type: Object
    },
    tooltip: {
      type: String
    },
    filtersNumber: {
      type: Number
    },
    providerDataFunction: {
      type: Function
    }
  },
  data() {
    return {
      options: {},
      visible: true,
      component: {},
      prefix: ""
    };
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.chart-height {
  min-height: 480px;
}

.full {
  width: 600px !important;
}
</style>
