<template>
  <div>
    <!-- <b-row :class="'ml-0 pt-3 w-100 h-100 pr-0 ' + defaultHeight ? 'chart-height' : 'no-height'"> -->
    <b-row :class="'ml-0 pt-3 w-100 h-100 pr-0 '">
      <b-col cols="4" class="pr-0 mr-0" v-if="filters">
        <b-row>
          <b-col>
            <widget-container>
              <filters
                :groupSingle="true"
                :filters="filters"
                :filtersNumber="fetchArgs.filtersNumber"
                :upFiltersTitle="fetchArgs.upFiltersTitle"
                :subscriberPrefix="prefix"
              ></filters>
            </widget-container>
          </b-col>
        </b-row>
        <b-row class="ml-0 pt-3 w-100 h-100 pr-0">
          <b-col class="pr-0 mr-0 w-100">
            <slot name="belowFilter" v-bind:chartData="visible"> </slot>
          </b-col>
        </b-row>
      </b-col>
      <b-col>
        <widget-container
          :title="title"
          :subtitle="subtitle"
          :nav="nav"
          :widgetId="id"
          :id="id"
          :isClear="true"
          :tooltip="tooltip"
        >
          <b-overlay
            :show="!visible"
            rounded
            opacity="0.0"
            spinner-small
            spinner-variant="info"
            class="d-inline-block"
          >
            <geurs-generic
              :chartData="chartData"
              :options="{ ...graphOptions, ...chartOptions }"
              :visible="visible"
              :component="chartComponent"
              :id="id"
            ></geurs-generic>
          </b-overlay>
        </widget-container>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import WidgetContainer from "@/components/WidgetContainer";
import GeursGeneric from "@/components/charts/GeursGeneric";
import Filters from "@/components/common/Filters";
import ChartHelper from "@/mixins/ChartHelper";
import Neo4jHelper from "@/mixins/Neo4jHelper";
import Connector from "@/mixins/Connector";
import CsvHelper from "@/mixins/CsvHelper";

export default {
  components: {
    WidgetContainer,
    GeursGeneric,
    Filters
  },
  mounted: async function() {
    this.prefix = this.fetchArgs.subscriberPrefix
      ? this.fetchArgs.subscriberPrefix
      : this.subscriberPrefix;
    this.subscribeAll(
      this.prefix,
      this.filtersNumber ? this.filtersNumber : this.fetchArgs.filtersNumber
    );
    // this.graphOptions.sortOrdinates = true;
    this.fetchData(this.fetchArgs.defaultFilter, this.fetchArgs);
  },

  mixins: [Neo4jHelper, ChartHelper, Connector, CsvHelper],
  props: {
    title: {
      type: String
    },
    subtitle: {
      type: String
    },
    id: {
      type: String
    },
    chartComponent: {
      type: Object
    },
    chartOptions: {
      type: Object,
      default: () => new Object()
    },
    fetchArgs: {
      type: Object
    },
    filters: {},
    tooltip: {
      type: String
    },
    filtersNumber: {
      type: Number
    },
    nav: {
      default: true
    },
    defaultHeight: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      chartData: {},
      options: {},
      visible: true,
      component: {},
      prefix: ""
    };
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.chart-height {
  min-height: 480px;
}

.no-height {
  min-height: 180px;
}
</style>
