<template>
    <div></div>
</template>

<script>
export default {
    data() {
        return {
            mintime: 10000
        };
    },
    props: {
        emit: {
            type: String,
            default: ""
        }
    },
    mounted() {
        document.addEventListener("DOMContentLoaded", () => {
            document.addEventListener("mouseout", this.popupHandler);
        });
    },
    methods: {
        isShowable() {
            let minTime = 20000;
            let lastShown = this.$store.state.popup_viewed;
            let contactFormFilled = this.$store.state.contactFormFilled;
            let now = new Date().getTime();
            // console.log("TIME", now - lastShown, minTime);
            // console.log(
            //     "CONTACT FoRM FILLED",
            //     this.$store.state.contactFormFilled
            // );
            if (contactFormFilled) return false;
            else if (now - lastShown > minTime) return true;
            else return false;
        },
        popupHandler(event) {
            if (!event.toElement && !event.relatedTarget && this.isShowable()) {
                setTimeout(() => {
                    this.$root.$emit(this.emit);
                    this.$store.dispatch(
                        "EXIT_POPUP_VIEWED",
                        new Date().getTime()
                    );
                }, 500);
            }
        }
    },
    beforeDestroy() {
        document.removeEventListener("mouseout", this.popupHandler);
    }
};
</script>

<style lang="scss" scoped>
</style>