<template>
    <div>
        <b-row class="white small text-left w-100 p-4 comment">
            <slot name="comment"></slot>
        </b-row>
        <Widget-container class="float-right bd" :nav="true">
            <b-row class="white mt-2">
                <slot name="body"></slot>
            </b-row>
        </Widget-container>
    </div>
</template>

<script>
import WidgetContainer from "@/components/WidgetContainer";
export default {
    components: {
        WidgetContainer
    }
};
</script>

<style lang="scss" scoped>
.white {
    color: white;
}

.modal-body {
    padding: 0px;
    margin: 0px;
}
.bd {
    border-top: 1px solid rgb(51, 50, 50) !important;
}
</style>
<style>
</style>