<template>
  <b-card-body>
    <b-row class="mt-0 text-left" v-if="country || filtersPart">
      <b-col>
        <span class="filterHead">Country</span>
        <common-filter
          :subscribed="subscriberPrefix + 'COUNTRY'"
          placeholder="All"
          type="COUNTRY"
        />
      </b-col>
    </b-row>
    <b-row class="mt-0 text-left" v-if="countrySingle">
      <b-col>
        <span class="filterHead">Country</span>
        <common-filter
          :subscribed="subscriberPrefix + 'COUNTRY'"
          placeholder="All"
          type="COUNTRY"
          :multiple="false"
        />
      </b-col>
    </b-row>
    <b-row class="mt-0 text-left" v-if="role || filtersPart">
      <b-col>
        <span class="filterHead">Role</span>
        <common-filter :subscribed="subscriberPrefix + 'ROLE'" placeholder="All" type="ROLE" />
      </b-col>
    </b-row>
    <b-row class="mt-0 text-left" v-if="sector || filtersPart">
      <b-col>
        <span class="filterHead">Sector</span>
        <common-filter :subscribed="subscriberPrefix + 'SECTOR'" placeholder="All" type="SECTOR" />
      </b-col>
    </b-row>
    <b-row class="mt-0 text-left" v-if="department || filtersPart">
      <b-col>
        <span class="filterHead">Department</span>
        <common-filter
          :subscribed="subscriberPrefix + 'DEPARTMENT'"
          placeholder="All"
          type="DEPARTMENT"
        />
      </b-col>
    </b-row>
    <b-row class="mt-0 text-left" v-if="companySize || filtersPart">
      <b-col>
        <span class="filterHead">Company size</span>
        <common-filter
          :subscribed="subscriberPrefix + 'EMPLOYEE_NUMBER'"
          placeholder="All"
          type="EMPLOYEE_NUMBER"
        />
      </b-col>
    </b-row>
  </b-card-body>
</template>

<script>
import CommonFilter from "@/components/common/CommonFilter";

export default {
  components: {
    CommonFilter
  },
  props: {
    subscriberPrefix: {
      type: String,
      default: ""
    },
    filters: {
      type: Object
    }
  },
  data() {
    return {
      countrySingle: false,
      countryMultiple: false,
      groupSingle: false,
      countryFilter: false,
      sector: false,
      department: false,
      role: false,
      companySize: false,
      filtersPart: false,
      country: false,
      filtersName: ["country", "role", "sector", "companySize", "department"]
    };
  },
  mounted() {
    this.processFilters();
  },

  methods: {
    processFilters() {
      Object.keys(this.filters).forEach(f => {
        this[f] = this.filters[f];
      });
    }
  }
};
</script>

<style lang="scss" scoped></style>
