<template>
  <b-container>
    <b-row>
      <b-col cols="12">
        <div class="accordion" role="tablist">
          <b-card
            no-body
            class="mb-0 filter-class"
            v-if="
              countryMultiple ||
                countrySingle ||
                groupSingle ||
                countryUniversitySelector ||
                UniversitySelector
            "
          >
            <b-card-header header-tag="header" class="p-0 filters-header" role="tab">
              <b-button
                block
                v-b-toggle="subscriberPrefix + 'd'"
                class="filters-button"
                variant="info"
                >{{ upFiltersTitle !== "" ? upFiltersTitle : "Breakdowns" }}</b-button
              >
            </b-card-header>
            <b-collapse
              :id="subscriberPrefix + 'd'"
              visible
              :accordion="subscriberPrefix + '-accordion' + 'd'"
              role="tabpanel"
            >
              <b-card-body>
                <b-row class="text-left">
                  <b-col v-if="countryMultiple">
                    <span class="filterHead">Country</span>
                    <common-filter
                      :subscribed="subscriberPrefix + 'COUNTRY'"
                      placeholder="Country"
                      type="COUNTRY"
                    />
                  </b-col>
                  <b-col v-if="countrySingle">
                    <span class="filterHead">Country</span>
                    <common-filter
                      :subscribed="subscriberPrefix + 'COUNTRY'"
                      placeholder="Country"
                      type="COUNTRY"
                      :multiple="false"
                    />
                  </b-col>
                  <b-col v-if="countryUniversitySelector">
                    <span class="filterHead">Country</span>
                    <country-university-selector
                      :subscriberPrefix="subscriberPrefix"
                      :variant="variant"
                    ></country-university-selector>
                  </b-col>
                  <b-col v-if="UniversitySelector">
                    <span class="filterHead">Choose University</span>
                    <university-selector :subscriberPrefix="subscriberPrefix"></university-selector>
                  </b-col>
                  <b-col v-if="groupSingle">
                    <common-filter
                      :subscribed="subscriberPrefix + 'userProfile'"
                      placeholder="Dimension"
                      type="static"
                      :values="[
                        { id: 'COUNTRY', label: 'Country' },
                        { id: 'SECTOR', label: 'Sector' },
                        { id: 'ROLE', label: 'Role' },
                        { id: 'EMPLOYEE_NUMBER', label: 'Company Size' }
                      ]"
                      :presetValues="[{ label: 'Country', id: 'COUNTRY ' }]"
                      :multiple="false"
                    />
                  </b-col>
                </b-row>
              </b-card-body> </b-collapse
          ></b-card>
          <div v-if="filtersPart || country || role || sector || department || companySize">
            <b-card
              no-body
              class="mb-0 filters-head"
              v-if="
                (filtersPart || country || role || sector || department || companySize) &&
                  filtersNumber == 0
              "
            >
              <b-card-header header-tag="header" class="p-0" role="tab">
                <b-button
                  block
                  v-b-toggle="subscriberPrefix"
                  class="filters-button"
                  variant="info"
                  >{{ filtersTitle }}</b-button
                >
              </b-card-header>
              <b-collapse
                :id="subscriberPrefix"
                visible
                :accordion="subscriberPrefix + '-accordion'"
                role="tabpanel"
              >
                <filters-part
                  :subscriberPrefix="subscriberPrefix"
                  :filters="filters"
                  title="Filter"
                >
                </filters-part>
              </b-collapse>
            </b-card>
            <b-card no-body class="mb-0 filters-head" v-for="index in filtersNumber" :key="index">
              <b-card-header header-tag="header" class="p-0" role="tab">
                <b-button
                  block
                  v-b-toggle="subscriberPrefix + index"
                  class="filters-button"
                  variant="info"
                  >Filters for group {{ index }}</b-button
                >
              </b-card-header>
              <b-collapse
                :id="subscriberPrefix + index"
                visible
                :accordion="subscriberPrefix + '-accordion'"
                role="tabpanel"
              >
                <filters-part :subscriberPrefix="getFiltersId()[index - 1]" :filters="filters">
                </filters-part>
              </b-collapse>
            </b-card>
          </div>
        </div>
        <!-- <filters-part
      v-for="index in filterNumber - 1"
      :subscriberPrefix="subscriberPrefix + index"
      :filters="filters"
      :key="index"
      :title="'Filter Serie ' + (index + 1)"
      collapsed
    >
    </filters-part> -->
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import CommonFilter from "@/components/common/CommonFilter";
import CountryUniversitySelector from "@/components/geurs/CountryUniversitySelector";
import UniversitySelector from "@/components/geurs/UniversitySelector";
import FiltersPart from "@/components/common/FiltersPart";
import { filtersId } from "@/lib/utils";
import _ from "lodash";

export default {
  components: {
    CommonFilter,
    CountryUniversitySelector,
    UniversitySelector,
    FiltersPart
  },
  props: {
    defaultDimensions: {
      type: Array,
      default: () => []
    },
    subscriberPrefix: {
      type: String,
      default: ""
    },
    variant: {
      type: String,
      default: ""
    },
    filters: {
      type: Object
    },
    filtersNumber: {
      type: Number,
      default: 0
    },
    upFiltersTitle: { type: String, default: "" }
  },
  data() {
    return {
      countrySingle: false,
      countryMultiple: false,
      groupSingle: false,
      countryFilter: false,
      countryUniversitySelector: false,
      UniversitySelector: false,
      sector: false,
      role: false,
      companySize: false,
      filtersPart: false,
      country: false,
      department: false,
      filtersName: ["country", "role", "sector", "companySize", "department"]
    };
  },
  mounted() {
    // console.log("filtersNumber", this.filtersNumber);
    this.processFilters();
  },

  methods: {
    processFilters() {
      Object.keys(this.filters).forEach(f => {
        this[f] = this.filters[f];
      });
    },
    getFiltersId() {
      return filtersId(this.subscriberPrefix, this.filtersNumber);
    },
    isObject(data) {}
  },
  computed: {
    filtersTitle() {
      let text = this.filtersNumber > 1 ? "Filters serie 1" : "Filters";
      return text;
    }
  }
};
</script>

<style lang="scss">
.filter-class {
  min-height: 200px;
  overflow: visible;
}

.filter-head {
  width: 250px;
  height: 15px;
}
.filters-button {
  height: 30px;
  border-radius: 0px;
  font-size: 11px;
  background-color: var(--logo);
  color: white;
}
.filterHead {
  font-size: 12px;
  //   color: grey;
}
.text-left {
  color: #aaa;
}
.filters-head {
  min-width: 100%;
}
</style>
