<template>
  <div>
    <filters v-if="part == 'filters'" v-bind="filterOptions" :subscriberPrefix="id" />
    <widget-container
      v-if="part == 'chart'"
      :title="title"
      :subtitle="subTitle"
      :nav="nav"
      :widgetId="id"
      :isClear="true"
    >
      <b-overlay
        :show="!visible"
        rounded
        opacity="0.0"
        spinner-small
        spinner-variant="info"
        class="d-inline-block"
      >
        <component
          v-if="visible"
          v-bind:is="graphComponent"
          :chartdata="chartElements.chartData"
          :options="graphOptionsProcessed"
          :width="graphOptionsProcessed.width ? graphOptionsProcessed.width : 600"
          :height="graphOptionsProcessed.height ? graphOptionsProcessed.height : 350"
          :provider="fetchStage.functionVar"
          :id="id"
          :title="graphTitle"
        />
      </b-overlay>
    </widget-container>
  </div>
</template>

<script>
// This is a simple container for all types of graph
// Always update the definition in notion look for "MultiChart"

const uid = require("uuid");
import Filters from "@/components/common/Filters";
import graphUtils from "@/lib/graphUtils";
import WidgetContainer from "@/components/WidgetContainer";
import { subscribeToFilters, render, getChart } from "@/lib/chartUtils";
import Connector from "@/mixins/Connector";
import Neo4jHelper from "@/mixins/Neo4jHelper";
import CsvHelper from "@/mixins/CsvHelper";
import { filtersDefinition } from "@/lib/utils";
import Cojasclib from "cojasclib";
import _ from "lodash";

export default {
  components: {
    Filters,
    WidgetContainer
  },
  mixins: [Connector, Neo4jHelper, CsvHelper],
  async mounted() {
    this.visible = false; // visibility handled by coponent
    if (this.part == "chart") this.chart = new Cojasclib.Chart();
    if (this.fetchStage && !this.async) {
      await this.processData();
    }
    // let saved = this.getSavedValues();
    // console.log("SAVED", saved);
    if (this.part == "chart" || this.receiver) {
      this.subscribe();
    }
    this.visible = true;
  },
  props: {
    id: {
      type: String,
      default: uid.v1() + "_"
    },
    title: {
      type: String,
      default: ""
    },
    graphTitle: {
      type: String,
      default: ""
    },
    subTitle: {
      type: String,
      default: ""
    },
    graphComponent: {
      type: Object,
      default: () => {},
      required: false
    },
    fetchStage: {
      type: Object,
      default: () => {},
      required: false
    },
    processStage: {
      type: Object,
      default: data => data
    },
    renderOptions: {
      type: Object,
      default: () => {
        return { plugin: "chartjs" };
      },
      required: false
    },
    filterOptions: {
      type: Object,
      default: () => {},
      required: false
    },
    graphOptions: {
      type: Object,
      default: () => {},
      required: false
    },
    part: {
      type: String,
      default: "",
      required: true
    },
    legends: {
      type: Array,
      required: false
    },
    nav: {},
    created() {
      this.filterOptions.subscriberPrefix = this.id;
    },
    emitter: {
      type: Boolean,
      required: false
    },
    async: {
      type: Boolean,
      default: false
    },
    receiver: {
      type: Boolean,
      required: false
    },
    height: {
      type: Number,
      default: 500
    },
    width: {
      type: Number,
      default: 600
    }
  },
  data() {
    return {
      chart: {},
      gu: new graphUtils(),
      visible: false,
      chartElements: {
        chartData: {},
        options: {}
      }
    };
  },
  computed: {
    processStageComp() {
      let defaultF = data => data;
      let ret = { ...this.processStage };
      if (this.processStage === undefined || this.processStage.functionVar == undefined) {
        ret.functionVar = defaultF;
      }
      return ret;
    },
    graphOptionsProcessed() {
      let opts = this.async ? this.fetchStage.args : this.graphOptions;
      return opts;
    }
  },
  methods: {
    async processData(filters) {
      let series = [];
      let palette = [];
      let options = this.renderOptions;
      this.filterOptions.subscriberPrefix = this.id;
      this.fetchStage.args.filter = this.makeFilter(filters, this.filterOptions);
      let rawData = await this.fetchStage.functionVar(this.fetchStage.args);
      let processedData = this.processStageComp.functionVar(rawData, this.processStageComp.args);

      // Multi series case
      if (_.isPlainObject(processedData)) {
        let legends = [];
        let n = 0;
        let length = this.getMaxLength(processedData["series"]);
        for (const serie of processedData["series"]) {
          legends.push(serie.name);
          let colors = this.getColors(length, this.renderOptions, n++);
          _.set(serie, "options.backgroundColor", colors);
          series.push(serie);
        }
        options.legends = legends;
        // Single serie case
      } else {
        series.push({ data: processedData, options: {}, name: this.renderOptions.legends[0] });
      }
      this.chartElements = await render(series, filters, options, this.chart);
      return;
    },
    subscribe() {
      let suffixes = subscribeToFilters(this.filterOptions.filters, this.id);
      for (const suffix of suffixes) {
        this.connectorSubscribe(suffix, this.updateChart);
      }
    },
    async updateChart(filters) {
      this.visible = false;
      // Visibility handled by component
      await this.processData(filters);
      this.visible = true;
    },
    // getSavedFilters(id, filters) {
    //   for (const key in filters) {
    //     if (Object.hasOwnProperty.call(filters, key)) {
    //       const element = filters[key];
    //       if (element == true) {
    //         let suffix = filtersDefinition("complete")[key];
    //         let value = this.$store.state.cache[id + suffix];
    //       }
    //     }
    //   }
    //   return null;
    // },
    getSavedValues() {
      let suffixes = subscribeToFilters(this.filterOptions.filters, this.id);
      let res = {};
      for (const suffix of suffixes) {
        res[suffix] = this.$store.state[suffix];
      }
      return res;
    },
    getColors(number, renderOptions, order) {
      let color = this.renderOptions.palette
        ? this.renderOptions.palette[order]
        : this.gu.palette_strong[order];
      return Array(number).fill(color);
    },
    getMaxLength(series) {
      let max = 0;
      for (const serie of series) {
        if (serie.data.length > max) max = serie.data.length;
      }
      return max;
    }
  }
};
</script>

<style lang="scss" scoped></style>
