<template>
  <div>
    <complete-chart
      :subtitle="subtitle"
      :title="title"
      tooltip=""
      :id="subscriberPrefix"
      :chartComponent="HorizontalBarChartStacked"
      :fetchArgs="args"
      :filters="{ country: true, role: true, sector: true, companySize: true }"
    ></complete-chart>
  </div>
</template>

<script>
import CompleteChart from "@/components/common/CompleteChart";
import HorizontalBarChartStacked from "@/components/charts/generic/HorizontalBarChartStacked";
import { getPercentageDataQuestion } from "@/api/neo4j/statistics";
export default {
  components: {
    CompleteChart
  },
  props: {
    subtitle: {},
    title: {},
    subscriberPrefix: {},
    year: {},
    questionId: {}
  },
  data() {
    return {
      HorizontalBarChartStacked: HorizontalBarChartStacked
    };
  },
  computed: {
    args() {
      let args = {
        dataFunction: getPercentageDataQuestion,
        postProcess: "multiFilterAverage2",
        subscriberPrefix: this.subscriberPrefix,
        formatY: true,
        allSerie: true,
        filtersNumber: 3,
        dataFunctionArgs: {
          debug: true,
          year: this.year,
          questionId: this.questionId
        },
        renderOptions: {
          plugin: "table",
          labelFunction: label => {
            let res = label.split("-");
            if (label.indexOf("Up-to-date") !== -1) res[2] = res.slice(2, 5).join("-");
            else if (label.indexOf("Work-integrated") !== -1) res[2] = res.slice(2, 4).join("-");
            return [res[1].trim() + ":", res[2]];
          }
        }
      };
      return args;
    }
  }
};
</script>

<style lang="scss" scoped></style>
