<template>
    <div>
        <b-toast
            :name="name"
            :id="name"
            :title="title"
            :variant="variant"
            @hide="hideHandler"
            :auto-hide-delay="autoHideDelay"
            >{{ message }}</b-toast
        >
    </div>
</template>

<script>
export default {
    props: {
        type: {
            type: String,
            default: "",
        },
        title: {
            type: String,
            default: "System message",
        },
        name: {
            type: String,
            default: "",
        },
        message: {
            type: String,
            default: "",
        },
        variant: {
            type: String,
            default: "info",
        },
        autoHideDelay: {
            type: Number,
            default: 2000,
        },
        hideHandler: {
            type: Function,
            default: () => null,
        },
    },
    methods: {
        show(name) {
            this.$bvToast.show(name);
        },
    },
};
</script>

<style lang="scss" scoped>
</style>