<template>
    <b-container id="app" class="app dash-container" v-cloak>
        <component :is="layout">
            <router-view :key="$route.fullPath" />
        </component>
    </b-container>
</template>

<script>
const default_layout = "default";
// import "./assets/js/custom";
export default {
    computed: {
        layout() {
            return (this.$route.meta.layout || default_layout) + "-layout";
        }
    }
};
</script>
<style lang="scss">
// Import custom SASS variable overrides, or alternatively
// define your variable overrides here instead
@import "assets/custom-vars.scss";

// Import Bootstrap and BootstrapVue source SCSS files
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

// General style overrides and custom classes
@import "~@/styles/tv.scss";
body {
    margin: 0;
}

.dash-container {
    margin: 0 auto;
    padding: 0 0 0 0;
    background-image: linear-gradient(
        to right,
        var(--light-background-left),
        var(--light-background-right)
    );
}

.my-widget {
    color: var(--danger);
}
// ...

[v-cloak] {
    display: none;
}
</style>
