<template>
  <div>
    <header>
      <div class="navbar p-0">
        <Navbar />
      </div>
    </header>
    <b-container>
      <b-row>
        <b-col cols="12">
          <slot />
        </b-col>
      </b-row>
    </b-container>
    <common-footer />
  </div>
</template>
<script>
import Navbar from "@/components/layout/Navbar";
import CommonFooter from "@/components/layout/CommonFooter";

export default {
  components: {
    Navbar,
    CommonFooter
  },
  name: "Default",
  beforeCreate: function() {
    document.body.style["padding-top"] = "56px";
  }
};
</script>
<style scoped>
@media (min-width: 1000px) {
  .navbar {
    width: 1140px;
  }
}

body {
  padding-top: 56px;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}
</style>
