<template>
  <div>
    <slot />
  </div>
</template>
<script>
export default {
  name: "NoNav"
};
</script>
<style>
.login {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
}

body {
  background-color: var(--footer-background);
}

#app {
  min-height: 100%;
  width: 100%;
  top: 0px;
}

body {
  padding-top: 0px;
}
</style>
