<template>
    <b-container fluid class="m-0 p-0 login">
        <b-row fluid>
            <b-col cols="12">
                <slot />
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
export default {
    name: "NoNav"
};
</script>
<style>
.login {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}

body {
    background-color: var(--body-background);
}
</style>
